body * {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #28323c; }

.main {
  position: relative;
  min-height: 100vh;
  background-color: #ffffff; }
  @media screen and (min-width: 767px) {
    .main {
      margin-left: 80px; } }
  @media screen and (min-width: 1299px) {
    .main {
      margin-left: 355px; } }

.article {
  width: 100%;
  max-width: 944px;
  padding: 36px 0px 24px;
  background: #ffffff; }
  @media screen and (min-width: 414px) {
    .article {
      padding: 108px 28px 24px; } }
  .article__container {
    padding: 0 24px; }
    @media screen and (min-width: 414px) {
      .article__container {
        padding: 0; } }
  .article__heading {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 36px; }
    @media screen and (min-width: 767px) {
      .article__heading {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 60px; } }
  .article__image {
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 48px; }
    .article__image_first {
      aspect-ratio: auto 888 / 288; }
    .article__image_second {
      aspect-ratio: auto 736 / 288; }
  .article__subhead {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
    color: #96a0aa; }
  .article__box_first {
    font-size: 26px;
    line-height: 36px;
    color: #96a0aa;
    margin-bottom: 48px; }
  .article__box_second {
    font-size: 17px;
    margin-bottom: 67px; }
  .article__box_third {
    font-size: 17px;
    margin-bottom: 44px; }
  .article__box_fourth {
    font-size: 17px;
    margin-bottom: 40px; }
  .article__box_fifth {
    font-size: 17px;
    margin-bottom: 72px; }

.articles {
  width: 100%;
  max-width: 944px;
  background: #ffffff;
  padding: 72px 24px; }
  @media screen and (min-width: 767px) {
    .articles {
      padding: 72px 28pxg; } }
  .articles__heading {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 72px; }
    @media screen and (min-width: 767px) {
      .articles__heading {
        font-size: 24px;
        line-height: 36px; } }
  .articles__bloc {
    width: 100%;
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 767px) {
      .articles__bloc {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap; } }
  .articles__column {
    width: 100%; }
    @media screen and (min-width: 767px) {
      .articles__column {
        width: calc((100% - 24px) / 2); } }
  .articles__box {
    width: 100%;
    max-width: 432px;
    cursor: pointer; }
    .articles__box:hover {
      box-shadow: 0px 12px 24px rgba(26, 65, 101, 0.25); }
    .articles__box:hover .articles__title {
      color: #50287d; }
  .articles__picture {
    width: 100%;
    aspect-ratio: auto 432 / 168; }
  .articles__subdiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: #ffffff;
    border-radius: 4px;
    padding: 24px 24px 32px;
    margin-bottom: 24px;
    box-shadow: 0px 4px 6px rgba(26, 65, 101, 0.15); }
  .articles__subhead {
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    color: white;
    border-radius: 4px;
    background-color: #50287d;
    padding: 3px 6px; }
    .articles__subhead_first {
      background-color: #9bb652; }
    .articles__subhead_second {
      background-color: #ffb345; }
    .articles__subhead_third {
      background-color: #9bb652; }
    .articles__subhead_fourth {
      background-color: #5c6f81; }
    .articles__subhead_fifth {
      background-color: #50287d; }
    .articles__subhead_sixth {
      background-color: #06999a; }
    .articles__subhead_seventh {
      background-color: #cedc00; }
    .articles__subhead_eighth {
      background-color: #6ea0e3; }
  .articles__title {
    font-size: 24px;
    line-height: 36px;
    margin: 24px 0 36px; }
    @media screen and (min-width: 767px) {
      .articles__title {
        font-size: 18px;
        line-height: 24px; } }
  .articles__subtitle {
    font-size: 13px;
    line-height: 24px;
    color: #28323c; }
