.main {
  position: relative;
  min-height: 100vh;
  background-color: #ffffff; }
  @media screen and (min-width: 767px) {
    .main {
      margin-left: 80px; } }
  @media screen and (min-width: 1299px) {
    .main {
      margin-left: 355px; } }

.header {
  display: none; }
  @media screen and (min-width: 767px) {
    .header {
      width: calc(100% - 80px);
      background-color: #ffffff;
      height: 72px;
      position: fixed;
      top: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center; } }
  @media screen and (min-width: 1299px) {
    .header {
      width: calc(100% - 355px); } }
  .header__icon {
    margin-right: 30px; }

.menu-mobile {
  width: 100%;
  height: 72px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: #e6f0fa; }
  @media screen and (min-width: 767px) {
    .menu-mobile {
      display: none; } }
  .menu-mobile__logo-small {
    width: 24px;
    height: 24px; }
  .menu-mobile__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #ffffff; }
    .menu-mobile__dots_item {
      width: 5px;
      height: 5px;
      border-radius: 50%; }
      .menu-mobile__dots_item:nth-child(1) {
        background-color: #506478; }
      .menu-mobile__dots_item:nth-child(2) {
        margin: 0 2px;
        background-color: rgba(80, 100, 120, 0.6); }
      .menu-mobile__dots_item:nth-child(3) {
        background-color: rgba(80, 100, 120, 0.3); }

.article {
  max-width: 944px;
  padding: 108px 0px 24px;
  background: #ffffff; }
  @media screen and (min-width: 767px) {
    .article {
      padding: 108px 28px 24px; } }
  .article__title {
    margin-bottom: 25px;
    padding: 0 24px 35px; }
    @media screen and (min-width: 767px) {
      .article__title {
        padding: 0 0 35px; } }
  .article__image-antiseptic {
    height: 122px;
    background-image: url("../../assets/images/dhsosef_lister_01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 44px; }
    @media screen and (min-width: 767px) {
      .article__image-antiseptic {
        height: 288px; } }
  .article__image-people {
    height: 122px;
    max-width: 736px;
    background-image: url(../../assets/images/dhsosef_lister_02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px; }
    @media screen and (min-width: 767px) {
      .article__image-people {
        height: 288px; } }
  .article__paragraph {
    max-width: 736px;
    padding: 0 24px; }
    @media screen and (min-width: 767px) {
      .article__paragraph {
        padding: 0; } }
    .article__paragraph_first {
      margin-bottom: 48px; }
    .article__paragraph_second {
      margin-bottom: 67px; }
    .article__paragraph_third {
      margin-bottom: 24px; }
    .article__paragraph_fourth {
      margin-bottom: 44px; }
    .article__paragraph_fifth {
      margin-bottom: 40px; }
    .article__paragraph_sixth {
      margin-bottom: 72px; }

.footer {
  padding-top: 48px;
  border-top: 1px solid #d2dce6; }
  @media screen and (min-width: 767px) {
    .footer {
      padding-left: 80px; } }
  @media screen and (min-width: 1299px) {
    .footer {
      padding-left: 355px; } }
  .footer__container {
    max-width: 944px; }
  .footer__title {
    padding-left: 24px;
    margin-bottom: 24px; }
  .footer__row {
    width: 100%;
    padding: 0 24px;
    display: block; }
    @media screen and (min-width: 767px) {
      .footer__row {
        display: flex;
        justify-content: space-between; } }
  .footer__column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media screen and (min-width: 767px) {
      .footer__column {
        width: 48.64%; } }

.articles-wrapper {
  width: 100%;
  cursor: pointer; }
  .articles-wrapper:hover .article-item {
    box-shadow: 0px 12px 24px rgba(26, 65, 101, 0.25); }
  .articles-wrapper:hover .title-h2 {
    color: #50287d; }
  .articles-wrapper__img {
    width: 100%;
    height: 168px;
    background-size: contain;
    background-repeat: no-repeat; }
    .articles-wrapper__img_ice {
      background-image: url(../../assets/images/ice.jpg); }

.article-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #ffffff;
  border-radius: 4px;
  padding: 24px 24px 32px;
  margin-bottom: 24px;
  box-shadow: 0px 4px 6px rgba(26, 65, 101, 0.15); }
  .article-item__title {
    margin: 24px 0 36px; }
  .article-item__description {
    font-size: 13px;
    line-height: 24px;
    color: #28323c; }
  .article-item__label_secondary-habits {
    width: 69px;
    background-color: #9bb652; }
  .article-item__label_insurance {
    width: 85px;
    background-color: #50287d; }
