@charset "UTF-8";
.main {
  position: relative;
  min-height: calc(100vh);
  background-color: #ffffff; }
  @media screen and (min-width: 1024px) {
    .main {
      margin-left: 355px; } }

.article {
  width: 100%;
  max-width: 944px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 96px;
  background-color: #fff;
  box-sizing: border-box; }
  @media screen and (min-width: 767px) {
    .article {
      padding-left: 28px;
      padding-right: 28px; } }

b {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: green; }

.custom-shadows {
  width: 100%;
  margin-bottom: 48px; }
  .custom-shadows__heading {
    margin-bottom: 36px;
    text-align: center; }
    @media screen and (min-width: 767px) {
      .custom-shadows__heading {
        text-align: start; } }
  .custom-shadows__description {
    margin-bottom: 24px; }
    .custom-shadows__description_indent-bottom {
      margin-bottom: 36px; }
    .custom-shadows__description_indent-right {
      display: block;
      margin-left: 24px;
      margin-bottom: 24px; }
  .custom-shadows__container-shadows {
    width: 100%;
    display: flex;
    margin-bottom: 36px; }
  .custom-shadows__block-shadows {
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 68px;
    padding: 100px 0;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 3px #cccccc; }
    @media screen and (min-width: 375px) {
      .custom-shadows__block-shadows {
        height: 81.75px; } }
    @media screen and (min-width: 448px) {
      .custom-shadows__block-shadows {
        height: 100px; } }
    .custom-shadows__block-shadows::before, .custom-shadows__block-shadows::after {
      content: "";
      position: absolute;
      top: 80%;
      bottom: 15px;
      width: 45%;
      max-width: 300px;
      background-color: #dddddd;
      box-shadow: 0 15px 10px #555555; }
    .custom-shadows__block-shadows::before {
      left: 10px; }
    .custom-shadows__block-shadows::after {
      right: 10px; }
  .custom-shadows__block-shadows-converted {
    margin: auto;
    position: relative;
    width: 400px;
    height: 68px;
    padding: 100px 0;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 3px #cccccc; }
    @media screen and (min-width: 375px) {
      .custom-shadows__block-shadows-converted {
        height: 81.75px; } }
    @media screen and (min-width: 448px) {
      .custom-shadows__block-shadows-converted {
        height: 100px; } }
    .custom-shadows__block-shadows-converted::before, .custom-shadows__block-shadows-converted::after {
      content: "";
      position: absolute;
      top: 80%;
      bottom: 15px;
      /* уберём псевдоэлементы н задний план*/
      z-index: -1;
      width: 45%;
      max-width: 300px;
      background-color: #dddddd;
      box-shadow: 0 15px 10px #555555; }
    .custom-shadows__block-shadows-converted::before {
      left: 10px;
      transform: rotate(-3deg); }
    .custom-shadows__block-shadows-converted::after {
      right: 10px;
      transform: rotate(3deg); }

.hover-active {
  width: 100%;
  margin-bottom: 72px; }
  .hover-active__heading {
    margin-bottom: 36px; }
  .hover-active__description {
    margin-bottom: 24px; }
  .hover-active__button-container {
    width: 100%;
    padding: 36px 0;
    display: flex;
    justify-content: center;
    align-items: center; }
  .hover-active__button-block {
    width: 100%;
    max-width: 400px;
    padding: 10px 0;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 3px #cccccc; }
    @media screen and (min-width: 576px) {
      .hover-active__button-block {
        padding: 10px 20px; } }
  .hover-active__button {
    position: relative;
    width: 272px;
    height: 60px;
    margin: 20px auto;
    padding: 0;
    font-size: 22px;
    border-radius: 30px;
    text-align: center;
    color: white;
    border: none;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); }
    @media screen and (min-width: 375px) {
      .hover-active__button {
        width: 300px; } }
    .hover-active__button_renovation {
      background-color: #1abc9c;
      border-bottom: 2px solid #12ab8d;
      background-image: linear-gradient(green, yellow, green);
      box-shadow: inset 0 -2px #12ab45; }
      .hover-active__button_renovation:hover .hover-active__icon_renovation {
        transform: rotate(360deg) scale(2);
        transition: transform 0.4s ease-in-out; }
      .hover-active__button_renovation:active .hover-active__icon_renovation {
        transform: rotate(-360deg) scale(1.5);
        transition: transform 0.4s ease-in-out; }
      .hover-active__button_renovation:hover {
        background-image: linear-gradient(blue, red, blue);
        border-bottom: 2px solid #1236ab;
        box-shadow: inset 0 -2px #1280ab; }
      .hover-active__button_renovation:active {
        top: 1px;
        box-shadow: none;
        transition: transform 0.4s ease-in-out; }
    .hover-active__button_basket {
      background-image: linear-gradient(red, yellow, red);
      box-shadow: inset 0 -2px #e20736; }
      .hover-active__button_basket:hover {
        background-image: linear-gradient(orange, red, orange); }
      .hover-active__button_basket:hover .hover-active__icon_hidden {
        transform: scale(1);
        transition: opacity 0.2s ease-in-out;
        opacity: 1; }
      .hover-active__button_basket:hover .hover-active__icon_basket {
        opacity: 0;
        transform: scale(10);
        transition: all 0.4s ease-in-out; }
      .hover-active__button_basket:active .hover-active__icon_hidden {
        transform: scale(3);
        transition: all 0.4s ease-in-out; }
      .hover-active__button_basket:active {
        top: 1px;
        box-shadow: none;
        transition: transform 0.4s ease-in-out; }
    .hover-active__button_message {
      background-image: linear-gradient(purple, orange, purple);
      box-shadow: inset 0 -2px #f032c0; }
      .hover-active__button_message:hover {
        background-image: linear-gradient(white, red, white);
        box-shadow: inset 0 -2px #f8f1f6; }
      .hover-active__button_message:hover .hover-active__icon_hidden-message {
        opacity: 1;
        transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out 0.1s;
        transform: scale(1); }
      .hover-active__button_message:hover .hover-active__icon_message {
        opacity: 0;
        transform: scale(10);
        transition: all 0.4s ease-in-out; }
      .hover-active__button_message:active .hover-active__icon_hidden-message {
        transform: scale(3);
        transition: all 0.4s ease-in-out; }
      .hover-active__button_message:active {
        top: 1px;
        box-shadow: none;
        transition: transform 0.4s ease-in-out; }
  .hover-active__icon {
    position: absolute;
    left: 20px; }
    .hover-active__icon_renovation {
      width: 24px;
      height: 24px; }
    .hover-active__icon_basket {
      width: 32px;
      height: 32px;
      bottom: 12px; }
    .hover-active__icon_hidden {
      width: 24px;
      height: 24px;
      opacity: 0; }
    .hover-active__icon_message {
      width: 28px;
      height: 28px;
      top: 16px; }
    .hover-active__icon_hidden-message {
      width: 28px;
      height: 28px;
      opacity: 0; }

.active-gallery {
  width: 100%;
  margin-bottom: 72px; }
  .active-gallery__heading {
    margin-bottom: 36px; }
  .active-gallery__description {
    margin-bottom: 24px; }
  .active-gallery__block {
    width: 100%;
    padding: 24px;
    background-color: #f5f5f5; }
  .active-gallery__deck {
    list-style: none; }
  .active-gallery__card {
    width: 100px;
    position: relative;
    display: inline-block;
    margin: 0 20px 20px 0; }
    .active-gallery__card:hover {
      transition: all 0.1s linear;
      opacity: 0.6;
      transform: scale(1.1); }

.stack-cards {
  width: 100%;
  border-color: #ffffff;
  margin-bottom: 72px; }
  .stack-cards__heading {
    margin-bottom: 36px; }
  .stack-cards__description {
    margin-bottom: 24px; }
  .stack-cards__block {
    width: 100%;
    max-width: 700px;
    height: 300px;
    margin: 0 auto;
    padding: 24px;
    background-color: #f5f5f5;
    position: relative; }
  .stack-cards__container {
    width: 272px;
    height: 175px;
    top: 100px;
    left: 0;
    position: relative; }
    @media screen and (min-width: 576px) {
      .stack-cards__container {
        left: 40%; } }
  .stack-cards__deck {
    width: 110px; }
  .stack-cards__card {
    position: absolute;
    transition: all 0.1s linear;
    transform-origin: 0 0; }
    .stack-cards__card:hover {
      transition: all 0.1s linear; }
    .stack-cards__card_jack {
      transform: rotate(-10deg); }
      .stack-cards__card_jack:hover {
        transform: rotate(-90deg); }
    .stack-cards__card_ten-2 {
      transform: rotate(-20deg); }
      .stack-cards__card_ten-2:hover {
        transform: rotate(-90deg); }
    .stack-cards__card_ace {
      transform: rotate(-30deg); }
      .stack-cards__card_ace:hover {
        transform: rotate(-90deg); }
    .stack-cards__card_king {
      transform: rotate(-40deg); }
      .stack-cards__card_king:hover {
        transform: rotate(-90deg); }
    .stack-cards__card_queen {
      transform: rotate(-50deg); }
      .stack-cards__card_queen:hover {
        transform: rotate(-90deg); }
    .stack-cards__card_ten {
      transform: rotate(-60deg); }
      .stack-cards__card_ten:hover {
        transform: rotate(-90deg); }

.centering {
  width: 100%;
  margin-bottom: 48px; }
  .centering__heading {
    margin-bottom: 36px; }
  .centering__description {
    margin-bottom: 24px; }
    .centering__description_block {
      display: block;
      padding: 0 24px; }
  .centering__description-block {
    margin-bottom: 48px; }
  .centering__block-image {
    width: 100%;
    height: 262.5px;
    position: relative;
    border: 1px solid #918686;
    margin-bottom: 48px; }
  .centering__image-centering {
    position: relative;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.5; }

.aspect-ratio {
  width: 100%;
  background-color: #fff;
  margin-bottom: 72px; }
  .aspect-ratio__heading {
    margin-bottom: 36px;
    text-align: center; }
    .aspect-ratio__heading_span {
      display: block; }
      @media screen and (min-width: 767px) {
        .aspect-ratio__heading_span {
          display: inline; } }
    @media screen and (min-width: 767px) {
      .aspect-ratio__heading {
        text-align: start; } }
  .aspect-ratio__subheading {
    margin-bottom: 36px; }
  .aspect-ratio__description {
    margin-bottom: 24px; }
  .aspect-ratio__syntax {
    color: green;
    margin-bottom: 36px; }
  .aspect-ratio__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px; }
  .aspect-ratio__column {
    margin-bottom: 24px; }
  .aspect-ratio__wrapper {
    aspect-ratio: 282/216;
    background-color: gray;
    background-size: cover;
    background-position: center center; }
    .aspect-ratio__wrapper_img {
      aspect-ratio: none; }
  .aspect-ratio__picture {
    width: 100%;
    aspect-ratio: 282/216; }

.after-before {
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 72px; }
  .after-before__heading {
    margin-bottom: 36px; }
  .after-before__description {
    margin-bottom: 24px; }
    .after-before__description_link {
      color: blue;
      text-decoration: none; }

.menu {
  background: rgba(230, 240, 250, 0.75);
  display: none; }
  @media screen and (min-width: 1024px) {
    .menu {
      position: fixed;
      top: 72px;
      left: 0;
      display: block;
      height: 100vh;
      width: 355px;
      padding: 24px 28px; } }
  .menu__list {
    padding: 6px 0;
    border-top: 1px solid #bfd1e4;
    margin-right: 10px; }
  .menu__link {
    text-decoration: none;
    color: #333333;
    padding: 6px 0; }
  .menu__item {
    margin-left: 24px;
    position: relative;
    padding: 6px 0;
    border-top: 1px solid #bfd1e4; }
    .menu__item_link {
      text-decoration: none;
      color: #333333;
      padding: 6px 0;
      margin-right: 10px; }
  .menu__transform {
    display: none; }
  .menu__transitions {
    display: none; }
  .menu__gradient {
    display: none; }
  .menu__shadow {
    display: none; }
  .menu__stuff {
    display: block; }
  .menu__forms {
    display: none; }

.menu-mobile {
  width: 100%;
  height: 72px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: #e6f0fa; }
  @media screen and (min-width: 1024px) {
    .menu-mobile {
      display: none; } }
  .menu-mobile__logo-small {
    width: 24px;
    height: 24px; }
  .menu-mobile__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #ffffff; }
    .menu-mobile__dots_item {
      width: 5px;
      height: 5px;
      border-radius: 50%; }
      .menu-mobile__dots_item:nth-child(1) {
        background-color: #506478; }
      .menu-mobile__dots_item:nth-child(2) {
        margin: 0 2px;
        background-color: rgba(80, 100, 120, 0.6); }
      .menu-mobile__dots_item:nth-child(3) {
        background-color: rgba(80, 100, 120, 0.3); }

.header {
  width: 100%;
  height: 72px;
  opacity: 0.5;
  position: fixed;
  top: 0;
  background-image: linear-gradient(red, gold, red); }
