body * {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #28323c; }

.main {
  position: relative;
  min-height: 100vh;
  background-color: #f3f5f7; }
  @media screen and (min-width: 767px) {
    .main {
      margin-left: 80px; } }
  @media screen and (min-width: 1299px) {
    .main {
      margin-left: 355px; } }

.top-block {
  width: 100%;
  background-color: #ffffff;
  padding: 92px 0 27px 24px; }
  @media screen and (min-width: 375px) {
    .top-block {
      padding-bottom: 67px; } }
  @media screen and (min-width: 767px) {
    .top-block {
      padding-left: 28px; } }
  .top-block__help {
    align-items: center;
    color: #ff005a;
    margin-bottom: 79px; }
  .top-block__phone-label {
    color: #96a0aa; }
  .top-block__phone-value {
    margin-bottom: 32px; }
  .top-block__policy {
    color: #96a0aa;
    margin-bottom: 10px; }
  .top-block__policy-value {
    color: #96a0aa; }

.attention {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 55px 28px 47px;
  display: flex; }
  @media screen and (min-width: 1440px) {
    .attention {
      justify-content: flex-start; } }

.list {
  width: 100%;
  margin-right: 24px; }
  @media screen and (min-width: 767px) {
    .list {
      width: 50%; } }
  @media screen and (min-width: 1440px) {
    .list {
      width: 33.33%; } }

.list-title {
  color: #96a0aa;
  margin-bottom: 14px; }

.list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 14px; }
  .list-item__dot {
    width: 6px;
    height: 6px;
    background-color: #50287d;
    border-radius: 50%;
    margin-right: 17px; }
  .list-item__text {
    color: #5a646e; }

.info-block {
  width: 50%;
  background-color: #ffffff;
  padding: 24px;
  display: none; }
  @media screen and (min-width: 767px) {
    .info-block {
      display: block; } }
  @media screen and (min-width: 1440px) {
    .info-block {
      width: 33.3%; } }
  .info-block__icon {
    margin-bottom: 24px; }
  .info-block__text {
    color: #96a0aa; }
