.main {
  position: relative;
  min-height: calc(100vh);
  background-color: #ffffff; }
  @media screen and (min-width: 1024px) {
    .main {
      margin-left: 355px; } }

.article {
  width: 100%;
  max-width: 944px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 96px;
  background-color: #fff;
  box-sizing: border-box; }
  @media screen and (min-width: 767px) {
    .article {
      padding-left: 28px;
      padding-right: 28px; } }

b {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  line-height: inherit;
  color: green; }

.table {
  margin-bottom: 48px; }
  .table .row:last-child {
    border-bottom: 1px solid black; }
  .table__heading {
    margin-bottom: 36px; }
  .table__type {
    background-color: #ffffff;
    color: black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    padding: 6px; }
    .table__type_subheading {
      display: none; }
      @media screen and (min-width: 767px) {
        .table__type_subheading {
          display: block;
          background-color: gray;
          color: black;
          border-top: 1px solid black;
          border-left: 1px solid black;
          padding: 6px;
          text-align: center; } }
  .table__description {
    background-color: #ffffff;
    color: gray;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 6px; }
    @media screen and (min-width: 767px) {
      .table__description {
        border-right: none; } }
    .table__description_subheading {
      display: none; }
      @media screen and (min-width: 767px) {
        .table__description_subheading {
          display: block;
          background-color: gray;
          color: black;
          border-top: 1px solid black;
          border-left: 1px solid black;
          padding: 6px;
          text-align: center; } }
  .table__appearance {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 6px;
    text-align: center; }
    .table__appearance_subheading {
      display: none; }
      @media screen and (min-width: 767px) {
        .table__appearance_subheading {
          display: block;
          background-color: gray;
          color: black;
          border-top: 1px solid black;
          border-right: 1px solid black;
          border-left: 1px solid black;
          padding: 6px;
          text-align: center; } }
    .table__appearance_radio {
      display: flex;
      flex-direction: column; }

.primary-button {
  cursor: pointer;
  width: 100%;
  max-width: 365px;
  padding: 12px 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: white;
  background-color: #50287d;
  border-radius: 24px;
  text-align: center;
  box-sizing: border-box;
  flex: auto; }

.primary-radio {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .primary-radio__item {
    width: 33.33333%;
    cursor: pointer;
    border-radius: 24px;
    background-color: yellow;
    background-image: linear-gradient(blue, green, yellow);
    box-shadow: 0 -5px 10px -3px #3498db, 0 5px 10px -3px #2ecc71;
    padding: 8px 6px;
    margin: 0 12px; }
    .primary-radio__item:active {
      border: 1px solid #3498db; }
  .primary-radio__field {
    display: none; }
  .primary-radio__title {
    color: #d848dd;
    font-weight: bold; }

.menu {
  background: rgba(230, 240, 250, 0.75);
  display: none; }
  @media screen and (min-width: 1024px) {
    .menu {
      position: fixed;
      top: 72px;
      left: 0;
      display: block;
      height: 100vh;
      width: 355px;
      padding: 24px 28px; } }
  .menu__list {
    padding: 6px 0;
    border-top: 1px solid #bfd1e4;
    margin-right: 10px; }
  .menu__link {
    text-decoration: none;
    color: #333333;
    padding: 6px 0; }
  .menu__item {
    margin-left: 24px;
    position: relative;
    padding: 6px 0;
    border-top: 1px solid #bfd1e4; }
    .menu__item_link {
      text-decoration: none;
      color: #333333;
      padding: 6px 0;
      margin-right: 10px; }
  .menu__transform {
    display: none; }
  .menu__transitions {
    display: none; }
  .menu__gradient {
    display: none; }
  .menu__shadow {
    display: none; }
  .menu__stuff {
    display: none; }
  .menu__forms {
    display: none; }
  .menu__table {
    display: block; }

.menu-mobile {
  width: 100%;
  height: 72px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: #e6f0fa; }
  @media screen and (min-width: 1024px) {
    .menu-mobile {
      display: none; } }
  .menu-mobile__logo-small {
    width: 24px;
    height: 24px; }
  .menu-mobile__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #ffffff; }
    .menu-mobile__dots_item {
      width: 5px;
      height: 5px;
      border-radius: 50%; }
      .menu-mobile__dots_item:nth-child(1) {
        background-color: #506478; }
      .menu-mobile__dots_item:nth-child(2) {
        margin: 0 2px;
        background-color: rgba(80, 100, 120, 0.6); }
      .menu-mobile__dots_item:nth-child(3) {
        background-color: rgba(80, 100, 120, 0.3); }

.header {
  width: 100%;
  height: 72px;
  opacity: 0.5;
  position: fixed;
  top: 0;
  background-image: linear-gradient(#e010d6, white); }
