body * {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #28323c; }

.main {
  min-height: 100vh; }

.container {
  width: 100%;
  max-width: 944px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px; }
  @media screen and (min-width: 576px) {
    .container {
      padding-left: 28px;
      padding-right: 28px; } }

.top-block {
  width: 100%;
  max-height: 384px;
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .top-block__container {
    padding-top: 120px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
  .top-block__heading {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin-top: 48px;
    margin-bottom: 24px; }
    @media screen and (min-width: 818px) {
      .top-block__heading {
        font-size: 34px;
        line-height: 48px; } }
    .top-block__heading_span {
      font-size: inherit;
      line-height: inherit;
      color: inherit; }
  .top-block__subhead {
    font-size: 13px;
    color: #ffffff;
    display: block; }
    @media screen and (min-width: 767px) {
      .top-block__subhead {
        font-size: 16px; } }
    .top-block__subhead_span {
      font-size: inherit;
      display: inline;
      color: inherit; }
  .top-block__button-container {
    margin-top: 48px;
    width: 100%;
    max-width: 300px; }

.prising {
  width: 100%;
  max-width: 944px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  padding: 60px 24px 48px;
  background: #ffffff;
  border-bottom: 1px solid #d2dce6; }
  @media screen and (min-width: 576px) {
    .prising {
      padding-left: 28px;
      padding-right: 28px; } }
  .prising__heading {
    font-size: 18px;
    margin-bottom: 36px;
    text-align: center; }
    .prising__heading_span {
      display: block; }
  .prising__body {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: scroll; }
  .prising__column {
    cursor: pointer;
    min-width: 272px;
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #e6f0fa;
    box-sizing: border-box; }
    .prising__column:hover {
      box-shadow: 0px 12px 24px rgba(26, 65, 101, 0.25);
      border-radius: 4px; }
    .prising__column:hover .prising__button {
      color: #ffffff;
      background-color: #50287d; }
  .prising__wrapper {
    padding: 24px; }
  .prising__quantity {
    font-size: 34px;
    line-height: 48px;
    padding: 24px 0; }
  .prising__month {
    color: #5a646e; }
  .prising__price {
    margin-bottom: 72px; }
  .prising__description {
    font-size: 13px;
    color: #5a646e; }
  .prising__button {
    border-radius: 0px;
    text-align: start;
    padding: 24px;
    color: #50287d;
    background-color: #ffffff; }

.services {
  width: 100%;
  background-color: #ffffff;
  padding-top: 48px;
  padding-bottom: 48px; }
  .services__row {
    justify-content: space-between; }
  .services__wrapper {
    padding: 24px 0; }
  .services__icon {
    margin-bottom: 24px;
    width: 48px;
    height: 48px; }
  .services__title {
    margin-bottom: 24px; }
  .services__discription {
    color: #5a646e; }

.content {
  width: 100%;
  background-color: #ffffff; }
  .content__heading {
    font-size: 34px;
    line-height: 48px;
    margin-bottom: 48px; }

.content-list {
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 24px; }
  .content-list__item {
    position: relative;
    margin-bottom: 24px;
    padding-left: 24px; }
    .content-list__item:last-child {
      margin-bottom: 0; }
    .content-list__item::before {
      content: " ";
      border-radius: 50%;
      width: 6px;
      height: 6px;
      background: #50287d;
      position: absolute;
      left: 9px;
      top: 9px; }
  .content-list__link {
    color: #50287d;
    text-decoration: none; }

.online-consultation {
  margin-top: 24px;
  margin-left: 24px; }

.content-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px; }
  .content-image__wrapper {
    width: 100%;
    height: 225px;
    background-position: center;
    background-size: cover; }
    @media screen and (min-width: 767px) {
      .content-image__wrapper {
        height: 100%; } }

.policy {
  width: 100%;
  background-color: white;
  padding-top: 72px;
  padding-bottom: 72px;
  border-top: 1px solid #d2dce6; }
  .policy__head {
    background-color: white;
    padding-top: 72px;
    margin: 0 auto; }
  .policy__heading {
    font-size: 34px;
    line-height: 48px;
    color: #000000;
    margin-bottom: 48px;
    text-align: center; }
  .policy__body {
    width: 100%;
    max-width: 944px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 24px 72px;
    background: #f3f5f7; }
    @media screen and (min-width: 576px) {
      .policy__body {
        padding-left: 28px;
        padding-right: 28px; } }
  .policy__container {
    max-width: 431px;
    margin: 0 auto; }
  .policy__checkbox {
    margin-top: 36px;
    margin-bottom: 84px; }
  .policy__button {
    background: #d2dce6;
    color: #96a0aa;
    font-size: 16px;
    line-height: 24px; }

.header {
  width: 100%; }
  .header__fixed {
    width: 100%;
    height: 72px;
    position: fixed;
    top: 0;
    background: rgba(40, 50, 60, 0.8); }
  .header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px; }
  .header__images {
    padding-left: 12px;
    box-sizing: border-box; }
    .header__images_horisontal {
      display: none; }
      @media screen and (min-width: 576px) {
        .header__images_horisontal {
          display: block; } }
    .header__images_small {
      display: block; }
      @media screen and (min-width: 576px) {
        .header__images_small {
          display: none; } }
  .header__form {
    height: 24px; }
  .header__select {
    padding-right: 12px;
    box-sizing: border-box;
    color: #ffffff; }
    .header__select:active {
      color: black; }

.footer {
  width: 100%;
  background: #f3f5f7;
  padding-top: 48px;
  padding-bottom: 72px; }
  .footer__block {
    padding-left: 0; }
    @media screen and (min-width: 767px) {
      .footer__block {
        padding-left: 28px; } }
  .footer__string {
    color: #b5bdc8; }
    .footer__string:first-child {
      margin-bottom: 24px; }
    .footer__string_span {
      display: block; }
