.main {
  min-height: 100vh; }

.container {
  width: 100%;
  max-width: 944px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px; }
  @media screen and (min-width: 576px) {
    .container {
      padding-left: 28px;
      padding-right: 28px; } }

.row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px; }

.p-l {
  padding-left: 12px;
  box-sizing: border-box; }

.p-r {
  padding-right: 12px;
  box-sizing: border-box; }

.display-inlain {
  display: inline; }

.display-block {
  display: block; }

.top-block {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  min-height: 624px;
  padding-top: 72px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .top-block__container {
    padding-top: 72px;
    padding-bottom: 72px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
  .top-block__headering {
    color: #ffffff;
    margin-bottom: 48px; }
  .top-block__offer {
    color: #ffffff;
    margin-bottom: 72px; }
    .top-block__offer_span {
      display: block; }
  .top-block__button {
    width: 100%; }
    @media screen and (min-width: 375px) {
      .top-block__button {
        width: 300px; } }

.pricing {
  width: 100%;
  background: #ffffff;
  padding-top: 48px;
  padding-bottom: 48px; }

.pricing-header {
  margin-bottom: 24px;
  display: none; }
  @media screen and (min-width: 767px) {
    .pricing-header {
      display: flex;
      justify-content: center;
      align-items: center; } }
  .pricing-header__row {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f5f7;
    border-radius: 36px; }
  .pricing-header__item {
    padding: 19px 27px;
    margin: 5px;
    color: #5a646e;
    background: #f3f5f7;
    box-sizing: border-box;
    border-radius: 31px; }
    .pricing-header__item:hover {
      box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1); }
    .pricing-header__item:active {
      background: #ffffff;
      border: 2px solid #00d2ff; }

.pricing-block {
  width: 100%;
  max-width: 944px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  padding-left: 28px;
  padding-right: 28px; }
  .pricing-block__body {
    box-sizing: border-box;
    display: flex;
    margin-right: -12px;
    margin-left: -12px;
    flex-wrap: nowrap;
    overflow-x: scroll; }
    @media screen and (min-width: 576px) {
      .pricing-block__body {
        overflow-x: hidden; } }
  .pricing-block__column {
    min-width: 280px;
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    justify-content: space-between;
    position: relative;
    text-align: left;
    border: 1px solid #e6f0fa;
    box-sizing: border-box; }
    @media screen and (min-width: 767px) {
      .pricing-block__column {
        max-width: 280px; } }
    .pricing-block__column:hover {
      box-shadow: 0px 12px 24px rgba(26, 65, 101, 0.25); }
    .pricing-block__column:hover .pricing-block__button {
      color: white;
      background-color: #50287d; }
  .pricing-block__wrapper {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  .pricing-block__name {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 24px; }
    .pricing-block__name_item {
      color: #96a0aa; }
    .pricing-block__name_icon {
      width: 24px;
      height: 26px; }
  .pricing-block__price {
    margin-bottom: 24px; }
  .pricing-block__item {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 24px 0;
    border-bottom: 1px solid #d2dce6;
    box-sizing: border-box; }
    .pricing-block__item:last-child {
      border: none; }
  .pricing-block__discription {
    white-space: normal;
    cursor: pointer;
    color: #5a646e;
    display: inline;
    text-decoration: none;
    margin-left: 12px; }
  .pricing-block__button {
    cursor: pointer;
    max-width: 100%;
    border-radius: 0;
    color: #50287d;
    background: #ffffff; }

.content-top {
  width: 100%;
  background-color: #f3f5f7;
  padding-top: 48px;
  padding-bottom: 48px; }
  .content-top__title {
    display: block;
    margin-bottom: 24px; }
    @media screen and (min-width: 767px) {
      .content-top__title {
        font-size: 34px;
        line-height: 48px; } }
  .content-top__text {
    margin-bottom: 24px; }
    @media screen and (min-width: 767px) {
      .content-top__text {
        font-size: 16px;
        line-height: 24px; } }
    .content-top__text_center {
      color: #5a646e; }
    @media screen and (min-width: 767px) {
      .content-top__text_bottom {
        font-size: 17px; } }
  .content-top__pictures {
    width: 100%;
    position: relative; }
    @media screen and (min-width: 576px) {
      .content-top__pictures {
        height: 100%; } }
  .content-top__img {
    width: 100%;
    height: 262px;
    background-position: center center;
    background-size: cover;
    display: block; }
    @media screen and (min-width: 767px) {
      .content-top__img {
        width: 57.3%;
        height: 216px;
        position: absolute; } }
    .content-top__img_01 {
      margin-bottom: 24px; }
      @media screen and (min-width: 767px) {
        .content-top__img_01 {
          bottom: 0;
          left: 0; } }
    @media screen and (min-width: 767px) {
      .content-top__img_02 {
        top: 0;
        right: 0; } }
  .content-top__button {
    display: block;
    width: 100%;
    background-color: #f3f5f7;
    color: #50287d;
    border: 2px solid #50287d;
    margin-top: 48px; }
    @media screen and (min-width: 375px) {
      .content-top__button {
        width: 319px; } }

.content {
  width: 100%;
  background-color: #f3f5f7;
  border-top: 1px solid #d2dce6;
  padding-top: 48px;
  padding-bottom: 48px; }
  .content__row {
    justify-content: space-between; }
  .content__img {
    margin-bottom: 24px; }
  .content__col-m-d-4 {
    flex: 0 0 100%;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
    padding-right: 12px;
    padding-left: 12px; }
    @media screen and (min-width: 767px) {
      .content__col-m-d-4 {
        flex: 0 0 33.333333%;
        width: 33.333333%; } }
  .content__item-img {
    width: 100%;
    aspect-ratio: 281 / 216;
    min-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: cover; }
  .content__img-title {
    width: 100%;
    height: 72px;
    background: #28323c;
    opacity: 0.65;
    color: #ffffff;
    padding: 24px;
    font-size: 18px;
    line-height: 24px; }
  .content__discription {
    width: 100%;
    margin-bottom: 24px; }
    @media screen and (min-width: 767px) {
      .content__discription {
        width: 100%;
        margin-bottom: 0px; } }
    @media screen and (min-width: 1024px) {
      .content__discription {
        width: 100%; } }
  .content__link {
    display: inline;
    color: #50287d;
    font-size: 16px;
    line-height: 24px; }

.block-reasons {
  width: 100%;
  background: #f3f5f7;
  padding-top: 48px;
  padding-bottom: 48px;
  border-top: 1px solid #d2dce6; }
  .block-reasons__header {
    width: 100%;
    margin-bottom: 24px; }
  .block-reasons__title {
    width: 100%; }
    .block-reasons__title_span {
      display: block; }
    .block-reasons__title_link {
      display: inline;
      color: #28323c;
      text-decoration: none; }
    @media screen and (min-width: 576px) {
      .block-reasons__title {
        font-size: 18px;
        line-height: 24px; } }
  .block-reasons__row {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid white; }
  .block-reasons__column {
    width: 50%;
    border: 2px solid white;
    box-sizing: border-box; }
    @media screen and (min-width: 767px) {
      .block-reasons__column {
        width: 25%; } }
  .block-reasons__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px; }
  .block-reasons__icon {
    margin-bottom: 24px; }
  .block-reasons__quantity {
    margin-bottom: 24px; }
    @media screen and (min-width: 1024px) {
      .block-reasons__quantity {
        font-size: 34px;
        line-height: 48px; } }
  .block-reasons__discription {
    color: #78828c; }
    @media screen and (min-width: 1024px) {
      .block-reasons__discription {
        font-size: 16px;
        line-height: 24px; } }

.how-works {
  width: 100%;
  background: #ffffff;
  padding-top: 48px;
  padding-bottom: 74px; }
  .how-works__title {
    margin-bottom: 24px;
    text-align: center; }
    @media screen and (min-width: 576px) {
      .how-works__title {
        text-align: start; } }
    @media screen and (min-width: 767px) {
      .how-works__title {
        font-size: 34px;
        line-height: 48px; } }

.opder-list__step {
  display: flex;
  margin-bottom: 24px;
  justify-content: flex-start;
  align-items: baseline; }

.opder-list__number {
  margin-right: 8px;
  min-height: 24px;
  min-width: 24px;
  background-color: #f3f5f7;
  color: #00d2ff;
  text-align: center;
  flex: none; }

.renaissance-video {
  width: 100%;
  height: 154px;
  background-size: cover;
  background-position: center; }
  @media screen and (min-width: 375px) {
    .renaissance-video {
      height: 212px; } }
  @media screen and (min-width: 475px) {
    .renaissance-video {
      height: 268px; } }
  @media screen and (min-width: 576px) {
    .renaissance-video {
      height: 325px; } }
  @media screen and (min-width: 767px) {
    .renaissance-video {
      height: 216px; } }

.package-form {
  width: 100%;
  background-color: white;
  padding-top: 72px;
  padding-bottom: 72px;
  border-top: 1px solid #d2dce6; }
  .package-form__container-top {
    background-color: white;
    padding-top: 72px; }
  .package-form__headering {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px; }
  .package-form__title {
    color: #000000;
    text-align: center; }
    @media screen and (min-width: 576px) {
      .package-form__title {
        text-align: start; } }
  .package-form__container {
    padding-bottom: 72px;
    padding-top: 72px;
    background: #f3f5f7; }
  .package-form__wrapper {
    max-width: 431px;
    margin: 0 auto; }
  .package-form__checkbox {
    margin-top: 36px;
    margin-bottom: 84px; }
  .package-form__button {
    background: #d2dce6;
    color: #96a0aa;
    font-size: 16px;
    line-height: 24px; }

.footer {
  width: 100%;
  background: #f3f5f7;
  padding-top: 48px;
  padding-bottom: 72px; }
  .footer__block {
    padding-left: 0; }
    @media screen and (min-width: 767px) {
      .footer__block {
        padding-left: 28px; } }
  .footer__string {
    color: #b5bdc8; }
    .footer__string:first-child {
      margin-bottom: 24px; }
    .footer__string_span {
      display: block; }

.header {
  width: 100%; }
  .header__fixed {
    width: 100%;
    height: 72px;
    position: fixed;
    top: 0;
    background: rgba(40, 50, 60, 0.8); }
  .header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px; }
  .header__images {
    padding-left: 12px;
    box-sizing: border-box; }
    .header__images_horisontal {
      display: none; }
      @media screen and (min-width: 576px) {
        .header__images_horisontal {
          display: block; } }
    .header__images_small {
      display: block; }
      @media screen and (min-width: 576px) {
        .header__images_small {
          display: none; } }
  .header__form {
    height: 24px; }
  .header__select {
    padding-right: 12px;
    box-sizing: border-box;
    color: #ffffff; }
    .header__select:active {
      color: black; }
