.main {
  min-height: 100vh; }

.container {
  width: 100%;
  max-width: 944px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px; }
  @media screen and (min-width: 576px) {
    .container {
      padding-left: 28px;
      padding-right: 28px; } }

.row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px; }

.p-l {
  padding-left: 12px;
  box-sizing: border-box; }

.p-r {
  padding-right: 12px;
  box-sizing: border-box; }

.header {
  width: 100%; }
  .header__fixed {
    width: 100%;
    height: 72px;
    position: fixed;
    top: 0;
    background-color: rgba(40, 50, 60, 0.8); }
  .header__container {
    max-width: 944px;
    margin: 0 auto;
    padding: 0 28px; }
  .header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px; }
  .header__image {
    padding-left: 12px;
    box-sizing: border-box; }
    .header__image_big {
      display: none; }
      @media screen and (min-width: 767px) {
        .header__image_big {
          display: block; } }
    .header__image_small {
      display: block; }
      @media screen and (min-width: 767px) {
        .header__image_small {
          display: none; } }
  .header__sity {
    color: white;
    padding-right: 12px;
    box-sizing: border-box; }

.top-block {
  padding-top: 72px;
  width: 100%;
  background-position: center;
  background-size: cover; }
  .top-block__container {
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
  .top-block__title {
    margin-bottom: 24px;
    color: white; }
  .top-block__offer {
    margin-bottom: 48px;
    color: white; }
  .top-block__transfer {
    display: block; }
  .top-block__button {
    width: 100%; }
    @media screen and (min-width: 375px) {
      .top-block__button {
        max-width: 295px; } }
