<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/typography.css" />
    <link rel="stylesheet" href="../styles/css/grids.css" />
    <link rel="stylesheet" href="../styles/css/general.css" />
    <link rel="stylesheet" href="../styles/css/antiNoMenu.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main class="main">
      <article class="article container">
        <!-- forest -->
        <section class="forest row">
          <div class="forest__info col-12 col-md-6">
            <div class="forest__name h1-font">Антиклещ</div>
            <div class="forest__price h1-font">от 1600 ₽</div>
            <div class="forest__discription md-font">
              Дополнительная защита в случае укуса клеща. Будьте готовы к отдыху
              на природе.
            </div>
            <div>
              <button class="forest__button primary-button">
                Оформить полис
              </button>
            </div>
          </div>
          <div class="forest__image col-12 col-md-6">
            <div class="forest__image-wrapper">
              <img
                class="forest__pictures"
                src="../assets/icons/antiMiteForest.svg"
                alt=""
              />
            </div>
          </div>
        </section>
        <!-- forest -->

        <!-- advantages -->
        <section class="advantages">
          <h2 class="advantages__headering h2-font">Преимущества</h2>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="advantages__icon">
                <div
                  class="advantages__picture"
                  style="background-image: url(../assets/icons/squares4.svg)"
                ></div>
              </div>
              <div class="advantages__title h2-font">Все включено</div>
              <div class="advantages__discription md-font">
                От консультации и удаления клеща до реабилитации, в случае
                осложнения заболевания
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="advantages__icon">
                <div
                  class="advantages__picture"
                  style="background-image: url(../assets/icons/tree.svg)"
                ></div>
              </div>
              <div class="advantages__title h2-font">По всей стране</div>
              <div class="advantages__discription md-font">
                Полис действует на всей территории РФ без ограничений
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="advantages__icon">
                <div
                  class="advantages__picture"
                  style="background-image: url(../assets/icons/checks.svg)"
                ></div>
              </div>
              <div class="advantages__title h2-font">Просто и понятно</div>
              <div class="advantages__discription md-font">
                В случае укуса клеща, позвоните на наш медицинский пульт и
                получите все рекомендации
              </div>
            </div>
          </div>
        </section>
        <!-- advantages -->

        <!-- facilities -->
        <section class="facilities">
          <h1 class="facilities__headering h1-font">Возможности</h1>
          <div class="row">
            <div class="col-12 col-md-6">
              <ol class="list">
                <li>
                  <div class="list__block">
                    <div class="list__dot"></div>
                    <p class="list__title md-font">В поликлинике</p>
                  </div>
                  <ul>
                    <li class="list__discription sm-font">
                      Лабораторное исследование удаленного клеща и экстренная
                      иммунизация противоклещевым иммуноглобулином.
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="list__block">
                    <div class="list__dot"></div>
                    <p class="list__title md-font">В случае госпитализации</p>
                  </div>
                  <ul>
                    <li class="list__discription sm-font">
                      Размещение в комфортных палатах и полное медикаментозное
                      обеспечение. Наблюдение и помощь в восставнолении после
                      выписки из больницы.
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="list__block">
                    <div class="list__dot"></div>
                    <p class="list__title md-font">Телемедицина</p>
                  </div>
                  <ul>
                    <li class="list__discription sm-font">
                      Врач ответит на все вопросы про клещей и заболевания,
                      которые они вызывают. Объяснит, как избежать укуса и что
                      делать, если все-таки укусили.
                    </li>
                  </ul>
                </li>
              </ol>
            </div>
            <div class="facilities-image col-12 col-md-6">
              <div class="facilities-image__picture">
                <img
                  class="facilities-image__item"
                  src="../assets/icons/antiMitePointer.svg"
                  alt=""
                />
              </div>
            </div>
          </div>
        </section>
        <!-- facilities -->

        <!-- info-block -->
        <section class="info-block">
          <div
            class="info-block__icon"
            style="background-image: url(../assets/icons/bell.svg)"
          ></div>
          <div class="info-block__text md-font">
            После покупки полис и квитанция об оплате будут в ту же минуту
            отправлены Вам на E-mail, а также доступны в Личном кабинете на
            сайте и в Мобильном приложении.
          </div>
          <div>
            <button class="info-block__button primary-button">
              Оформить полис
            </button>
          </div>
        </section>
        <!-- info-block -->

        <!-- policy-form -->
        <section class="policy-form">
          <h1 class="policy-form__heading h1-font">Оформление полиса</h1>
          <div class="row">
            <!-- input-date начало действия полиса -->
            <label
              class="policy-form__input-date input-date col-7 col-md-3"
              for=""
            >
              <div class="input-date__label x-sm-font">Начало действия</div>
              <div class="input-date__block">
                <input class="input-date__field" type="date" name="date" />
                <div class="input-date__icon">
                  <div
                    class="input-date__triangle"
                    style="background-image: url(../assets/icons/triangle.svg)"
                  ></div>
                </div>
              </div>
            </label>
            <!-- input-date начало действия полиса -->

            <p class="policy-form__info col-12 col-md-12">
              Договор страхования вступает в силу через 14
              <span class="policy-form__span sm-font">
                дней с момента покупки полиса и действует 12 месяцев</span
              >
            </p>
            <h2 class="col-12 h2-font">Страхователь</h2>
            <p class="policy-form__subtitle col-12 sm-font">
              Тот, кто оплачивает полис
            </p>
            <p class="policy-form__contact-details mr-bot-24 col-12 sm-font">
              Контактные данные
            </p>
          </div>
          <div class="row">
            <!-- input-prompt  Контактные данные Фамилия -->
            <label
              class="policy-form__input-prompt input-prompt col-10 col-md-5"
              for=""
            >
              <input
                class="input-prompt__field"
                type="text"
                placeholder="Фамилия"
            /></label>
            <!-- input-prompt  Контактные данные Фамилия -->

            <!-- input-prompt  Контактные данные Имя -->
            <label
              class="policy-form__input-prompt input-prompt col-10 col-md-5"
              for=""
            >
              <input class="input-prompt__field" type="text" placeholder="Имя"
            /></label>
            <!-- input-prompt  Контактные данные Имя -->
          </div>
          <div class="row">
            <!-- input-subtitle Контактные данные Отчество -->
            <label
              class="policy-form__input-subtitle input-subtitle col-10 col-md-5"
              for=""
            >
              <input
                class="input-subtitle__field"
                type="text"
                placeholder="Отчество"
              />
              <div class="input-subtitle__subtitle">при наличии</div>
            </label>
            <!-- input-subtitle Контактные данные Отчество -->

            <!-- input-date Контактные данные Дата рождения -->
            <label
              class="policy-form__input-date input-date col-7 col-md-3"
              for=""
            >
              <div class="input-date__label md-font">Дата рождения</div>
              <div class="input-date__block">
                <input class="input-date__field" type="date" name="date" />
                <div class="input-date__icon">
                  <div
                    class="input-date__triangle"
                    style="background-image: url(../assets/icons/triangle.svg)"
                  ></div>
                </div>
              </div>
            </label>
            <!-- input-date Контактные данные Дата рождения -->
          </div>
          <div class="row">
            <!-- input-subtitle Контактные данные Email -->
            <label
              class="policy-form__input-subtitle input-subtitle col-10 col-md-5"
              for=""
            >
              <input
                class="input-subtitle__field"
                type="email"
                id="email"
                name="email"
                required
                placeholder="Email"
              />
              <div class="input-subtitle__subtitle">
                для получения электронного полиса
              </div>
            </label>
            <!-- input-subtitle Контактные данные Email -->

            <!-- input-subtitle Контактные данные Номер телефона -->
            <label
              class="policy-form__input-subtitle input-subtitle col-10 col-md-5"
              for=""
            >
              <input
                class="input-subtitle__field"
                type="tel"
                id="tel"
                name="tel"
                pattern="+7 [0-9]{1}-[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                placeholder="Номер телефона"
              />
              <div class="input-subtitle__subtitle">на экстренный случай</div>
            </label>
            <!-- input-subtitle Контактные данные Номер телефона -->
          </div>
          <div class="row mr-bot-24">
            <p class="policy-form__contact-details col-12 sm-font">
              Паспортные данные
            </p>
          </div>
          <div class="row">
            <!-- input-prompt  Паспортные данные серия -->
            <label
              class="policy-form__input-prompt input-prompt col-4 col-md-2"
              for=""
            >
              <input
                class="input-prompt__field"
                type="text"
                id="passport"
                name="passport"
                placeholder="Серия"
            /></label>
            <!-- input-prompt  Паспортные данные серия-->

            <!-- input-prompt  Паспортные данные номер-->
            <label
              class="policy-form__input-prompt input-prompt col-4 col-md-2"
              for=""
            >
              <input
                class="input-prompt__field"
                type="text"
                id="passport"
                name="passport"
                placeholder="Номер"
            /></label>
            <!-- input-prompt  Паспортные данные номер-->

            <!-- input-date Паспортные данные дата выдачи-->
            <label
              class="policy-form__input-date input-date col-7 offset-md-1 col-md-3"
              for=""
            >
              <div class="input-date__label md-font">Дата выдачи</div>
              <div class="input-date__block">
                <input class="input-date__field" type="date" name="date" />
                <div class="input-date__icon">
                  <div
                    class="input-date__triangle"
                    style="background-image: url(../assets/icons/triangle.svg)"
                  ></div>
                </div>
              </div>
            </label>
            <!-- input-date Паспортные данные дата выдачи-->
          </div>
          <div class="row">
            <!-- input-prompt  Паспортные данные Кем выдан-->
            <label
              class="policy-form__input-prompt input-prompt col-10 col-md-5"
              for=""
            >
              <input
                class="input-prompt__field"
                type="text"
                id="passport"
                name="passport"
                placeholder="Кем выдан"
            /></label>
            <!-- input-prompt  Паспортные данные Кем выдан-->
          </div>

          <div class="row mr-bot-24">
            <p class="policy-form__contact-details col-12 sm-font">
              Адрес регистрации
            </p>
          </div>
          <div class="row">
            <!-- input-prompt  Паспортные данные Адрес в свободной форме-->
            <label
              class="policy-form__input-prompt input-prompt col-10 col-md-5"
              for=""
            >
              <input
                class="input-prompt__field"
                type="text"
                id="passport"
                name="passport"
                placeholder="Адрес в свободной форме"
            /></label>
            <!-- input-prompt  Паспортные данные Кем выдан-->
          </div>

          <!-- primary-checkbox  Является застрахованным -->
          <div class="row">
            <label
              tabindex="0"
              role="checkbox"
              id=""
              class="policy-form__checkbox primary-checkbox col-7 col-md-3"
            >
              <div class="primary-checkbox__icon">
                <span class="primary-checkbox__checker"></span>
                <input
                  id="Checkbox"
                  type="checkbox"
                  class="primary-checkbox__input"
                />
              </div>
              <div class="policy-form__label primary-checkbox__label sm-font">
                Является застрахованным
              </div>
            </label>
          </div>
          <!-- primary-checkbox  Является застрахованным -->
          <div class="row">
            <a class="policy-form__add-insured col-12" href="">
              <div
                class="policy-form__add-icon"
                style="background-image: url(../assets/icons/aPlusColor.svg)"
              ></div>
              <h2 class="policy-form__add-heading h2-font">
                Добавить застрахованного
              </h2>
            </a>
          </div>
        </section>
        <!-- policy-form -->
      </article>
      <!-- agreement -->
      <section class="agreement">
        <div class="agreement__block">
          <div class="row">
            <!-- primary-checkbox Продолжая, я соглашаюсь с правилами -->
            <label
              tabindex="0"
              role="checkbox"
              id=""
              class="agreement__checkbox primary-checkbox col-12"
            >
              <div class="primary-checkbox__icon">
                <span class="primary-checkbox__checker"></span>
                <input
                  id="Checkbox"
                  type="checkbox"
                  class="primary-checkbox__input"
                />
              </div>
              <div class="agreement__label primary-checkbox__label sm-font">
                Продолжая, я соглашаюсь с
                <a
                  class="agreement__link primary-checkbox__link sm-font"
                  href=""
                  >правилами
                </a>
                и
                <a
                  class="agreement__link primary-checkbox__link sm-font"
                  href=""
                  >программой</a
                >
                оказания услуг.
              </div>
            </label>
            <!-- primary-checkbox  Продолжая, я соглашаюсь с правилами -->
            <div class="col-12">
              <button class="agreement__button primary-button">
                Оформить полис за 2 000 ₽
              </button>
            </div>
          </div>
        </div>
      </section>
      <!-- agreement -->

      <!-- footer -->
      <footer class="footer">
        <div class="footer__block">
          <div class="footer__body row">
            <p class="footer__string col-12 sm-font">
              Медицинские услуги оказываются партнерами:
            </p>
            <p class="footer__string col-12 sm-font">
              ООО «Медкорп», Лицензия № ЛО-50-01-009076 от 10 Октября 2017 года.

              <span class="footer__string footer__string_span sm-font">
                Адрес: 115114, г. Москва, Дербеневская наб. д. 7, стр. 22</span
              >
            </p>
            <p class="footer__string col-12 sm-font">
              ООО «Доктор Рядом», Лицензия № ЛО-77-01-013560 от 29 Ноября 2016
              года.
              <span class="footer__string footer__string_span sm-font">
                Адрес: 107076, г. Москва, ул. Краснобогатырская, д. 44, стр.
                1</span
              >
            </p>
          </div>
        </div>
      </footer>
      <!-- footer -->

      <!-- header -->
      <header class="header">
        <div class="header__block">
          <img
            class="header__wideLogotype"
            src="../assets/logotype/wideLogotype.svg"
            alt=""
          />
          <img
            class="header__smallLogo"
            src="../assets/logotype/smallLogo.svg"
            alt=""
          />
          <div class="header__icon">
            <img
              class="header__item"
              src="../assets/icons/messages.svg"
              alt=""
            />
            <img class="header__item" src="../assets/icons/sos.svg" alt="" />
          </div>
        </div>
      </header>
      <!-- header -->
    </main>
  </body>
</html>
