<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/general.css" />
    <link rel="stylesheet" href="../styles/css/typography.css" />
    <link rel="stylesheet" href="../styles/css/menu.css" />
    <link rel="stylesheet" href="../styles/css/article.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- menu -->
    <nav class="menu">
      <img
        class="menu__logotype-wide"
        src="../assets/logotype/wideLogotype.svg"
        alt=""
      />
      <img
        src="../assets/logotype/smallLogo.svg"
        class="menu__logotype-small"
      />
      <form class="menu-item" method="post" action=" ">
        <img src="../assets/images/menuDaria.jpg" class="menu-item__icon" />
        <p class="menu-item__label md-font">Дарья Иванова</p>
      </form>

      <a class="sub-header primary-link" href="">Страховки</a>

      <a class="menu-item" href="">
        <img src="../assets/icons/mediscinckaia.svg" class="menu-item__icon" />
        <p class="menu-item__label md-font">Медицинская</p></a
      >

      <a class="menu-item" href="">
        <img src="../assets/icons/departure.svg" class="menu-item__icon" />
        <p class="menu-item__label md-font">Для выезда за рубеж</p>
      </a>

      <a class="menu-item" href="">
        <img src="../assets/icons/aPlus.svg" class="menu-item__icon" />
        <p class="menu-item__label md-font">Добавить</p>
      </a>
    </nav>
    <!-- menu -->

    <!-- main -->
    <main class="main">
      <!-- header -->
      <header class="header">
        <img src="../assets/icons/sos.svg" class="header__icon" />
      </header>
      <!-- header -->

      <!-- menu-mobile -->
      <div class="menu-mobile">
        <img
          src="../assets/logotype/smallLogo.svg"
          class="menu-mobile__logo-small"
        />
        <div class="menu-mobile__dots">
          <div class="menu-mobile__dots_item"></div>
          <div class="menu-mobile__dots_item"></div>
          <div class="menu-mobile__dots_item"></div>
        </div>
      </div>
      <!-- menu-mobile -->

      <!-- article -->
      <article class="article">
        <h1 class="article__title h1-font">Джозеф Листер и антисептик</h1>
        <div
          class="article__image-dhsosefLister"
          style="
            background-image: url(../assets/images/articles/dhsosefLister1.jpg);
          "
        ></div>

        <p class="article__paragraph article__paragraph_first md-font">
          Использование антисептика сейчас кажется таким же элементарным
          действием, как и ежедневная чистка зубов. Многие хранят в тумбочке
          санитайзер.
        </p>
        <p class="article__paragraph article__paragraph_second sm-font">
          Психосоматика устойчиво отчуждает гендерный тест, следовательно
          основной закон психофизики: ощущение изменяется пропорционально
          логарифму раздражителя . С феноменологической точки зрения, субъект
          представляет собой объект. Скиннер, однако, настаивал, что онтогенез
          речи притягивает экзистенциальный интеллект. Психе мгновенно понимает
          материалистический аутотренинг. Здесь автор сталкивает два таких
          достаточно далёких друг от друга явления как поведенческая терапия
          конфронтально отчуждает ролевой.
        </p>
        <div
          class="article__image-dhsosefLister"
          style="
            background-image: url(../assets/images/articles/dhsosefLister2.jpg);
          "
        ></div>
        <h2 class="article__paragraph article__paragraph_third h2-font">
          Заголовок второго уровня
        </h2>
        <p class="article__paragraph article__paragraph_fourth sm-font">
          Психосоматика устойчиво отчуждает гендерный тест, следовательно
          основной закон психофизики: ощущение изменяется пропорционально
          логарифму раздражителя . С феноменологической точки зрения, субъект
          представляет собой объект. Скиннер, однако, настаивал, что онтогенез
          речи притягивает экзистенциальный интеллект. Психе мгновенно понимает
          материалистический аутотренинг. Здесь автор сталкивает два таких
          достаточно далёких друг от друга явления как поведенческая терапия
          конфронтально отчуждает ролевой.
        </p>
        <p class="article__paragraph article__paragraph_fifth sm-font">
          Примерно до середины XIX века дезинфекция не проводилась даже перед
          операцией. Разумеется, часто случались серьезные заражения, и
          смертность от хирургических вмешательств просто зашкаливала. Впрочем,
          большинство врачей воспринимали такой ход событий как данность:
          считалось, что человек просто не предназначен для вскрытия, поэтому
          плохо переносит всякие там надрезы.
        </p>
        <p class="article__paragraph article__paragraph_sixth sm-font">
          Результат работы Листера был мгновенно оценен: смертность после
          операций снизилась в разы. А имя Джозефа Листера увековечили, назвав в
          его честь бренд ополаскивателей для полости рта.
        </p>
      </article>

      <!-- article -->
    </main>
    <!-- main -->

    <!-- footer -->

    <footer class="footer">
      <div class="footer__container">
        <h2 class="footer__title h2-font">Другие материалы</h2>
        <div class="footer__row">
          <div class="footer__column">
            <!-- article-wrapper__secondary-habits -->

            <div class="articles-wrapper">
              <div
                class="articles-wrapper__img"
                style="background-image: url(../assets/images/articles/ice.jpg)"
              ></div>
              <div class="article-item">
                <div
                  class="article-item__label article-item__label_secondary-habits label"
                >
                  Привычки
                </div>
                <h2 class="article-item__title h2-font">
                  Привычка недели: уходить в офлайн
                </h2>
                <div class="sm-font">Кратко о цифровом детоксе</div>
              </div>
            </div>
            <!-- article-wrapper__secondary-habits -->
          </div>
          <div class="footer__column">
            <!-- article-wrapper__insurance -->
            <div class="articles-wrapper">
              <div></div>
              <div class="article-item">
                <div
                  class="article-item__label article-item__label_insurance label"
                >
                  Страхование
                </div>
                <h2 class="article-item__title h2-font">
                  7 прав пациента, которые полезно знать каждому
                </h2>
                <p class="sm-font">Законы крепкого здоровья</p>
              </div>
            </div>
            <!-- article-wrapper__insurance -->
          </div>
        </div>
      </div>
    </footer>
    <!-- footer -->
  </body>
</html>
