<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/general.css" />
    <link rel="stylesheet" href="../styles/css/menu.css" />
    <link rel="stylesheet" href="../styles/css/articles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- menu -->
    <nav class="menu">
      <img
        class="menu__logotype-wide"
        src="../assets/logotype/wideLogotype.svg"
        alt=""
      />
      <img
        src="../assets/logotype/smallLogo.svg"
        class="menu__logotype-small"
      />
      <form class="menu-item" method="post" action=" ">
        <img src="../assets/images/menuDaria.jpg" class="menu-item__icon" />
        <p class="menu-item__label md-font">Дарья Иванова</p>
      </form>

      <a class="sub-header primary-link" href="">Страховки</a>

      <a class="menu-item" href="">
        <img src="../assets/icons/mediscinckaia.svg" class="menu-item__icon" />
        <p class="menu-item__label md-font">Медицинская</p></a
      >

      <a class="menu-item" href="">
        <img src="../assets/icons/departure.svg" class="menu-item__icon" />
        <p class="menu-item__label md-font">Для выезда за рубеж</p>
      </a>

      <a class="menu-item" href="">
        <img src="../assets/icons/aPlus.svg" class="menu-item__icon" />
        <p class="menu-item__label md-font">Добавить</p>
      </a>
    </nav>
    <!-- menu -->

    <!-- main -->
    <main class="main">
      <!-- header -->
      <header class="header">
        <img src="../assets/icons/sos.svg" class="header__icon" />
      </header>
      <!-- header -->

      <!-- menu-mobile -->
      <div class="menu-mobile">
        <img
          src="../assets/logotype/small-logo.svg"
          class="menu-mobile__logo-small"
        />
        <div class="menu-mobile__dots">
          <div class="menu-mobile__dots_item"></div>
          <div class="menu-mobile__dots_item"></div>
          <div class="menu-mobile__dots_item"></div>
        </div>
      </div>
      <!-- menu-mobile -->

      <!-- articles -->
      <section class="articles">
        <div class="articles__title title-h1">Будьте здоровы!</div>
        <!-- Взять пример из article.html footer, НИКАКИХ ПОДЭЛЕМЕНТОВ -->
        <div class="articles__block">
          <div class="articles__column">
            <!-- articles-wrapper primary-habits-->
            <div class="articles-wrapper">
              <div
                class="articles-wrapper__img articles-wrapper__img_ice"
              ></div>
              <div class="article-item">
                <div
                  class="article-item__label article-item__label_primary-habits label"
                >
                  Привычки
                </div>
                <div class="title-h2 article-item__title">
                  Привычка недели: уходить в офлайн
                </div>
                <div class="article-item__description">
                  Кратко о цифровом детоксе
                </div>
              </div>
            </div>
            <!-- articles-wrapper primary-habits -->

            <!-- articles-wrapper children-health -->
            <div class="articles-wrapper">
              <div
                class="articles-wrapper__img articles-wrapper__img_boy-and-cow"
              ></div>
              <div class="article-item">
                <div
                  class="article-item__label article-item__label_children-health label"
                >
                  Детское здоровье
                </div>
                <div class="title-h2 article-item__title">
                  Как защитить себя от клещей?
                </div>
                <div class="article-item__description">
                  11 советов поведения в лесу и парке
                </div>
              </div>
            </div>
            <!-- articles-wrapper children-health -->

            <!-- articles-wrapper secondary-habits -->
            <div class="articles-wrapper">
              <div></div>
              <div class="article-item">
                <div
                  class="article-item__label article-item__label_secondary-habits label"
                >
                  Привычки
                </div>
                <div class="title-h2 article-item__title">
                  Привычка недели: работать <br />
                  с перерывами
                </div>
                <div class="article-item__description">
                  В условиях стресса и на рабочем месте часто кажется, что
                  отдыхать нельзя, нужно поднажать
                </div>
              </div>
            </div>
            <!-- articles-wrapper secondary-habits -->

            <!-- articles-wrapper myths-->
            <div class="articles-wrapper">
              <div></div>
              <div class="article-item">
                <div
                  class="article-item__label article-item__label_myths label"
                >
                  Мифы
                </div>
                <div class="title-h2 article-item__title">
                  Говорят, многоразовые прокладки — это негигиенично. Правда?
                </div>
                <div class="article-item__description">Разрушение легенд</div>
              </div>
            </div>
            <!-- articles-wrapper myths -->
          </div>
          <div class="articles__column">
            <!-- articles-wrapper insurance -->
            <div class="articles-wrapper">
              <div></div>
              <div class="article-item">
                <div
                  class="article-item__label article-item__label_insurance label"
                >
                  Страхование
                </div>
                <div class="title-h2 article-item__title">
                  7 прав пациента, которые полезно знать каждому
                </div>
                <div class="article-item__description">
                  Законы крепкого здоровья
                </div>
              </div>
            </div>
            <!-- articles-wrapper insurance -->

            <!-- articles-wrapper about-health -->
            <div class="articles-wrapper">
              <div></div>
              <div class="article-item">
                <div
                  class="article-item__label article-item__label_about-health label"
                >
                  Про здоровье
                </div>
                <div class="title-h2 article-item__title">
                  6 простых шагов <br />
                  к здоровью
                </div>
                <div class="article-item__description">
                  Регулярные меры по раннему выявлению и профилактике
                  заболеваний
                </div>
              </div>
            </div>
            <!-- articles-wrapper about-health -->

            <!-- articles-wrapper proactive -->
            <div class="articles-wrapper">
              <div
                class="articles-wrapper__img articles-wrapper__img_bananas"
              ></div>
              <div class="article-item">
                <div
                  class="article-item__label article-item__label_proactive label"
                >
                  Превентивность
                </div>
                <div class="title-h2 article-item__title">
                  Логика превентивного мышления
                </div>
                <div class="article-item__description">
                  Если усвоите эти вещи – считайте, что вы на коне
                </div>
              </div>
            </div>
            <!-- articles-wrapper proactive -->

            <!-- articles-wrapper healthy-lifestyle -->
            <div class="articles-wrapper">
              <div
                class="articles-wrapper__img articles-wrapper__img_lemons"
              ></div>
              <div class="article-item">
                <div
                  class="article-item__label article-item__label_healthy-lifestyle label"
                >
                  ЗОЖ
                </div>
                <div class="title-h2 article-item__title">
                  Учимся правильно стирать простыни и разбираться в составе
                  лекарств
                </div>
                <div class="article-item__description">Причём тут лимон?</div>
              </div>
            </div>
            <!-- articles-wrapper healthy-lifestyle -->
          </div>
        </div>
      </section>
      <!-- articles-->
    </main>
    <!-- main -->
  </body>
</html>
