<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/general.css" />
    <link rel="stylesheet" href="../styles/css/menu.css" />
    <link rel="stylesheet" href="../styles/css/article.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- menu -->
    <nav class="menu">
      <img
        class="menu__logotype-wide"
        src="../assets/logotype/wide-logotype.svg"
        alt=""
      />
      <img
        src="../assets/logotype/small-logo.svg"
        class="menu__logotype-small"
      />
      <div class="menu-item">
        <img
          src="../assets/images/daria_ivanovna.jpg"
          class="menu-item__icon"
        />
        <div class="menu-item__label">Дарья Иванова</div>
      </div>

      <div class="sub-header">Страховки</div>

      <div class="menu-item">
        <img src="../assets/icons/mediscinckaia.svg" class="menu-item__icon" />
        <div class="menu-item__label">Медицинская</div>
      </div>

      <div class="menu-item">
        <img src="../assets/icons/departure.svg" class="menu-item__icon" />
        <div class="menu-item__label">Для выезда за рубеж</div>
      </div>

      <div class="menu-item">
        <img src="../assets/icons/a_plus.svg" class="menu-item__icon" />
        <div class="menu-item__label">Добавить</div>
      </div>
    </nav>
    <!-- menu -->

    <!-- main -->
    <main class="main">
      <!-- header -->
      <header class="header">
        <img src="../assets/icons/sos.svg" class="header__icon" />
      </header>
      <!-- header -->

      <!-- menu-mobile -->
      <div class="menu-mobile">
        <img
          src="../assets/logotype/small-logo.svg"
          class="menu-mobile__logo-small"
        />
        <div class="menu-mobile__dots">
          <div class="menu-mobile__dots_item"></div>
          <div class="menu-mobile__dots_item"></div>
          <div class="menu-mobile__dots_item"></div>
        </div>
      </div>
      <!-- menu-mobile -->

      <!-- article -->
      <article class="article">
        <div class="article__title title-h1">Джозеф Листер и антисептик</div>
        <div class="article__image-antiseptic"></div>

        <div class="article__paragraph article__paragraph_first medium-font">
          Использование антисептика сейчас кажется таким же элементарным
          действием, как и ежедневная чистка зубов. Многие хранят в тумбочке
          санитайзер.
        </div>
        <div class="article__paragraph article__paragraph_second small-font">
          Психосоматика устойчиво отчуждает гендерный тест, следовательно
          основной закон психофизики: ощущение изменяется пропорционально
          логарифму раздражителя . С феноменологической точки зрения, субъект
          представляет собой объект. Скиннер, однако, настаивал, что онтогенез
          речи притягивает экзистенциальный интеллект. Психе мгновенно понимает
          материалистический аутотренинг. Здесь автор сталкивает два таких
          достаточно далёких друг от друга явления как поведенческая терапия
          конфронтально отчуждает ролевой.
        </div>
        <div class="article__image-people"></div>
        <div class="article__paragraph article__paragraph_third title-h2">
          Заголовок второго уровня
        </div>
        <div class="article__paragraph article__paragraph_fourth small-font">
          Психосоматика устойчиво отчуждает гендерный тест, следовательно
          основной закон психофизики: ощущение изменяется пропорционально
          логарифму раздражителя . С феноменологической точки зрения, субъект
          представляет собой объект. Скиннер, однако, настаивал, что онтогенез
          речи притягивает экзистенциальный интеллект. Психе мгновенно понимает
          материалистический аутотренинг. Здесь автор сталкивает два таких
          достаточно далёких друг от друга явления как поведенческая терапия
          конфронтально отчуждает ролевой.
        </div>
        <div class="article__paragraph article__paragraph_fifth small-font">
          Примерно до середины XIX века дезинфекция не проводилась даже перед
          операцией. Разумеется, часто случались серьезные заражения, и
          смертность от хирургических вмешательств просто зашкаливала. Впрочем,
          большинство врачей воспринимали такой ход событий как данность:
          считалось, что человек просто не предназначен для вскрытия, поэтому
          плохо переносит всякие там надрезы.
        </div>
        <div class="article__paragraph article__paragraph_sixth small-font">
          Результат работы Листера был мгновенно оценен: смертность после
          операций снизилась в разы. А имя Джозефа Листера увековечили, назвав в
          его честь бренд ополаскивателей для полости рта.
        </div>
      </article>

      <!-- article -->
    </main>
    <!-- main -->

    <!-- footer -->

    <footer class="footer">
      <div class="footer__container">
        <div class="footer__title title-h2">Другие материалы</div>
        <div class="footer__row">
          <div class="footer__column">
            <!-- article-wrapper__secondary-habits -->

            <div class="articles-wrapper">
              <div
                class="articles-wrapper__img articles-wrapper__img_ice"
              ></div>
              <div class="article-item">
                <div
                  class="article-item__label article-item__label_secondary-habits label"
                >
                  Привычки
                </div>
                <div class="title-h2 article-item__title">
                  Привычка недели: уходить в офлайн
                </div>
                <div class="article-item__description">
                  Кратко о цифровом детоксе
                </div>
              </div>
            </div>
            <!-- article-wrapper__secondary-habits -->
          </div>
          <div class="footer__column">
            <!-- article-wrapper__insurance -->
            <div class="articles-wrapper">
              <div></div>
              <div class="article-item">
                <div
                  class="article-item__label article-item__label_insurance label"
                >
                  Страхование
                </div>
                <div class="title-h2 article-item__title">
                  7 прав пациента, которые полезно знать каждому
                </div>
                <div class="article-item__description">
                  Законы крепкого здоровья
                </div>
              </div>
            </div>
            <!-- article-wrapper__insurance -->
          </div>
        </div>
      </div>
    </footer>
    <!-- footer -->
  </body>
</html>
