<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/auth.css" />
    <link rel="stylesheet" href="../styles/css/general.css" />
    <link rel="stylesheet" href="../styles/css/menu.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main class="main">
      <!-- header -->
      <header class="header-auth">
        <img src="../assets/logotype/wideLogotype.svg" />
        <img src="../assets/icons/sos.svg" />
      </header>
      <!-- header -->

      <!-- login-form -->
      <div
        class="login-form"
        style="background-image: url(../assets/images/loginForm.svg)"
      >
        <div class="login-form__container">
          <div class="login-form__header">Вход</div>

          <!-- primary-input -->
          <label class="login-form__input primary-input">
            <div class="primary-input__label">Номер телефона</div>
            <input class="primary-input__field" />
          </label>
          <!-- primary-input -->

          <!-- primary-button -->
          <button class="login-form__button primary-button">Продолжить</button>
          <!-- primary-button -->

          <!-- primary-link -->
          <a href="#" class="login-form__link primary-link">
            Вход для клиентов СК «Благосостояние»
          </a>
          <!-- primary-link -->

          <div class="login-form__description">
            Нажимая кнопку «Продолжить», вы выражаете согласие на обработку
            своих персональных данных и принимаете условия соглашения
          </div>
          <img src="../assets/icons/support.svg" class="login-form__icon" />
        </div>
      </div>
      <!-- login-form -->
      <!-- footer -->
      <div class="login-form__images">
        <img
          src="../assets/icons/badgeAppStore.svg"
          class="login-form__picture"
        />
        <img
          src="../assets/icons/badgeGooglePlay.svg"
          class="login-form__picture"
        />
      </div>
      <!-- footer -->
      <!-- menu-mobile -->
      <div class="menu-mobile">
        <img
          src="../assets/logotype/smallLogo.svg"
          class="menu-mobile__logo-small"
        />
        <div class="menu-mobile__dots">
          <div class="menu-mobile__dot"></div>
          <div class="menu-mobile__dot"></div>
          <div class="menu-mobile__dot"></div>
        </div>
      </div>
      <!-- menu-mobile -->
    </main>
  </body>
</html>
