<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/css/general.css" />
    <link rel="stylesheet" href="../styles/css/grids.css" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/typography.css" />
    <link rel="stylesheet" href="../styles/css/coolStuff.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- main -->
    <main class="main">
      <article class="article">
        <!-- beautiful shadows красивые тени -->
        <section class="custom-shadows">
          <h1 id="custom-shadows" class="custom-shadows__heading h2-font-h1">
            Нестандартные тени
          </h1>
          <p class="custom-shadows__description md-font">
            Иногда бывает нужно реализовать тени, отличающиеся от стандартных
            <b> box-shadow</b>, без применения картинок.
          </p>
          <p class="custom-shadows__description_indent-bottom md-font">
            Например, тени, наклонённые в разные стороны.
          </p>

          <div class="custom-shadows__container-shadows">
            <div class="custom-shadows__block-shadows">
              <h1 class="h2-font-h1">Блок с тенями</h1>
            </div>
          </div>
          <p class="custom-shadows__description md-font">
            Сделать это с помощью <b>box-shadow</b> невозможно. Поэтому нужно
            использовать более сложный приём:
          </p>
          <p class="custom-shadows__description md-font">
            - c помощью псевдоэлементов <b>before</b> и <b>after</b> создаём два
            блока с обычными тенями;
          </p>
          <p class="custom-shadows__description md-font">
            - наклоняем эти блоки с помощью <b>rotate</b>; <br />
          </p>
          <p class="custom-shadows__description_indent-right md-font">
            псевдоэлемент before блока shadow-box поворачиваем на 3° против
            часовой стрелки. <br />
            псевдоэлемент after — по часовой на 3°
          </p>
          <p class="custom-shadows__description md-font">
            - задаём им отрицательный
            <b>z-index</b>., уберём псевдоэлементы на задний план.
          </p>
          <p class="custom-shadows__description md-font">
            Это переместит блоки с тенями под родительский контейнер так, что
            наружу будут выглядывать только кусочки теней.
          </p>
          <div class="custom-shadows__container-shadows">
            <div class="custom-shadows__block-shadows-converted">
              <h1 class="h2-font-h1">Блок с тенями</h1>
            </div>
          </div>
        </section>
        <!-- beautiful shadows красивые тени -->

        <!-- hover-active Эффекты при наведении на кнопки -->
        <section class="hover-active">
          <h1 id="hover-active" class="hover-active__heading h2-font-h1">
            Эффекты при наведении на кнопки
          </h1>
          <p class="hover-active__description md-font">
            Довольно много интересных эффектов можно добиться с помощью
            трансформаций при реализации разных элементов интерфейса, например,
            кнопок. Им можно добавить немного динамики, используя
            <b>transform</b> совместно с <b>transition</b> для создания
            простейшей плавной анимации.
          </p>
          <p class="hover-active__description md-font">
            В следующих нескольких примерах мы создадим эффекты при наведении на
            кнопку. Во всех случаях будет применяться свойство
            <b>transition</b> для плавной смены значений трансформации или
            прозрачности.
          </p>

          <p class="hover-active__description md-font">
            В этом задании при наведении на кнопку будем динамически оборачивать
            вокруг своей оси иконку и одновременно немного её увеличивать.
          </p>
          <div class="hover-active__button-container">
            <div class="hover-active__button-block">
              <button
                class="hover-active__button hover-active__button_renovation"
              >
                <img
                  class="hover-active__icon hover-active__icon_renovation"
                  src="../assets/icons/coolStuff/update.jpg"
                  alt=""
                />
                обновить
              </button>
              <button class="hover-active__button hover-active__button_basket">
                <img
                  class="hover-active__icon hover-active__icon_hidden"
                  src="../assets/icons/coolStuff/shoppingBags02.jpg"
                  alt="Иконка корзины"
                />
                <img
                  class="hover-active__icon hover-active__icon_basket"
                  src="../assets/icons/coolStuff/shoppingBags03.jpg"
                  alt="Иконка корзины"
                />
                Купить
              </button>
              <button class="hover-active__button hover-active__button_message">
                <img
                  class="hover-active__icon hover-active__icon_hidden-message"
                  src="../assets/icons/coolStuff/messageOpen.jpg"
                  alt="Иконка корзины"
                />
                <img
                  class="hover-active__icon hover-active__icon_message"
                  src="../assets/icons/coolStuff/messsageClosed.jpg"
                  alt="Иконка корзины"
                />
                Прочитать
              </button>
            </div>
          </div>
        </section>
        <!-- hover-active Эффекты при наведении на кнопки -->

        <!-- active-gallery   Эффекты при наведении: галерея -->
        <section class="active-gallery">
          <h1 id="active-gallery" class="active-gallery__heading h2-font-h1">
            Эффекты при наведении: галерея
          </h1>
          <p class="active-gallery__description md-font">
            В любой ситуации, когда стоит задача плавно менять позицию или
            размеры блока, а также каким-либо способом менять его внешний вид,
            встаёт выбор: пользоваться связкой transition + transform или же
            задействовать javascript и динамически менять ширину/высоту,
            координаты объектов в скрипте.
          </p>
          <p class="active-gallery__description md-font">
            Зачастую выбор падает на JS-реализацию с помощью библиотеки jQuery,
            но в большинстве случаев «чистая» CSS-реализация простых визуальных
            эффектов намного производительнее аналогичных jQuery-функций. Кроме
            того, в ряде случаев определённые трансформации в CSS могут для
            повышения производительности задействовать не только центральный
            процессор компьютера или мобильного девайса, но и ресурсы
            графического адаптера, что позволяет разгрузить процессор и
            избавиться от «тормознутости» эффектов.
          </p>
          <p class="active-gallery__description md-font">
            В этом задании с помощью трансформации и плавных переходов реализуем
            простую мини-галерею картинок, которые увеличиваются и становятся
            полупрозрачными при наведении.
          </p>
          <div class="active-gallery__block">
            <ul class="active-gallery__deck">
              <li>
                <img
                  class="active-gallery__card active-gallery__card_ten"
                  src="../assets/icons/coolStuff/card10.png"
                  alt=""
                />
                <img
                  class="active-gallery__card active-gallery__card_queen"
                  src="../assets/icons/coolStuff/cardQueen.png"
                  alt=""
                />
                <img
                  class="active-gallery__card active-gallery__card_king"
                  src="../assets/icons/coolStuff/cardKing.png"
                  alt=""
                />
                <img
                  class="active-gallery__card active-gallery__card_ace"
                  src="../assets/icons/coolStuff/cardAce.png"
                  alt=""
                />
                <img
                  class="active-gallery__card active-gallery__card_ten"
                  src="../assets/icons/coolStuff/card10.png"
                  alt=""
                />
                <img
                  class="active-gallery__card active-gallery__card_jack"
                  src="../assets/icons/coolStuff/cardJack.png"
                  alt=""
                />
                <img
                  class="active-gallery__card active-gallery__card_queen"
                  src="../assets/icons/coolStuff/cardQueen.png"
                  alt=""
                />
              </li>
            </ul>
          </div>
        </section>
        <!-- active-gallery   Эффекты при наведении: галерея -->

        <!-- stack-cards Стопка» карт -->
        <section class="stack-cards">
          <h1 id="stack-cards" class="stack-cards__heading h2-font-h1">
            Стопка карт
          </h1>
          <p class="stack-cards__description md-font">
            В этом задании давайте создадим «стопку» карт. Без эффектов эти
            картинки абсолютно спозиционированы и располагаются слоями друг под
            другом. Наша задача — немного повернуть нижележащие карты, чтобы они
            выглядывали из-под верхних. Как обычно воспользуемся
            <b> transform: rotate.</b>
          </p>
          <div class="stack-cards__block">
            <div class="stack-cards__container">
              <ul class="stack-cards__deck">
                <li>
                  <img
                    class="stack-cards__card stack-cards__card_ten"
                    src="../assets/icons/coolStuff/card10.png"
                    alt=""
                  />
                  <img
                    class="stack-cards__card stack-cards__card_queen"
                    src="../assets/icons/coolStuff/cardQueen.png"
                    alt=""
                  />
                  <img
                    class="stack-cards__card stack-cards__card_king"
                    src="../assets/icons/coolStuff/cardKing.png"
                    alt=""
                  />
                  <img
                    class="stack-cards__card stack-cards__card_ace"
                    src="../assets/icons/coolStuff/cardAce.png"
                    alt=""
                  />
                  <img
                    class="stack-cards__card stack-cards__card_ten-2"
                    src="../assets/icons/coolStuff/card10.png"
                    alt=""
                  />
                  <img
                    class="stack-cards__card stack-cards__card_jack"
                    src="../assets/icons/coolStuff/cardJack.png"
                    alt=""
                  />
                  <img
                    class="stack-cards__card stack-cards__card_queen-2"
                    src="../assets/icons/coolStuff/cardQueen.png"
                    alt=""
                  />
                </li>
              </ul>
            </div>
          </div>
        </section>
        <!-- stack-cards Стопка» карт -->

        <!-- centering  -->
        <section class="centering">
          <h1 id="centering" class="centering__heading h2-font-h1">
            centering центрирование
          </h1>
          <p class="centering__description md-font">
            Рассмотрим центрирование изображений (блоков) точно по центру
            <b>экрана</b>, как по вертикали, так и по горизонтали. <br />
            При адаптации веб-страниц размеры блоков изменяются, возникают
            проблемы с центрированием. <br />
            С помощью трансформаций можно решать эти проблемы и центровать блоки
            с переменными размерами. <br />
            Делается это с помощью translate.
          </p>
          <div class="centering__description-block">
            <p class="centering__description h2-font">
              Для <b>img</b> и позиции <b>position: fixed;</b>
            </p>
            <p class="centering__description md-font">
              <b> position: fixed; </b> фиксируем на экране <br />
              <b> opacity: 0.5; </b> выбираем и задаём коэфициент прозрачности
              <br />
              <b> width: 25%; </b> задаём необходимую нам ширину фиксируемой
              картинки <br />
              <b> height </b> для <b>img</b> нет необходимости задавать высоту,
              она определяется самостоятельно, пропорционально ширине. Если
              задать высоту, то катринка сломается. <br />
              <b> top: 50%; </b> позиционирование от верха вниз 50% от высоты
              экрана <br />
              <b> left: 50%; </b> позиционирование слева направо 50% от ширины
              экрана <br />
              <b> transform: translate(-50%, -50%); </b> transform: translate;
              базируется на размер элемента, так что сконцентрируется красиво.
            </p>
          </div>
          <div class="centering__description-block">
            <p class="centering__description h2-font">
              Центрирование изображений (логотипов и тд) точно по центру
              <b>блоков</b>, в которые встраивается картинка.
            </p>
            <p class="centering__description md-font">
              <b> position: relative; </b> <br />
              <b> top: 50%; </b> <br />
              <b> left: 50%; </b> <br />
              <b> width: 50%; </b> <br />
              <b> height: 50%;</b> <br />
              <b> transform: translateX(-50%) translateY(-50%);</b> <br />
              <b> opacity: 0.5;</b>
            </p>
          </div>

          <div class="centering__block-image">
            <img
              class="centering__image-centering"
              src="../assets/images/telemed/telemedTopBlock.jpg"
              alt=""
            />
            <p class="centering__description_block md-font">
              Блоку родителю необходимо задать ширину в процентах и высоту,
              пропорционально больше высоты потомка (в данном случае в 2 раза).
            </p>
          </div>
        </section>
        <!-- centering  -->

        <!-- aspect-ratio -->
        <section class="aspect-ratio">
          <h1 id="aspect-ratio" class="aspect-ratio__heading h2-font-h1">
            Свойство CSS aspect-ratio: X / Y
            <span class="aspect-ratio__heading_span h2-font"
              >соотношение сторон</span
            >
          </h1>
          <p class="aspect-ratio__subheading h2-font">Синтакс</p>
          <p class="aspect-ratio__syntax md-font">aspect-ratio: X / Y;</p>
          <p class="aspect-ratio__description md-font">
            Где <b>X</b> - размер по горизонтали, <b>Y</b> - размер по
            вертикали. Задаются в процентах, пикселях, в абослютной ппропорции.
          </p>
          <p class="aspect-ratio__description md-font">
            aspect-ratio: 100% / 50%; <br />
            aspect-ratio: 455px / 221px; <br />
            aspect-ratio: 16 / 9;
          </p>
          <p class="aspect-ratio__description md-font">
            Если элемент имеет либо высоту, либо ширину, то неизвестная сторона
            рассчитывается исходя из соотношения сторон.
          </p>
          <p class="aspect-ratio__description md-font">
            Таким образом, aspect-ratio — это в основном способ установить
            другую сторону, когда у вас есть только одна.
          </p>

          <p class="aspect-ratio__description md-font">
            Если элемент имеет как высоту, так и ширину, aspect-ratio
            игнорируются. Сочетание явной высоты и ширины «сильнее», чем
            соотношение сторон.
          </p>
          <p class="aspect-ratio__subheading h2-font">
            Факторинг в min-*и max-*
          </p>
          <p class="aspect-ratio__description md-font">
            Всегда существуют пересечение между width, min-width и max-width
            (или версия height). Одно из них всегда «выигрывает». Как правило,
            это довольно интуитивно понятно.
          </p>
          <p class="aspect-ratio__description md-font">
            Если вы установите width: 100px; и min-width: 200px; то min-width
            будет иметь приоритет. Итак, min-width либо игнорируется, потому что
            у вас большее значение, либо имеет приоритет. То же самое касается
            max-width: если вы установите, width: 100px; а max-width: 50px; то
            max-width имеет приоритет. Итак, max-width либо игнорируется, потому
            что у вас уже меньшее значение, либо имеет приоритет.
          </p>

          <p class="aspect-ratio__description md-font">
            Похоже, что здесь действует общая интуитивность: свойства min-* и
            max-* либо имеют приоритет, либо не оказывают влияния на макет. И
            если они имеют приоритет, они сломают aspect-ratio.
          </p>
          <p class="aspect-ratio__description md-font">
            .el { <br />
            aspect-ratio: 1 / 4; <br />
            height: 500px; <br />
            <br />
            /* Игнорируется, потому что width вычисляется в 125px */ <br />
            /* min-width: 100px; */ <br />
            <br />
            /* Соотношение сторон становится 1 / 2 */ <br />
            /* min-width: 250px; */ <br />
            }
          </p>
          <p class="aspect-ratio__subheading h2-font">Со значениями функций</p>
          <p class="aspect-ratio__description md-font">
            Соотношения сторон всегда наиболее полезны в нестабильных ситуациях
            или в случае, когда вы заранее не знаете одного из размеров. Но даже
            когда вы не знаете это точно, вам часто нужно задать определенные
            ограничения. <br />
            Скажем, 50% — это круто, но вы хотите, чтобы значение не уменьшилось
            ниже 200 пикселей. Вы можете сделать ширину: max(50%, 200px);. Или
            задать максимальное и минимальное ограничения clamp(200px, 50%,
            400px);.
          </p>
          <p class="aspect-ratio__description md-font">
            Кажется, это работает интуитивно:
          </p>
          <p class="aspect-ratio__description md-font">
            .el { <br />
            aspect-ratio: 4 / 3; <br />
            width: clamp(200px, 50%, 400px); <br />
            }
          </p>
          <p class="aspect-ratio__description md-font">
            Но скажете, что у вас есть размер 200px, а затем вы применили
            min-width в 300px? min-width имеет приоритет. Это по-прежнему
            интуитивно понятно, но из-за того, что в расчеты могут быть
            вовлечены многие свойства, функции и значения, все становится
            сложным.
          </p>
          <p class="aspect-ratio__description md-font">
            Может быть, полезно представлять aspect-ratio, как самый низко
            приоритетный способ определения размера элемента?
          </p>
          <p class="aspect-ratio__description md-font">
            Он никогда не переопределит какую-либо другую информацию о размерах,
            но он всегда будет задавать ее размеры, если для этого измерения нет
            другой доступной информации.
          </p>

          <p class="aspect-ratio__description md-font">
            В примере ниже, пустым (без содержания) врапперам задано свойство
            <b>aspect-ratio: 282/216;</b> <br />
            И, как видим, соотношение 282/216 выдерживается.
          </p>
          <!-- aspect-ratio пример -->
          <div class="aspect-ratio__row row">
            <div class="aspect-ratio__column col-12 col-sm-4">
              <div class="aspect-ratio__wrapper"></div>
            </div>
            <div class="aspect-ratio__column col-12 col-sm-4">
              <div class="aspect-ratio__wrapper"></div>
            </div>
            <div class="aspect-ratio__column col-12 col-sm-4">
              <div class="aspect-ratio__wrapper"></div>
            </div>
          </div>
          <!-- aspect-ratio пример -->

          <p class="aspect-ratio__description md-font">
            В следующем примере враппер загружаем картинкой, через
            <b>background-image: url();</b>. <br />
            Врапперу высоту не задаём, у него есть только родительская ширина
            блока column, за минусом боковых паддингов. Так же, врапперам задано
            свойство
            <b>aspect-ratio: 282/216;</b>. Свойство прекрасно работает,
            соотношение сторон выдерживается, картинка не ломается.
          </p>
          <!-- aspect-ratio пример -->
          <div class="aspect-ratio__row row">
            <div class="aspect-ratio__column col-12 col-sm-4">
              <div
                class="aspect-ratio__wrapper"
                style="
                  background-image: url(../assets/images/tsarLanding/tsarLandingMan.jpg);
                "
              ></div>
            </div>
            <div class="aspect-ratio__column col-12 col-sm-4">
              <div
                class="aspect-ratio__wrapper"
                style="
                  background-image: url(../assets/images/tsarLanding/tsarLandingChild.jpg);
                "
              ></div>
            </div>
            <div class="aspect-ratio__column col-12 col-sm-4">
              <div
                class="aspect-ratio__wrapper"
                style="
                  background-image: url(../assets/images/tsarLanding/tsarLandingDoctor.jpg);
                "
              ></div>
            </div>
          </div>
          <!-- aspect-ratio пример -->

          <p class="aspect-ratio__description md-font">
            В следующем примере, во враппер загрузим картинку через <b>img</b>.
            <br />
            Врапперу пришлось отменить свойство aspect-ratio: <b>none</b>;
            <br />
            Это свойство, aspect-ratio: 282/216; задаём тегу <b>img</b>. <br />
            Что видим? Всё работает как надо. Только, внизу у картинок
            проглядывет полоска <b> background-color: gray;</b>, заданная
            врапперу, которая легко убирается.
          </p>
          <!-- aspect-ratio пример -->
          <div class="aspect-ratio__row row">
            <div class="aspect-ratio__column col-12 col-sm-4">
              <div class="aspect-ratio__wrapper aspect-ratio__wrapper_img">
                <img
                  class="aspect-ratio__picture"
                  src="../assets/images/tsarLanding/tsarLandingDoctor.jpg"
                  alt=""
                />
              </div>
            </div>
            <div class="aspect-ratio__column col-12 col-sm-4">
              <div class="aspect-ratio__wrapper aspect-ratio__wrapper_img">
                <img
                  class="aspect-ratio__picture"
                  src="../assets/images/tsarLanding/tsarLandingChild.jpg"
                  alt=""
                />
              </div>
            </div>
            <div class="aspect-ratio__column col-12 col-sm-4">
              <div class="aspect-ratio__wrapper aspect-ratio__wrapper_img">
                <img
                  class="aspect-ratio__picture"
                  src="../assets/images/tsarLanding/tsarLandingMan.jpg"
                  alt=""
                />
              </div>
            </div>
          </div>
          <!-- aspect-ratio пример -->
          <p class="aspect-ratio__description md-font"></p>
          <p class="aspect-ratio__description md-font"></p>
        </section>
        <!-- aspect-ratio -->

        <!-- ::after и ::before -->
        <section class="after-before">
          <h1 id="after-before" class="after-before__heading h2-font-h1">
            ::after и ::before
          </h1>
          <p class="after-before__description md-font">
            Использование псевдоэлементов ::after и ::before является одним из
            самых популярных приёмов при вёрстке фрагментов веб-страниц и их
            стилизации. С их помощью можно выводить произвольный текст,
            добавлять тени, треугольники, линии и др.
          </p>
          <p class="after-before__description md-font">
            Фактически, ::after и ::before заменяют собой два обычных элемента в
            коде HTML, к которым можно добавлять любое стилевое оформление. Но
            поскольку мы всё делаем через CSS, то в полной мере сохраняется
            принцип разделения содержания и оформления. Тем самым, код HTML
            остаётся простым и чистым, а дизайн элементов возлагается на CSS.
          </p>
          <p class="after-before__description md-font">
            Переписывать и изучать статью будем потом. Если срочно надо, то
            ныряем
            <a class="after-before__description_link md-font" href="">сюда</a>
          </p>
          <p class="after-before__description md-font"></p>
        </section>
        <!-- ::after и ::before -->
      </article>

      <!-- menu-mobile -->
      <div class="menu-mobile">
        <img
          src="../assets/logotype/smallLogo.svg"
          class="menu-mobile__logo-small"
        />
        <div class="menu-mobile__dots">
          <div class="menu-mobile__dots_item"></div>
          <div class="menu-mobile__dots_item"></div>
          <div class="menu-mobile__dots_item"></div>
        </div>
      </div>
      <!-- menu-mobile -->
    </main>
    <!-- main -->

    <!-- menu -->
    <nav class="menu">
      <!-- transform-list -->
      <ul class="menu__list">
        <a class="menu__link h2-font" href="../templates/transformations.html">
          Двумерные трансформации</a
        >
        <li class="menu__item menu__transform">
          <a class="menu__item_link md-font" href="#transformations"
            >Трансформация элемента</a
          >
        </li>
        <li class="menu__item menu__transform">
          <a class="menu__item_link md-font" href="#translate-x"
            >Сдвиг по горизонтали</a
          >
        </li>
        <li class="menu__item menu__transform">
          <a class="menu__item_link md-font" href="#translate-y"
            >Сдвиг по вертикали</a
          >
        </li>
        <li class="menu__item menu__transform">
          <a class="menu__item_link md-font" href="#translate"
            >Сдвиг по горизонтали и вертикали</a
          >
        </li>
        <li class="menu__item menu__transform">
          <a class="menu__item_link md-font" href="#scale"
            >Изменение масштаба элемента</a
          >
        </li>
        <li class="menu__item menu__transform">
          <a class="menu__item_link md-font" href="#scale-x"
            >Изменение масштаба по горизонтали</a
          >
        </li>
        <li class="menu__item menu__transform">
          <a class="menu__item_link md-font" href="#scale-y"
            >Изменение масштаба по вертикали</a
          >
        </li>
        <li class="menu__item menu__transform">
          <a class="menu__item_link md-font" href="#rotate">Поворот элемента</a>
        </li>
        <li class="menu__item menu__transform">
          <a class="menu__item_link md-font" href="#skew-x"
            >Наклон элемента по горизонтали</a
          >
        </li>
        <li class="menu__item menu__transform">
          <a class="menu__item_link md-font" href="#skew-y"
            >Наклон элемента по вертикали</a
          >
        </li>
        <li class="menu__item menu__transform">
          <a class="menu__item_link md-font" href="#transform-origin"
            >Координаты трансформации элемента.</a
          >
        </li>
      </ul>
      <!-- transform-list -->

      <!-- transitions_list -->
      <ul class="menu__list">
        <a
          class="menu__link h2-font"
          href="../templates/smoothTransitions.html"
        >
          Плавные переходы
        </a>
        <li class="menu__item menu__transitions">
          <a class="menu__item_link md-font" href="#transition"
            >Универсальное свойство</a
          >
        </li>
        <li class="menu__item menu__transitions">
          <a class="menu__item_link md-font" href="#transition-duration"
            >Длительность перехода</a
          >
        </li>
        <li class="menu__item menu__transitions">
          <a class="menu__item_link md-font" href="#transition-property"
            >Какие свойства плавно изменять</a
          >
        </li>
        <li class="menu__item menu__transitions">
          <a class="menu__item_link md-font" href="#transition-delay"
            >Задержка перехода
          </a>
        </li>
        <li class="menu__item menu__transitions">
          <a class="menu__item_link md-font" href="#transition-timing-function"
            >Скорость и ускорение переходов
          </a>
        </li>
        <li class="menu__item menu__transitions">
          <a class="menu__item_link md-font" href="#example"
            >примеры timing-function переходов</a
          >
        </li>
        <li class="menu__item menu__transitions">
          <a class="menu__item_link md-font" href="#graphics-transition"
            >Графики переходов</a
          >
        </li>
      </ul>
      <!-- transitions_list -->

      <!-- gradient_list -->
      <ul class="menu__list">
        <a class="menu__link h2-font" href="../templates/linearGradient.html">
          Линейный градиент</a
        >
        <li class="menu__item menu__gradient">
          <a class="menu__item_link md-font" href="#linear-gradient"
            >Линейный градиент</a
          >
        </li>
        <li class="menu__item menu__gradient">
          <a class="menu__item_link md-font" href="#examples"
            >Примеры прямых и диогональных переходов</a
          >
        </li>
        <li class="menu__item menu__gradient">
          <a class="menu__item_link md-font" href="#angled-gradients"
            >Градиенты под углом</a
          >
        </li>
        <li class="menu__item menu__gradient">
          <a class="menu__item_link md-font" href="#sample-flower"
            >Градиенты под углом, пример:</a
          >
        </li>
        <li class="menu__item menu__gradient">
          <a class="menu__item_link md-font" href="#sample"
            >Множество градиентов</a
          >
        </li>
        <li class="menu__item menu__gradient">
          <a class="menu__item_link md-font" href="#color-stop">
            Пропорции цветов и колорстопы</a
          >
        </li>
        <li class="menu__item menu__gradient">
          <a class="menu__item_link md-font" href="#color-stop-sample"
            >Примеры колор стопов</a
          >
        </li>
        <li class="menu__item menu__gradient">
          <a class="menu__item_link md-font" href="#repeating-gradient">
            Повторяющийся линейный градиент</a
          >
        </li>
        <li class="menu__item menu__gradient">
          <a class="menu__item_link md-font" href="#stylish-buttons"
            >Стильные кнопки</a
          >
        </li>
        <li class="menu__item menu__gradient">
          <a class="menu__item_link md-font" href="#footer">Рекомендации</a>
        </li>
      </ul>
      <!-- gradient_list -->

      <!-- shadow_list -->
      <ul class="menu__list">
        <a class="menu__link h2-font" href="../templates/boxShadow.html">
          Тени box-shadow
        </a>

        <li class="menu__item menu__shadow">
          <a class="menu__item_link md-font" href="#box-shadow">
            Тени box-shadow</a
          >
        </li>
      </ul>
      <!-- shadow_list -->

      <!-- stuff_list -->
      <ul class="menu__list">
        <a class="menu__link h2-font" href="../templates/coolStuff.html"
          >Крутые вещи</a
        >
        <li class="menu__item menu__stuff">
          <a class="menu__item_link md-font" href="#custom-shadows"
            >Нестандартные тени</a
          >
        </li>
        <li class="menu__item menu__stuff">
          <a class="menu__item_link md-font" href="#hover-active">
            Эффекты при наведении на кнопки</a
          >
        </li>
        <li class="menu__item menu__stuff">
          <a class="menu__item_link md-font" href="#active-gallery">
            Эффекты при наведении на галерею</a
          >
        </li>
        <li class="menu__item menu__stuff">
          <a class="menu__item_link md-font" href="#stack-cards"
            >Стопка" карт</a
          >
        </li>
        <li class="menu__item menu__stuff">
          <a class="menu__item_link md-font" href="#centering"
            >Центрирование изображений
          </a>
        </li>
        <li class="menu__item menu__stuff">
          <a class="menu__item_link md-font" href="#aspect-ratio">
            Свойство CSS aspect-ratio: X / Y</a
          >
        </li>
        <li class="menu__item menu__stuff">
          <a class="menu__item_link md-font" href="#after-before"
            >::after и ::before</a
          >
        </li>

        <li class="menu__item menu__stuff">
          <a class="menu__item_link md-font" href=""></a>
        </li>
        <li class="menu__item menu__stuff">
          <a class="menu__item_link md-font" href=""></a>
        </li>
        <li class="menu__item menu__stuff">
          <a class="menu__item_link md-font" href=""></a>
        </li>
        <li class="menu__item menu__stuff">
          <a class="menu__item_link md-font" href=""></a>
        </li>
      </ul>
      <!-- stuff_list -->
    </nav>
    <!-- menu -->
    <header class="header"></header>
  </body>
</html>
