<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- html:5 -->
    <header class="header">
      <h1 class="title"></h1>
    </header>
    <nav class="menu">
      <a href="" class="menu__item_01"></a>
      <a href="" class="menu__item_02"></a>
      <a href="" class="menu__item_03"></a>
      <a href="" class="menu__item_04"></a>
      <a href="" class="menu__item_05"></a>
    </nav>
  </body>
</html>
