<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/typography.css" />
    <link rel="stylesheet" href="../styles/css/sos.css" />
    <link rel="stylesheet" href="../styles/css/general.css" />
    <link rel="stylesheet" href="../styles/css/menu.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- menu -->
    <nav class="menu">
      <img
        class="menu__logo"
        src="../assets/logotype/wideLogotype.svg"
        alt=""
      />
      <img class="menu__logo-small" src="../assets/logotype/smallLogo.svg" />
      <div class="menu__sector">
        <img src="../assets/images/menuDaria.jpg" class="menu__icon" />
        <p class="menu__title">Дарья Иванова</p>
      </div>

      <a class="menu__sub sub-header" href="#">Страховки</a>

      <a class="menu__sector" href="#">
        <img src="../assets/icons/mediscinckaia.svg" class="menu__icon" />
        <p class="menu__title">Медицинская</p></a
      >

      <a class="menu__sector" href="#">
        <img src="../assets/icons/departure.svg" class="menu__icon" />
        <p class="menu__title">Для выезда за рубеж</p>
      </a>

      <a class="menu__sector" href="#">
        <img src="../assets/icons/plus.svg" class="menu__icon" />
        <p class="menu__title">Добавить</p>
      </a>
    </nav>
    <!-- menu -->

    <!-- main -->
    <main class="main">
      <!-- main__header -->
      <header class="header">
        <img src="../assets/icons/sosRed.svg" class="header__icon" />
      </header>
      <!-- main__header -->

      <!-- menu-mobile -->
      <div class="menu-mobile">
        <img
          src="../assets/logotype/smallLogo.svg"
          class="menu-mobile__logo-small"
        />
        <div class="menu-mobile__dots">
          <div class="menu-mobile__dot"></div>
          <div class="menu-mobile__dot"></div>
          <div class="menu-mobile__dot"></div>
        </div>
      </div>
      <!-- menu-mobile -->

      <!-- top-block -->

      <div class="top-block">
        <h1 class="top-block__help h1-font">Скорая помощь</h1>
        <p class="top-block__phone-label md-font">Телефон для вызова скорой</p>
        <h1 class="top-block__phone-value h1-font">+7 (495) 725–10–10</h1>
        <p class="top-block__policy md-font">Номер вашего полиса ДМС</p>
        <p class="top-block__policy-value md-font">001ДМС34240118/175</p>
      </div>
      <!-- top-block -->

      <!-- attention -->
      <div class="attention">
        <!-- list -->

        <ul class="list">
          <p class="list-title md-font">Когда стоит вызвать скорую помощь?</p>

          <li class="list-item">
            <div class="list-item__dot"></div>
            <p class="list-item__text md-font">Перегрев, тепловой удар</p>
          </li>
          <li class="list-item">
            <div class="list-item__dot"></div>
            <p class="list-item__text md-font">Обморок, потеря сознания</p>
          </li>
          <li class="list-item">
            <div class="list-item__dot"></div>
            <p class="list-item__text md-font">
              Травмы, кровотечения, ожоги, укусы
            </p>
          </li>
          <li class="list-item">
            <div class="list-item__dot"></div>
            <p class="list-item__text md-font">
              Отравления лекарствами и другими веществами
            </p>
          </li>
          <li class="list-item">
            <div class="list-item__dot"></div>
            <p class="list-item__text md-font">
              Удушье, слабый или неровный пульс
            </p>
          </li>
          <li class="list-item">
            <div class="list-item__dot"></div>
            <p class="list-item__text md-font">
              Роды или угроза прерывания беременности
            </p>
          </li>
          <li class="list-item">
            <div class="list-item__dot"></div>
            <p class="list-item__text md-font">Инородный предмет в организме</p>
          </li>
        </ul>
        <!-- list -->

        <!-- info-block -->
        <div class="info-block">
          <img src="../assets/icons/attention.svg" class="info-block__icon" />
          <p class="info-block__text md-font">
            Если у вас болит в груди или животе, внезапно возникли отеки или
            онемела часть тела, лучше свяжитесь с врачом для консультации.
          </p>
        </div>
      </div>
      <!-- info-block -->

      <!-- attention -->
    </main>
    <!-- main -->
  </body>
</html>
