<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/sos.css" />
    <link rel="stylesheet" href="../styles/css/general.css" />
    <link rel="stylesheet" href="../styles/css/menu.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- menu -->
    <nav class="menu">
      <img
        class="menu__logotype-wide"
        src="../assets/logotype/wide-logotype.svg"
        alt=""
      />
      <img
        src="../assets/logotype/small-logo.svg"
        class="menu__logotype-small"
      />
      <div class="menu-item">
        <img
          src="../assets/images/daria_ivanovna.jpg"
          class="menu-item__icon"
        />
        <div class="menu-item__label">Дарья Иванова</div>
      </div>

      <div class="sub-header">Страховки</div>

      <div class="menu-item">
        <img src="../assets/icons/mediscinckaia.svg" class="menu-item__icon" />
        <div class="menu-item__label">Медицинская</div>
      </div>

      <div class="menu-item">
        <img src="../assets/icons/departure.svg" class="menu-item__icon" />
        <div class="menu-item__label">Для выезда за рубеж</div>
      </div>

      <div class="menu-item">
        <img src="../assets/icons/a_plus.svg" class="menu-item__icon" />
        <div class="menu-item__label">Добавить</div>
      </div>
    </nav>
    <!-- menu -->

    <!-- main -->
    <main class="main">
      <!-- main__header -->
      <header class="header">
        <img src="../assets/icons/sos_red.svg" class="header__icon" />
      </header>

      <!-- main__header -->

      <!-- menu-mobile -->
      <div class="menu-mobile">
        <img
          src="../assets/logotype/small-logo.svg"
          class="menu-mobile__logo-small"
        />
        <div class="menu-mobile__dots">
          <div class="menu-mobile__dots_item"></div>
          <div class="menu-mobile__dots_item"></div>
          <div class="menu-mobile__dots_item"></div>
        </div>
      </div>
      <!-- menu-mobile -->

      <!-- top-block -->

      <div class="top-block">
        <div class="top-block__help">Скорая помощь</div>
        <div class="top-block__phone-label">Телефон для вызова скорой</div>
        <div class="top-block__phone-value">+7 (495) 725–10–10</div>
        <div class="top-block__policy">Номер вашего полиса ДМС</div>
        <div class="top-block__policy-value">001ДМС34240118/175</div>
      </div>
      <!-- top-block -->

      <!-- attention -->
      <div class="attention">
        <!-- list -->

        <ul class="list">
          <p class="list-title">Когда стоит вызвать скорую помощь?</p>

          <li class="list-item">
            <div class="list-item__dot"></div>
            <div class="list-item__text">Перегрев, тепловой удар</div>
          </li>
          <li class="list-item">
            <div class="list-item__dot"></div>
            <div class="list-item__text">Обморок, потеря сознания</div>
          </li>
          <li class="list-item">
            <div class="list-item__dot"></div>
            <div class="list-item__text">
              Травмы, кровотечения, ожоги, укусы
            </div>
          </li>
          <li class="list-item">
            <div class="list-item__dot"></div>
            <div class="list-item__text">
              Отравления лекарствами и другими веществами
            </div>
          </li>
          <li class="list-item">
            <div class="list-item__dot"></div>
            <div class="list-item__text">Удушье, слабый или неровный пульс</div>
          </li>
          <li class="list-item">
            <div class="list-item__dot"></div>
            <div class="list-item__text">
              Роды или угроза прерывания беременности
            </div>
          </li>
          <li class="list-item">
            <div class="list-item__dot"></div>
            <div class="list-item__text">Инородный предмет в организме</div>
          </li>
        </ul>
        <!-- list -->
        <!-- info-block -->
        <div class="info-block">
          <img src="../assets/icons/attention.svg" class="info-block__icon" />
          <div class="info-block__text">
            Если у вас болит в груди или животе, внезапно возникли отеки или
            онемела часть тела, лучше свяжитесь с врачом для консультации.
          </div>
        </div>
      </div>
      <!-- info-block -->

      <!-- attention -->
    </main>
    <!-- main -->
  </body>
</html>
