<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/general.css" />
    <link rel="stylesheet" href="../styles/css/grids.css" />
    <link rel="stylesheet" href="../styles/css/typography.css" />
    <link rel="stylesheet" href="../styles/css/telemed.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main class="main">
      <!-- top-block -->
      <section
        class="top-block"
        style="background-image: url(../assets/images/telemed/handPhone.jpg)"
      >
        <div class="top-block__container container">
          <h1 class="top-block__heading">
            Консультации с врачами
            <span class="top-block__heading_span"> онлайн</span>
          </h1>

          <p class="top-block__subhead">
            Получите квалифицированную помощь без посещения поликлиники.
          </p>
          <p class="top-block__subhead">
            Срочные вопросы, расшифровка анализов
            <span class="top-block__subhead_span"
              >и обследований круглосуточно из дома.</span
            >
          </p>
          <div class="top-block__button-container">
            <button class="primary-button">Выбрать полис</button>
          </div>
        </div>
      </section>
      <!-- top-block -->

      <!-- prising -->
      <section class="prising">
        <h1 class="prising__heading">
          Консультации с врачами онлайн без ограничений.

          <span class="prising__heading_span"> Доставка лекарств</span>
        </h1>

        <div class="prising__body">
          <div
            class="prising__column"
            style="background-image: url(../assets/icons/cloudsFirst.svg)"
          >
            <div class="prising__wrapper">
              <div>
                <p class="prising__quantity">1</p>
                <p class="prising__month">месяц</p>
              </div>
              <p class="prising__price">100 ₽</p>
              <p class="prising__description">Самый популярный</p>
            </div>
            <div>
              <button class="prising__button primary-button">Выбрать</button>
            </div>
          </div>

          <div
            class="prising__column"
            style="background-image: url(../assets/icons/cloudsSecond.svg)"
          >
            <div class="prising__wrapper">
              <div>
                <p class="prising__quantity">3</p>
                <p class="prising__month">месяца</p>
              </div>
              <p class="prising__price">700 ₽</p>
              <p class="prising__description">Практичный</p>
            </div>
            <div>
              <button class="prising__button primary-button">Выбрать</button>
            </div>
          </div>

          <div
            class="prising__column"
            style="background-image: url(../assets/icons/cloudsThird.svg)"
          >
            <div class="prising__wrapper">
              <div>
                <p class="prising__quantity">12</p>
                <p class="prising__month">месяцев</p>
              </div>
              <p class="prising__price">900 ₽</p>
              <p class="prising__description">Выгодный</p>
            </div>
            <div>
              <button class="prising__button primary-button">Выбрать</button>
            </div>
          </div>
        </div>
      </section>
      <!-- prising -->

      <!-- services -->
      <section class="services">
        <div class="container">
          <div class="services__row row">
            <div class="col-12 col-md-4">
              <div class="services__wrapper">
                <img
                  class="services__icon"
                  src="../assets/icons/clock.svg"
                  alt=""
                />

                <p class="services__title">Круглосуточно и без выходных</p>
                <p class="services__discription">
                  Онлайн-консультация терапевта и врачей специалистов 24/7
                </p>
              </div>
            </div>

            <div class="col-12 col-md-4">
              <div class="services__wrapper">
                <img
                  class="services__icon"
                  src="../assets/icons/house.svg"
                  alt=""
                />

                <p class="services__title">Не выходя из дома</p>
                <p class="services__discription">
                  Консультация в чате или по аудио или видеосвязи
                </p>
              </div>
            </div>

            <div class="col-12 col-md-4">
              <div class="services__wrapper">
                <img
                  class="services__icon"
                  src="../assets/icons/clock.svg"
                  alt=""
                />

                <p class="services__title">Безлимитные консультации</p>
                <p class="services__discription">
                  Вы платите один раз и можете получать консультации у
                  специалистов в течение года
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- services -->

      <!-- content -->
      <section class="content">
        <div class="container">
          <h1 class="content__heading">Как это работает</h1>
          <div class="row">
            <!-- content-list -->
            <div class="content-list col-12 col-md-6">
              <ul>
                <li class="content-list__item">
                  Оформите подходящий пакет на 1, 3 или 12 месяцев.
                </li>
                <li class="content-list__item">
                  Войдите по номеру телефона в личный кабинет «Ренессанс
                  здоровье». На
                  <a class="content-list__link" href="">сайте</a>
                  или в приложении.
                </li>
                <li class="content-list__item">
                  Выберите врача в разделе «Онлайн-консультации».
                </li>
                <li class="content-list__item">
                  Общайтесь в удобном для вас формате
                </li>
              </ul>
              <p class="online-consultation">
                Онлайн-консультации — безопасный способ решить медицинские
                вопросы. Квалифицированные врачи помогут разобраться с
                симптомами, назначенными при лечении препаратами, дадут «второе
                мнение», если сомневаетесь в диагнозе.
              </p>
            </div>
            <!-- content-list -->

            <!-- content__image -->
            <div class="content-image col-12 col-md-6">
              <div
                class="content-image__wrapper"
                style="
                  background-image: url(../assets/images/telemed/phone.png);
                "
              ></div>
            </div>
            <!-- content__image -->
          </div>
        </div>
      </section>
      <!-- content -->

      <!-- policy -->
      <section class="policy">
        <div class="policy__head">
          <h1 class="policy__heading">Оформить полис</h1>
        </div>
        <div class="policy__body">
          <div class="policy__container">
            <!-- secondary-input -->
            <label class="secondary-input">
              <div class="secondary-input__label">Фамилия</div>
              <input class="secondary-input__field" />
            </label>
            <!-- secondary-input -->

            <!-- secondary-input -->
            <label class="secondary-input">
              <div class="secondary-input__label">Имя</div>
              <input class="secondary-input__field" />
            </label>
            <!-- secondary-input -->

            <!-- secondary-input -->
            <label class="secondary-input">
              <div class="secondary-input__label">Отчество</div>
              <input class="secondary-input__field" />
            </label>
            <!-- secondary-input -->

            <!-- secondary-input -->
            <label class="secondary-input">
              <div class="secondary-input__label">Мобильный телефон</div>
              <input class="secondary-input__field" />
            </label>
            <!-- secondary-input -->

            <!-- rh-checkbox -->
            <div class="policy__checkbox">
              <label tabindex="0" role="checkbox" id="" class="r-checkbox">
                <span class="r-checkbox__checker"></span>

                <input
                  id="Checkbox"
                  type="checkbox"
                  class="r-checkbox__input"
                />
                <div class="r-checkbox__agreeLink">
                  Продолжая, соглашаюсь с
                  <a target="_blank" href="#" class="r-checkbox__link">
                    правилами
                  </a>
                  и
                  <a target="_blank" href="#" class="r-checkbox__link"
                    >программой</a
                  >
                  страхования
                </div>
              </label>
            </div>
            <!-- rh-checkbox -->

            <!-- primary-button -->
            <button class="policy-form__button primary-button">Оформить</button>
            <!-- primary-button -->
          </div>
        </div>
      </section>
      <!-- policy -->

      <!-- footer -->
      <footer class="footer">
        <div class="container">
          <div class="footer__block">
            <p class="footer__string">
              Медицинские услуги оказываются партнерами:
            </p>
            <p class="footer__string">
              ООО «Медкорп», Лицензия № ЛО-50-01-009076 от 10 Октября 2017 года.

              <span class="footer__string footer__string_span">
                Адрес: 115114, г. Москва, Дербеневская наб. д. 7, стр. 22</span
              >
            </p>
            <p class="footer__string">
              ООО «Доктор Рядом», Лицензия № ЛО-77-01-013560 от 29 Ноября 2016
              года.
              <span class="footer__string footer__string_span">
                Адрес: 107076, г. Москва, ул. Краснобогатырская, д. 44, стр.
                1</span
              >
            </p>
          </div>
        </div>
      </footer>
      <!-- footer -->

      <!-- header -->
      <header class="header">
        <div class="header__fixed">
          <div class="container">
            <div class="header__row row">
              <img
                class="header__images header__images_horisontal"
                src="../assets/logotype/horizontal.svg"
                alt=""
              />
              <img
                class="header__images header__images_small"
                src="../assets/logotype/smallLogo.svg"
                alt=""
              />
              <form action="" method="post" class="header__form">
                <select class="header__select" name="sity">
                  <option class="header__select_item" value="Москва">
                    Москва
                  </option>
                  <option value="Санкт-Петербург">Санкт-Петербург</option>
                  <option value="Самара">Самара</option>
                  <option value="Другие регионы">Другие регионы</option>
                </select>
              </form>
            </div>
          </div>
        </div>
      </header>
      <!-- header -->
    </main>
  </body>
</html>
