<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/css/general.css" />
    <link rel="stylesheet" href="../styles/css/grids.css" />
    <link rel="stylesheet" href="../styles/css/typography.css" />
    <link rel="stylesheet" href="../styles/css/telemed.css" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main class="main">
      <article class="page">
        <!-- top-block -->
        <div
          class="top-block"
          style="
            background-image: url(../assets/images/telemed/telemedTopBlock.jpg);
          "
        >
          <div class="top-block__container container">
            <div class="row">
              <h1 class="top-block__headering col-12 col-sm-9 col-md-7 h1-font">
                Консультации с врачами
                <span class="top-block__headering_span"> онлайн</span>
              </h1>
              <p class="top-block__offer col-12 col-sm-9 col-md-7 sm-font-md">
                Получите квалифицированную помощь без посещения поликлиники.
                Срочные вопросы, расшифровка анализов
                <span> и обследований круглосуточно из дома.</span>
              </p>
              <div class="col-12">
                <button class="top-block__button primary-button">
                  Выбрать полис
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- top-block -->

        <!-- prising -->
        <section class="prising">
          <!-- prising__header -->
          <div class="prising-header container">
            <div class="prising-header__headering">
              <h1 class="prising-header__title h2-font">
                Консультации с врачами онлайн без ограничений.

                <span class="prising-header__title_span h2-font">
                  Доставка лекарств</span
                >
              </h1>
            </div>
          </div>
          <!-- prising__header -->

          <!-- prising__container -->
          <div class="prising__container container">
            <div class="prising__row">
              <!-- prising__column -->
              <div
                class="prising__column"
                style="background-image: url(../assets/icons/clouds1.svg)"
              >
                <div class="prising__wrapper">
                  <div class="prising__time">
                    <p class="prising__time_number h1-font">1</p>
                    <p class="prising__time_data md-font">месяц</p>
                  </div>
                  <p class="prising__price md-font">100 ₽</p>
                  <p class="prising__name sm-font-md">Самый популярный</p>
                </div>
                <div>
                  <button class="prising__button primary-button">
                    Выбрать
                  </button>
                </div>
              </div>
              <!-- prising__column -->

              <!-- prising__column -->
              <div
                class="prising__column"
                style="background-image: url(../assets/icons/clouds2.svg)"
              >
                <div class="prising__wrapper">
                  <div class="prising__time">
                    <p class="prising__time_number h1-font">3</p>
                    <p class="prising__time_data md-font">месяца</p>
                  </div>
                  <p class="prising__price md-font">700 ₽</p>
                  <p class="prising__name sm-font-md">Практичный</p>
                </div>
                <div>
                  <button class="prising__button primary-button">
                    Выбрать
                  </button>
                </div>
              </div>
              <!-- prising__column -->

              <!-- prising__column -->
              <div
                class="prising__column"
                style="background-image: url(../assets/icons/clouds3.svg)"
              >
                <div class="prising__wrapper">
                  <div class="prising__time">
                    <p class="prising__time_number h1-font">12</p>
                    <p class="prising__time_data md-font">месяцев</p>
                  </div>
                  <p class="prising__price md-font">900 ₽</p>
                  <p class="prising__name sm-font-md">Выгодный</p>
                </div>
                <div>
                  <button class="prising__button primary-button">
                    Выбрать
                  </button>
                </div>
              </div>
              <!-- prising__column -->
            </div>
          </div>
          <!-- prising__container -->
        </section>
        <!-- prising -->

        <!-- services -->
        <section class="services">
          <div class="container">
            <div class="services__row row">
              <!-- services__column -->
              <div class="col-12 col-md-4">
                <div class="services__wrapper">
                  <img
                    class="services__icon"
                    src="../assets/icons/clock.svg"
                    alt=""
                  />

                  <p class="services__title md-font">
                    Круглосуточно и без выходных
                  </p>
                  <p class="services__discription md-font">
                    Онлайн-консультация терапевта и врачей специалистов 24/7
                  </p>
                </div>
              </div>
              <!-- services__column -->

              <!-- services__column -->
              <div class="col-12 col-md-4">
                <div class="services__wrapper">
                  <img
                    class="services__icon"
                    src="../assets/icons/house.svg"
                    alt=""
                  />

                  <p class="services__title md-font">Не выходя из дома</p>
                  <p class="services__discription md-font">
                    Консультация в чате или по аудио или видеосвязи
                  </p>
                </div>
              </div>
              <!-- services__column -->

              <!-- services__column -->
              <div class="col-12 col-md-4">
                <div class="services__wrapper">
                  <img
                    class="services__icon"
                    src="../assets/icons/clock.svg"
                    alt=""
                  />

                  <p class="services__title md-font">
                    Безлимитные консультации
                  </p>
                  <p class="services__discription md-font">
                    Вы платите один раз и можете получать консультации у
                    специалистов в течение года
                  </p>
                </div>
              </div>
              <!-- services__column -->
            </div>
          </div>
        </section>
        <!-- services -->

        <!-- content -->
        <section class="content">
          <div class="content__container-top container">
            <div class="content__headering">
              <h1 class="content__title h1-font">Как это работает</h1>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <!-- content-list -->
              <div class="content-list col-12 col-md-6">
                <ul>
                  <li class="content-list__item md-font">
                    Оформите подходящий пакет на 1, 3 или 12 месяцев.
                  </li>
                  <li class="content-list__item md-font">
                    Войдите по номеру телефона в личный кабинет «Ренессанс
                    здоровье». На
                    <a class="content-list__link md-font" href="">сайте</a>
                    или в приложении.
                  </li>
                  <li class="content-list__item md-font">
                    Выберите врача в разделе «Онлайн-консультации».
                  </li>
                  <li class="content-list__item md-font">
                    Общайтесь в удобном для вас формате
                  </li>
                </ul>
                <p class="online-consultation md-font">
                  Онлайн-консультации — безопасный способ решить медицинские
                  вопросы. Квалифицированные врачи помогут разобраться с
                  симптомами, назначенными при лечении препаратами, дадут
                  «второе мнение», если сомневаетесь в диагнозе.
                </p>
              </div>
              <!-- content-list -->

              <!-- content__image -->
              <div class="content-image col-12 col-md-6">
                <div
                  class="content-image__wrapper"
                  style="
                    background-image: url(../assets/images/telemed/telemedHowWork.png);
                  "
                ></div>
              </div>
              <!-- content__image -->
            </div>
          </div>
        </section>
        <!-- content -->

        <!-- policy-form -->
        <section class="policy-form">
          <div class="policy-form__container-top container">
            <div class="policy-form__headering">
              <h1 class="policy-form__title h1-font">Оформить полис</h1>
            </div>
          </div>
          <div class="policy-form__container container">
            <div class="policy-form__wrapper">
              <!-- secondary-input -->
              <label class="policy-form__input secondary-input">
                <div class="secondary-input__label">Фамилия</div>
                <input class="secondary-input__field" />
              </label>
              <!-- secondary-input -->

              <!-- secondary-input -->
              <label class="policy-form__input secondary-input">
                <div class="secondary-input__label">Имя</div>
                <input class="secondary-input__field" />
              </label>
              <!-- secondary-input -->

              <!-- secondary-input -->
              <label class="policy-form__input secondary-input">
                <div class="secondary-input__label">Отчество</div>
                <input class="secondary-input__field" />
              </label>
              <!-- secondary-input -->

              <!-- secondary-input -->
              <label class="policy-form__input secondary-input">
                <div class="secondary-input__label">Мобильный телефон</div>
                <input class="secondary-input__field" />
              </label>
              <!-- secondary-input -->

              <!-- primary-checkbox -->
              <label
                tabindex="0"
                role="checkbox"
                id=""
                class="policy-form__checkbox primary-checkbox"
              >
                <div class="primary-checkbox__icon">
                  <span class="primary-checkbox__checker"></span>
                  <input
                    id="Checkbox"
                    type="checkbox"
                    class="primary-checkbox__input"
                  />
                </div>
                <div class="policy-form__label primary-checkbox__label">
                  Продолжая, я соглашаюсь с
                  <a class="policy-form__link primary-checkbox__link" href=""
                    >правилами
                  </a>
                  и
                  <a class="policy-form__link primary-checkbox__link" href=""
                    >программой</a
                  >
                  оказания услуг.
                </div>
              </label>
              <!-- primary-checkbox -->

              <!-- primary-button -->
              <button class="policy-form__button primary-button">
                Оформить
              </button>
              <!-- primary-button -->
            </div>
          </div>
        </section>
        <!-- policy-form -->
      </article>

      <!-- footer -->
      <footer class="footer">
        <div class="container">
          <div class="footer__block">
            <p class="footer__string md-font">
              Медицинские услуги оказываются партнерами:
            </p>
            <p class="footer__string md-font">
              ООО «Медкорп», Лицензия № ЛО-50-01-009076 от 10 Октября 2017 года.

              <span class="footer__string footer__string_span">
                Адрес: 115114, г. Москва, Дербеневская наб. д. 7, стр. 22</span
              >
            </p>
            <p class="footer__string md-font">
              ООО «Доктор Рядом», Лицензия № ЛО-77-01-013560 от 29 Ноября 2016
              года.
              <span class="footer__string footer__string_span">
                Адрес: 107076, г. Москва, ул. Краснобогатырская, д. 44, стр.
                1</span
              >
            </p>
          </div>
        </div>
      </footer>
      <!-- footer -->

      <!-- header -->
      <header class="header">
        <div class="header__fixed">
          <div class="container">
            <div class="header__row row">
              <img
                class="header__images header__images_horisontal"
                src="../assets/logotype/horizontal.svg"
                alt=""
              />
              <img
                class="header__images header__images_small"
                src="../assets/logotype/smallLogo.svg"
                alt=""
              />
              <form action="" method="post" class="header__form">
                <select class="header__select md-font" name="sity">
                  <option class="header__select_item" value="Москва">
                    Москва
                  </option>
                  <option value="Санкт-Петербург">Санкт-Петербург</option>
                  <option value="Самара">Самара</option>
                  <option value="Другие регионы">Другие регионы</option>
                </select>
              </form>
            </div>
          </div>
        </div>
      </header>
      <!-- header -->
    </main>
  </body>
</html>
