<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/grids.css" />
    <link rel="stylesheet" href="../styles/css/general-tsar-lan.css" />
    <link rel="stylesheet" href="../styles/css/tsar-landing.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main class="main">
      <section class="header">
        <!-- top-menu -->
        <div class="top-menu">
          <div class="top-menu__container">
            <img
              src="../assets/logotype/Horizontal.svg"
              class="top-menu__image_horizontal"
            />
            <img
              src="../assets/logotype/small-logo.svg"
              class="top-menu__image_small-logo"
            />
            <form action="" method="post" class="top-menu__form">
              <select class="top-menu__select" name="sity">
                <option class="top-menu__select_item" value="Москва">
                  Москва
                </option>
                <option value="Санкт-Петербург">Санкт-Петербург</option>
                <option value="Самара">Самара</option>
                <option value="Другие регионы">Другие регионы</option>
              </select>
            </form>
          </div>
        </div>
        <!-- top-menu -->

        <!-- top-block -->
        <div class="top-block">
          <div class="top-block__title web-h2">
            Персональная медицинская помощь у вас дома
          </div>
          <div class="top-block__text web-small-text">
            Получайте квалифицированную медицинскую помощь не выходя из дома.
          </div>
          <button class="top-block__button primary-button">
            Выбрать пакет
          </button>
        </div>
        <!-- top-block -->
      </section>
      <!-- pricing -->
      <section class="pricing">
        <div class="pricing-header">
          <div class="pricing-header__row">
            <div class="pricing-header__item web-normal-text">На 1 месяц</div>
            <div class="pricing-header__item web-normal-text">На 3 месяца</div>
            <div class="pricing-header__item web-normal-text">
              На 12 месяцев
            </div>
          </div>
        </div>
        <div class="pricing__container container">
          <div class="pricing__row row">
            <!-- pricing__column -->
            <div class="pricing__column col-12 col-lg-4">
              <div class="pricing__wrapper">
                <div class="pricing__name">
                  <div class="pricing__name_item web-normal-text">Базовый</div>
                  <div class="pricing__name_popular web-very-small-text">
                    Самый популярный
                  </div>
                </div>
                <div class="pricing__price web-h1">900 ₽</div>
                <div class="pricing__item">
                  <img src="../assets/icons/Icon-helper.svg" alt="" />
                  <div class="pricing__item_01 web-normal-text">
                    Консультации с врачами онлайн без ограничений
                  </div>
                </div>
                <div class="pricing__item">
                  <img src="../assets/icons/Icon-helper.svg" alt="" />
                  <div class="pricing__item_02 web-normal-text">
                    Доставка лекарств
                  </div>
                </div>
                <div class="pricing__item Hidden">
                  <img src="../assets/icons/Icon-helper.svg" alt="" />
                  <div class="pricing__item_03 web-normal-text">пусто</div>
                </div>
                <div class="pricing__item Hidden">
                  <img src="../assets/icons/Icon-helper.svg" alt="" />
                  <div class="pricing__item_04 web-normal-text">пусто</div>
                </div>
              </div>

              <button class="pricing__button primary-button">
                Выбрать на 1 месяц
              </button>
            </div>
            <!-- pricing__column -->

            <!-- pricing__column -->
            <div class="pricing__column col-12 col-lg-4">
              <div class="pricing__wrapper">
                <div class="pricing__name">
                  <div class="pricing__name_item web-normal-text">
                    Расширенный
                  </div>
                </div>
                <div class="pricing__price web-h1">5 200 ₽</div>
                <div class="pricing__item">
                  <img src="../assets/icons/Icon-helper.svg" alt="" />
                  <div class="pricing__item_01 web-normal-text">
                    Консультации с врачами онлайн без ограничений
                  </div>
                </div>
                <div class="pricing__item">
                  <img src="../assets/icons/Icon-helper.svg" alt="" />
                  <div class="pricing__item_02 web-normal-text">
                    Доставка лекарств
                  </div>
                </div>
                <div class="pricing__item">
                  <img src="../assets/icons/Icon-helper.svg" alt="" />
                  <div class="pricing__item_03 web-normal-text">
                    Вызовы врачей на дом
                  </div>
                </div>
                <div class="pricing__item Hidden">
                  <img src="../assets/icons/Icon-helper.svg" alt="" />
                  <div class="pricing__item_04 web-normal-text">пусто</div>
                </div>
              </div>
              <button class="pricing__button primary-button">
                Выбрать на 3 месяца
              </button>
            </div>
            <!-- pricing__column -->

            <!-- pricing__column -->
            <div class="pricing__column col-12 col-lg-4">
              <div class="pricing__wrapper">
                <div class="pricing__name">
                  <div class="pricing__name_item web-normal-text">Полный</div>
                </div>
                <div class="pricing__price web-h1">900 ₽</div>
                <div class="pricing__item">
                  <img src="../assets/icons/Icon-helper.svg" alt="" />
                  <div class="pricing__item_01 web-normal-text">
                    Консультации с врачами онлайн без ограничений
                  </div>
                </div>
                <div class="pricing__item">
                  <img src="../assets/icons/Icon-helper.svg" alt="" />
                  <div class="pricing__item_02 web-normal-text">
                    Доставка лекарств
                  </div>
                </div>
                <div class="pricing__item">
                  <img src="../assets/icons/Icon-helper.svg" alt="" />
                  <div class="pricing__item_03 web-normal-text">
                    Вызовы врачей на дом
                  </div>
                </div>
                <div class="pricing__item">
                  <img src="../assets/icons/Icon-helper.svg" alt="" />
                  <div class="pricing__item_04 web-normal-text">
                    Страховка от COVID-19
                  </div>
                </div>
              </div>
              <button class="pricing__button primary-button">
                Выбрать на 12 месяцев
              </button>
            </div>
            <!-- pricing__column -->
          </div>
        </div>
      </section>
      <!-- pricing -->

      <!-- content-top -->
      <section class="content-top">
        <div class="content-top__block">
          <div class="content-top__title web-h2">
            Консультации с врачами онлайн
          </div>
          <div class="content-top__container container">
            <div class="content-top__row row">
              <div class="content-top__column col-12 col-md-7">
                <div class="content-top__wrapper">
                  <div class="content-top__text web-small-text">
                    Не ходите лишний раз в поликлинику. Онлайн-консультации с
                    квалифицированными врачами — безопасный способ решить
                    медицинские вопросы.
                  </div>
                  <div
                    class="content-top__text content-top__text_center web-small-text"
                  >
                    Обратитесь к терапевту, кардиологу, неврологу, лору и многим
                    другим специалистам в личном кабинете Ренессанс здоровье. В
                    приложении или на сайте.
                  </div>
                  <div
                    class="content-top__text content-top__text_bottom web-small-text"
                  >
                    Ответим на вопросы о симптомах, расшифруем результаты
                    анализов, проконсультируем по назначенным при лечении
                    препаратами, предоставим «второе мнение», если сомневаетесь
                    в диагнозе.
                  </div>
                </div>
              </div>
              <div class="content-top__column col-12 col-md-5">
                <div class="content-top__img">
                  <div class="content-top__img_01"></div>
                  <div class="content-top__img_02"></div>
                </div>
              </div>
            </div>
          </div>
          <button class="content-top__button primary-button">
            Показать список врачей
          </button>
        </div>
      </section>
      <!-- content-top -->

      <!-- content-bottom -->
      <section class="content-bottom">
        <div class="content-bottom__container container">
          <div class="content-bottom__row row">
            <div class="content-bottom__column col-xl-4">
              <div class="content-bottom__img">
                <div
                  class="content-bottom__item-img content-bottom__item-img_01"
                >
                  <div class="content-bottom__img-title web-h2">
                    Доставка лекарств
                  </div>
                </div>
              </div>
              <div class="content-bottom__discription web-normal-text">
                Специальные условия на онлайн-заказ и доставку лекарств в
                <span class="content-bottom__link primary-link">eapteka.ru</span
                >для клиентов «Ренессанс здоровье». Берегите время и здоровье,
                избегая лишних походов в аптеку.
                <!-- почему eapteka.ru переходит на новую строку -->
              </div>
            </div>
            <div class="content-bottom__column col-xl-4">
              <div class="content-bottom__img">
                <div
                  class="content-bottom__item-img content-bottom__item-img_02"
                >
                  <div class="content-bottom__img-title web-h2">
                    Вызовы врачей на дом
                  </div>
                </div>
              </div>
              <div class="content-bottom__discription web-normal-text">
                Если онлайн консультации недостаточно, вы сможете вызвать
                терапевта на дом. Провести дополнительный осмотр или уточнить
                диагноз. Для базового тарифа вызов врача доступен при оплате за
                вызов.
              </div>
            </div>
            <div class="content-bottom__column col-xl-4">
              <div class="content-bottom__img">
                <div
                  class="content-bottom__item-img content-bottom__item-img_03"
                >
                  <div class="content-bottom__img-title web-h2">АнтиВирус</div>
                </div>
              </div>
              <div class="content-bottom__discription web-normal-text">
                Страховка на случай инфекционного заболевания, включая COVID-19.
                Выплаты по больничному листу в результате болезни или смерти
                застрахованного.
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- content-bottom -->
    </main>
  </body>
</html>
