<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/css/general-tsar-lan.css" />
    <link rel="stylesheet" href="../styles/css/grids-tsar-landing.css" />
    <link rel="stylesheet" href="../styles/css/tsar.css" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main class="main">
      <!-- top-block -->
      <section
        class="top-block"
        style="background-image: url(../assets/images/Hero-2.jpg)"
      >
        <div class="top-block__container container">
          <div class="top-block__row row">
            <h1 class="top-block__title web-h2 col-12 col-cm-9 col-md-12">
              Консультации с врачами онлайн
            </h1>
            <p
              class="top-block__offer web-small-text col-12 col-cm-12 col-md-12"
            >
              Получите квалифицированную помощь без посещения поликлиники.
              <span class="top-block__transfer">
                Срочные вопросы, расшифровка анализов и обследований
                круглосуточно из дома.</span
              >
            </p>
            <div class="col-12 col-cm-9 col-md-12">
              <button
                class="top-block__button primary-button col-12 col-cm-9 col-md-12"
              >
                Выбрать полис
              </button>
            </div>
          </div>
        </div>
      </section>
      <!-- top-block -->
      <!-- header -->
      <section class="header">
        <div class="header__fixed">
          <div class="header__container">
            <div class="header__row">
              <img
                class="header__image header__image_big"
                src="../assets/logotype/Horizontal.svg"
                alt=""
              />
              <img
                class="header__image header__image_small"
                src="../assets/logotype/small-logo.svg"
                alt=""
              />
              <div class="header__sity web-normal-text">Москва</div>
            </div>
          </div>
        </div>
      </section>
      <!-- header -->
    </main>
  </body>
</html>
