<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/grids.css" />
    <link rel="stylesheet" href="../styles/css/typography.css" />
    <link rel="stylesheet" href="../styles/css/general.css" />
    <link rel="stylesheet" href="../styles/css/tsarLanding.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main class="main">
      <!-- top-block -->
      <div
        class="top-block"
        style="
          background-image: url(../assets/images/tsarLanding/tsarLandingTopBlock.jpg);
        "
      >
        <section class="top-block__container container">
          <div class="row">
            <h1 class="top-block__headering col-12 col-sm-9 col-md-7 h1-font">
              Персональная медицинская помощь у вас дома
            </h1>
            <p class="top-block__offer col-12 col-sm-9 col-md-7 sm-font-md">
              Получайте квалифицированную медицинскую помощь не выходя из дома.
            </p>
            <div class="col-12">
              <button class="top-block__button primary-button">
                Выбрать пакет
              </button>
            </div>
          </div>
        </section>
      </div>
      <!-- top-block -->

      <!-- pricing -->
      <section class="pricing">
        <!-- pricing-header -->
        <div class="pricing-header container">
          <div class="pricing-header__row row">
            <div class="pricing-header__item md-font">На 1 месяц</div>
            <div class="pricing-header__item md-font">На 3 месяца</div>
            <div class="pricing-header__item md-font">На 12 месяцев</div>
          </div>
        </div>
        <!-- pricing-header -->

        <!-- pricing-block -->
        <div class="pricing-block">
          <div class="pricing-block__body">
            <!-- pricing-block__column -->
            <div class="pricing-block__column">
              <div class="pricing-block__wrapper">
                <div class="pricing-block__name">
                  <p class="pricing-block__name_item md-font">Базовый</p>
                  <img
                    class="pricing-block__name_icon"
                    src="../assets/icons/rosette.svg"
                    alt=""
                  />
                </div>
                <p class="pricing-block__price h1-font">900 ₽</p>
                <div class="pricing-block__item">
                  <img src="../assets/icons/iconHelper.svg" alt="" />

                  <a class="pricing-block__discription md-font" href=""
                    >Консультации с врачами онлайн без ограничений</a
                  >
                </div>
                <div class="pricing-block__item">
                  <img src="../assets/icons/iconHelper.svg" alt="" />
                  <a class="pricing-block__discription md-font" href="">
                    Доставка лекарств
                  </a>
                </div>
              </div>

              <button class="pricing-block__button primary-button">
                Выбрать
              </button>
            </div>
            <!-- pricing-block__column -->

            <!-- pricing-block__column -->
            <div class="pricing-block__column">
              <div class="pricing-block__wrapper">
                <div class="pricing-block__name">
                  <p class="pricing-block__name_item md-font">Расширенный</p>
                  <img
                    class="pricing-block__name_icon"
                    src="../assets/icons/rosette.svg"
                    alt=""
                  />
                </div>
                <p class="pricing-block__price h1-font">5 200 ₽</p>
                <div class="pricing-block__item">
                  <img src="../assets/icons/iconHelper.svg" alt="" />
                  <a class="pricing-block__discription md-font" href="">
                    Консультации с врачами онлайн без ограничений
                  </a>
                </div>
                <div class="pricing-block__item">
                  <img src="../assets/icons/iconHelper.svg" alt="" />
                  <a class="pricing-block__discription md-font" href="">
                    Доставка лекарств
                  </a>
                </div>
                <div class="pricing-block__item">
                  <img src="../assets/icons/iconHelper.svg" alt="" />
                  <a class="pricing-block__discription md-font" href="">
                    Вызовы врачей на дом
                  </a>
                </div>
              </div>
              <button class="pricing-block__button primary-button">
                Выбрать
              </button>
            </div>
            <!-- pricing-block__column -->

            <!-- pricing-block__column -->
            <div class="pricing-block__column">
              <div class="pricing-block__wrapper">
                <div class="pricing-block__name">
                  <p class="pricing-block__name_item md-font">Полный</p>
                  <img
                    class="pricing-block__name_icon"
                    src="../assets/icons/rosette.svg"
                    alt=""
                  />
                </div>
                <p class="pricing-block__price h1-font">900 ₽</p>
                <div class="pricing-block__item">
                  <img src="../assets/icons/iconHelper.svg" alt="" />
                  <a class="pricing-block__discription md-font" href="">
                    Консультации с врачами онлайн без ограничений
                  </a>
                </div>
                <div class="pricing-block__item">
                  <img src="../assets/icons/iconHelper.svg" alt="" />
                  <a class="pricing-block__discription md-font" href="">
                    Доставка лекарств
                  </a>
                </div>
                <div class="pricing-block__item">
                  <img src="../assets/icons/iconHelper.svg" alt="" />
                  <a class="pricing-block__discription md-font" href="">
                    Вызовы врачей на дом
                  </a>
                </div>
                <div class="pricing-block__item">
                  <img src="../assets/icons/iconHelper.svg" alt="" />
                  <a class="pricing-block__discription md-font" href="">
                    Страховка от COVID-19
                  </a>
                </div>
              </div>
              <button class="pricing-block__button primary-button">
                Выбрать
              </button>
            </div>
            <!-- pricing-block__column -->
          </div>
        </div>
        <!-- pricing-block -->
      </section>
      <!-- pricing -->

      <!-- content-top -->
      <section class="content-top">
        <div class="container">
          <h1 class="content-top__title h1-font">
            Консультации с врачами онлайн
          </h1>
          <div class="row">
            <div class="col-12 col-md-7">
              <div>
                <p class="content-top__text sm-font-md">
                  Не ходите лишний раз в поликлинику. Онлайн-консультации с
                  квалифицированными врачами — безопасный способ решить
                  медицинские вопросы.
                </p>
                <p
                  class="content-top__text content-top__text_center sm-font-md"
                >
                  Обратитесь к терапевту, кардиологу, неврологу, лору и многим
                  другим специалистам в личном кабинете Ренессанс здоровье. В
                  приложении или на сайте.
                </p>
                <p
                  class="content-top__text content-top__text_bottom sm-font-md"
                >
                  Ответим на вопросы о симптомах, расшифруем результаты
                  анализов, проконсультируем по назначенным при лечении
                  препаратами, предоставим «второе мнение», если сомневаетесь в
                  диагнозе.
                </p>
              </div>
            </div>
            <div class="col-12 col-md-5">
              <div class="content-top__pictures">
                <div
                  style="
                    background-image: url(../assets/images/tsarLanding/tsarLandingWomenCall.jpg);
                  "
                  class="content-top__img content-top__img_01"
                ></div>
                <div
                  style="
                    background-image: url(../assets/images/tsarLanding/tsarLandingPhone.jpg);
                  "
                  class="content-top__img content-top__img_02"
                ></div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <button class="content-top__button primary-button">
            Показать список врачей
          </button>
        </div>
      </section>
      <!-- content-top -->

      <!-- content -->
      <section class="content">
        <div class="container">
          <div class="content__row row">
            <!-- можно через сетку col-12 col-md-4 ,я попровал ещё 2 варианта -->
            <div class="content__col-m-d-4">
              <div class="content__img">
                <div
                  style="
                    background-image: url(../assets/images/tsarLanding/tsarLandingMan.jpg);
                  "
                  class="content__item-img content__item-img_01"
                >
                  <h2 class="content__img-title h2-font-h1">
                    Доставка лекарств
                  </h2>
                </div>
              </div>
              <div class="content__discription md-font">
                Специальные условия на онлайн-заказ и доставку лекарств в
                <a class="content__link primary-link" href="">eapteka.ru </a>
                для клиентов «Ренессанс здоровье». Берегите время и здоровье,
                избегая лишних походов в аптеку.
                <!-- почему eapteka.ru переходит на новую строку -->
              </div>
            </div>
            <div class="content__col-m-d-4">
              <div class="content__img">
                <div
                  style="
                    background-image: url(../assets/images/tsarLanding/tsarLandingChild.jpg);
                  "
                  class="content__item-img content__item-img_02"
                >
                  <h2 class="content__img-title h2-font-h1">
                    Вызовы врачей на дом
                  </h2>
                </div>
              </div>
              <div class="content__discription md-font">
                Если онлайн консультации недостаточно, вы сможете вызвать
                терапевта на дом. Провести дополнительный осмотр или уточнить
                диагноз. Для базового тарифа вызов врача доступен при оплате за
                вызов.
              </div>
            </div>
            <div class="content__col-m-d-4">
              <div class="content__img">
                <div
                  style="
                    background-image: url(../assets/images/tsarLanding/tsarLandingDoctor.jpg);
                  "
                  class="content__item-img content__item-img_03"
                >
                  <h2 class="content__img-title h2-font-h1">АнтиВирус</h2>
                </div>
              </div>
              <div class="content__discription md-font">
                Страховка на случай инфекционного заболевания, включая COVID-19.
                Выплаты по больничному листу в результате болезни или смерти
                застрахованного.
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- content -->

      <!-- block-reasons -->
      <section class="block-reasons">
        <div class="container">
          <div class="block-reasons__header">
            <h2 class="block-reasons__title h2-font-h1">
              Ренессанс здоровье —
              <span class="block-reasons__title_span">
                входит в группу компаний
                <a class="block-reasons__title_link" href="">
                  Ренессанс страхование</a
                ></span
              >
            </h2>
          </div>
        </div>
        <div class="container">
          <div class="block-reasons__row">
            <div class="block-reasons__column">
              <div class="block-reasons__wrapper">
                <img
                  src="../assets/icons/people.svg"
                  alt=""
                  class="block-reasons__icon"
                />
                <h1 class="block-reasons__quantity h2-font-h1">220 000</h1>
                <p class="block-reasons__discription sm-font-md">
                  Клиентов по всей России
                </p>
              </div>
            </div>
            <div class="block-reasons__column">
              <div class="block-reasons__wrapper">
                <img
                  src="../assets/icons/videoCamera.svg"
                  alt=""
                  class="block-reasons__icon"
                />
                <h1 class="block-reasons__quantity h2-font-h1">2 000</h1>
                <p class="block-reasons__discription sm-font-md">
                  Онлайн- <br />
                  консультаций в месяц
                </p>
              </div>
            </div>
            <div class="block-reasons__column">
              <div class="block-reasons__wrapper">
                <img
                  src="../assets/icons/house.svg"
                  alt=""
                  class="block-reasons__icon"
                />
                <h1 class="block-reasons__quantity h2-font-h1">2 000</h1>
                <p class="block-reasons__discription sm-font-md">
                  Выездных <br />
                  консультаций
                </p>
              </div>
            </div>
            <div class="block-reasons__column">
              <div class="block-reasons__wrapper">
                <img
                  src="../assets/icons/doctor.svg"
                  alt=""
                  class="block-reasons__icon"
                />
                <h1 class="block-reasons__quantity h2-font-h1">500</h1>
                <p class="block-reasons__discription sm-font-md">Врачей</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- block-reasons -->

      <!-- how-works -->
      <section class="how-works">
        <div class="container">
          <h1 class="how-works__title h1-font">Как это работает</h1>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6">
              <ol class="opder-list">
                <li class="opder-list__step">
                  <p class="opder-list__number md-font">1</p>
                  <p class="md-font">
                    Оформите подходящий пакет — на 1, 3 или 12 месяцев.
                  </p>
                </li>
                <li class="opder-list__step">
                  <p class="opder-list__number md-font">2</p>
                  <p class="md-font">
                    Войдите по номеру телефона в личный кабинет «Ренессанс
                    здоровье». На сайте или в приложении.
                  </p>
                </li>
                <li class="opder-list__step">
                  <p class="opder-list__number md-font">3</p>
                  <p class="md-font">
                    Выберите врача в разделе «Онлайн-консультации».
                  </p>
                </li>
                <li class="opder-list__step">
                  <p class="opder-list__number md-font">4</p>
                  <p class="md-font">Общайтесь в удобном для вас формате</p>
                </li>
              </ol>
            </div>
            <div class="col-12 col-md-6">
              <div
                style="
                  background-image: url(../assets/images/tsarLanding/tsarLandingMother.webp);
                "
                class="renaissance-video"
              ></div>
            </div>
          </div>
        </div>
      </section>
      <!-- how-works -->

      <!-- package-form -->
      <section class="package-form">
        <div class="package-form__container-top container">
          <div class="package-form__headering">
            <h1 class="package-form__title h1-font">
              Оформить пакет медицинской помощи
            </h1>
          </div>
        </div>
        <div class="package-form__container container">
          <div class="package-form__wrapper">
            <!-- secondary-input -->
            <label class="package-form__input secondary-input">
              <div class="secondary-input__label">Фамилия</div>
              <input class="secondary-input__field" />
            </label>
            <!-- secondary-input -->

            <!-- secondary-input -->
            <label class="package-form__input secondary-input">
              <div class="secondary-input__label">Имя</div>
              <input class="secondary-input__field" />
            </label>
            <!-- secondary-input -->

            <!-- secondary-input -->
            <label class="package-form__input secondary-input">
              <div class="secondary-input__label">Отчество</div>
              <input class="secondary-input__field" />
            </label>
            <!-- secondary-input -->

            <!-- secondary-input -->
            <label class="package-form__input secondary-input">
              <div class="secondary-input__label">Мобильный телефон</div>
              <input class="secondary-input__field" />
            </label>
            <!-- secondary-input -->

            <!-- tertiary-input -->
            <label class="package-form__input tertiary-input">
              <div class="tertiary-input__block">
                <div class="tertiary-input__top-label">Пакет</div>
                <div class="tertiary-input__bottom">
                  <div class="tertiary-input__label">
                    Базовый, на 1 месяц — 900 ₽
                  </div>

                  <img
                    class="tertiary-input__icon"
                    src="../assets/icons/triangle.svg"
                    alt=""
                  />
                </div>
              </div>
              <input class="tertiary-input__field" />
            </label>
            <!-- tertiary-input -->

            <!-- primary-checkbox -->
            <label
              tabindex="0"
              role="checkbox"
              id=""
              class="package-form__checkbox primary-checkbox"
            >
              <div class="primary-checkbox__icon">
                <span class="primary-checkbox__checker"></span>
                <input
                  id="Checkbox"
                  type="checkbox"
                  class="primary-checkbox__input"
                />
              </div>
              <div class="package-form__label primary-checkbox__label">
                Продолжая, я соглашаюсь с
                <a class="package-form__link primary-checkbox__link" href=""
                  >правилами
                </a>
                и
                <a class="package-form__link primary-checkbox__link" href=""
                  >программой</a
                >
                оказания услуг.
              </div>
            </label>
            <!-- primary-checkbox -->

            <!-- primary-button -->
            <button class="package-form__button primary-button">
              Оформить
            </button>
            <!-- primary-button -->
          </div>
        </div>
      </section>
      <!-- package-form -->

      <!-- footer -->
      <footer class="footer">
        <div class="container">
          <div class="footer__block">
            <p class="footer__string md-font">
              Медицинские услуги оказываются партнерами:
            </p>
            <p class="footer__string md-font">
              ООО «Медкорп», Лицензия № ЛО-50-01-009076 от 10 Октября 2017 года.

              <span class="footer__string footer__string_span">
                Адрес: 115114, г. Москва, Дербеневская наб. д. 7, стр. 22</span
              >
            </p>
            <p class="footer__string md-font">
              ООО «Доктор Рядом», Лицензия № ЛО-77-01-013560 от 29 Ноября 2016
              года.
              <span class="footer__string footer__string_span">
                Адрес: 107076, г. Москва, ул. Краснобогатырская, д. 44, стр.
                1</span
              >
            </p>
          </div>
        </div>
      </footer>
      <!-- footer -->

      <!-- header -->
      <header class="header">
        <div class="header__fixed">
          <div class="container">
            <div class="header__row row">
              <img
                class="header__images header__images_horisontal"
                src="../assets/logotype/horizontal.svg"
                alt=""
              />
              <img
                class="header__images header__images_small"
                src="../assets/logotype/smallLogo.svg"
                alt=""
              />
              <form action="" method="post" class="header__form">
                <select class="header__select md-font" name="sity">
                  <option class="header__select_item" value="Москва">
                    Москва
                  </option>
                  <option value="Санкт-Петербург">Санкт-Петербург</option>
                  <option value="Самара">Самара</option>
                  <option value="Другие регионы">Другие регионы</option>
                </select>
              </form>
            </div>
          </div>
        </div>
      </header>
      <!-- header -->
    </main>
  </body>
</html>
