.main {
  position: relative;
  min-height: calc(100vh);
  background-color: #ffffff;

  @media screen and(min-width: 1024px) {
    margin-left: 355px;
  }
}

.article {
  width: 100%;
  padding-top: 96px;
  max-width: 944px;
  background-color: #fff;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;

  @media screen and (min-width: 576px) {
    padding-left: 28px;
    padding-right: 28px;
  }
}
em {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-style: oblique;
  font-size: 18px;
  line-height: 24px;
}
b {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-style: oblique;
  font-size: 18px;
  line-height: 24px;
  color: green;
}
.display-block {
  display: block;
}

//   <!-- Box-shadow  Информация  -->
.box-shadow {
  box-sizing: border-box;
  margin-right: -12px;
  margin-left: -12px;

  margin-bottom: 48px;

  &__heading {
    margin-bottom: 24px;
    text-align: center;

    @media screen and (min-width: 576px) {
      text-align: start;
    }

    &_span {
      display: block;

      @media screen and (min-width: 576px) {
        display: inline;
      }
    }
  }

  &__subheading {
    margin-bottom: 24px;
  }

  &__value {
    margin-bottom: 24px;
    color: rgb(8, 155, 8);
  }

  &__description {
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 24px;

    &_location {
      text-align: center;
      margin-bottom: 24px;
    }
  }

  &__link {
    text-decoration: none;
    color: blueviolet;
  }
}
//   <!-- Box-shadow  Информация  -->

//   <!-- Информация о типах полей -->
.box-shadow-example {
  &__heading {
    box-sizing: border-box;
    margin-right: -12px;
    margin-left: -12px;
    margin-bottom: 24px;
  }
}

.example {
  margin-bottom: 48px;

  &__type {
    background-color: #ffffff;
    color: black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    padding: 6px;

    &_subheading {
      // подзаголовок
      display: none;

      @media screen and (min-width: 767px) {
        display: block;
        background-color: gray;
        color: black;
        border-top: 1px solid black;
        border-left: 1px solid black;
        padding: 6px;
        text-align: center;
      }
    }
  }

  &__description {
    background-color: #ffffff;
    color: gray;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 6px;

    @media screen and (min-width: 767px) {
      border-right: none;
    }

    &_subheading {
      // подзаголовок
      display: none;

      @media screen and (min-width: 767px) {
        display: block;
        background-color: gray;
        color: black;
        border-top: 1px solid black;
        border-left: 1px solid black;
        padding: 6px;
        text-align: center;
      }
    }
  }

  &__appearance {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 12px 6px;
    text-align: center;

    // &:nth-child(16) {
    //   border-right: 1px solid red;
    // }

    &_subheading {
      // подзаголовок
      display: none;

      @media screen and (min-width: 767px) {
        display: block;
        background-color: gray;
        color: black;
        border-top: 1px solid black;
        border-right: 1px solid black;
        border-left: 1px solid black;
        padding: 6px;
        text-align: center;
      }
    }

    &_down {
      // cдвиг вниз
      padding-bottom: 80px;
      //  у меня не получается задать свойство
      // через дочерние селекторы
    }
  }

  &__button {
    box-sizing: content-box;
    // border: 2px solid red;

    &_02 {
      box-shadow: 5px 5px black;
    }

    &_03 {
      box-shadow: -5px -5px black;
    }

    &_04 {
      box-shadow: 0 0 5px black;
    }

    &_05 {
      box-shadow: 0 0 5px 2px black;
    }

    &_06 {
      box-shadow: 0 0 5px 2px red;
    }

    &_07 {
      box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
    }

    &_08 {
      box-shadow: inset 0 0 6px;
    }

    &_09 {
      box-shadow: 0 0 6px -2px #34495e;
    }

    &_10 {
      box-shadow: 0 0 6px 0 #34495e;
    }

    &_11 {
      box-shadow: 0 0 6px 3px #34495e;
    }

    &_12 {
      box-shadow: 0 0 3px 6px #34495e;
    }

    &_13 {
      box-shadow: inset 5px 5px 0 0 #34495e;
    }

    &_14 {
      box-shadow: inset 0 0 5px 0 #34495e;
    }

    &_15 {
      box-shadow: inset 0 0 5px 3px #34495e;
    }

    &_16 {
      box-shadow: 0 70px 0px 0 #34495e;
    }

    &_17 {
      box-shadow: 0 70px 10px 0 #34495e;
    }

    &_18 {
      box-shadow: 0 70px 0 -5px #34495e;
    }

    &_19 {
      box-shadow: 0 0 0 15px rgba(39, 174, 96, 0.5);
    }

    &_20 {
      box-shadow: 0 0 0 15px rgba(231, 76, 60, 0.5);
    }

    &_21 {
      box-shadow: 0 -5px 10px -3px #3498db, 0 5px 10px -3px #2ecc71;
    }

    &_22 {
      box-shadow: 0 0 0 5px #e74c3c, 0 0 0 10px #f1c40f, 0 0 0 15px #2ecc71;
    }

    &_23 {
      margin: 10px auto;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      box-shadow: inset -5px -5px 5px 3px white, inset 0 0 0 9px #6c6d70,
        inset 0 0 0 10px black;
    }

    &_24 {
      box-shadow: 5px 5px;
    }

    &_25 {
      box-shadow: 5px 5px;
    }

    &_26 {
      box-shadow: 5px 5px;
    }

    &_27 {
      box-shadow: 5px 5px;
    }

    &_28 {
      box-shadow: 5px 5px;
    }

    &_29 {
      box-shadow: 5px 5px;
    }

    &_30 {
      box-shadow: 5px 5px;
    }

    &_31 {
      box-shadow: 5px 5px;
    }

    &_32 {
      box-shadow: 5px 5px;
    }

    &_33 {
      box-shadow: 5px 5px;
    }
  }
}
// primary-button
.primary-button {
  // стилизацаия подходит для всех видов кнопок
  cursor: pointer;

  // эти две ширины обеспечивают
  width: 100%;
  max-width: 365px;
  // адаптацию ширины кнопки без медиа

  padding: 12px 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: white;
  background-color: #50287d;
  border-radius: 24px;
  text-align: center;
  box-sizing: border-box;
  flex: auto;
  // flex: none;
}
// primary-button

// curve-shadows
.curve-shadows {
  width: 100%;
  border-color: #ffffff;

  &__heading {
    margin-bottom: 36px;
  }
}
// curve-shadows

// menu
.menu {
  background: rgba(230, 240, 250, 0.75);
  display: none;

  @media screen and (min-width: 1024px) {
    position: fixed;
    top: 72px;
    left: 0;
    display: block;
    height: 100vh;
    width: 355px;
    padding: 24px 28px;
  }

  &__list {
    padding: 6px 0;
    border-top: 1px solid #bfd1e4;
    margin-right: 10px;
  }

  &__link {
    text-decoration: none;
    color: #333333;
    padding: 6px 0;
  }

  &__item {
    margin-left: 24px;
    position: relative;
    padding: 6px 0;
    border-top: 1px solid #bfd1e4;

    &_link {
      text-decoration: none;
      color: #333333;
      padding: 6px 0;
      margin-right: 10px;
    }
  }

  &__transform {
    display: none;
  }

  &__transitions {
    display: none;
  }

  &__gradient {
    display: none;
  }

  &__shadow {
    display: block;
  }

  &__stuff {
    display: none;
  }

  &__forms {
    display: none;
  }
}
// menu

// menu-mobile
.menu-mobile {
  width: 100%;
  height: 72px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: #e6f0fa;

  @media screen and (min-width: 1024px) {
    display: none;
  }

  &__logo-small {
    width: 24px;
    height: 24px;
  }

  &__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #ffffff;

    &_item {
      width: 5px;
      height: 5px;
      border-radius: 50%;

      &:nth-child(1) {
        background-color: #506478;
      }
      &:nth-child(2) {
        margin: 0 2px;
        background-color: rgba(80, 100, 120, 0.6);
      }
      &:nth-child(3) {
        background-color: rgba(80, 100, 120, 0.3);
      }
    }
  }
}
// menu-mobile

//   <!-- header  -->
.header {
  opacity: 0.5;
  width: 100%;
  width: 100%;
  height: 72px;
  position: fixed;
  top: 0;
  background: rgba(164, 74, 182, 0.8);
}
//   <!-- header  -->
