.main {
  min-height: 100vh;
}

.article {
  width: 100%;
  padding-top: 96px;
  max-width: 944px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;

  @media screen and (min-width: 576px) {
    padding-left: 28px;
    padding-right: 28px;
  }
}
em {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-style: oblique;
  font-size: 18px;
  line-height: 24px;
}
b {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-style: oblique;
  font-size: 18px;
  line-height: 24px;
  color: green;
}
.display-block {
  display: block;
}

//   <!-- Box-shadow  Информация  -->
.box-shadow {
  box-sizing: border-box;
  margin-right: -12px;
  margin-left: -12px;

  margin-bottom: 48px;

  &__heading {
    margin-bottom: 24px;
    text-align: center;

    @media screen and (min-width: 576px) {
      text-align: start;
    }

    &_span {
      display: block;

      @media screen and (min-width: 576px) {
        display: inline;
      }
    }
  }

  &__subheading {
    margin-bottom: 24px;
  }

  &__value {
    margin-bottom: 24px;
    color: rgb(8, 155, 8);
  }

  &__description {
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 24px;

    &_location {
      text-align: center;
      margin-bottom: 24px;
    }
  }

  &__link {
    text-decoration: none;
    color: blueviolet;
  }
}
//   <!-- Box-shadow  Информация  -->

//   <!-- Информация о типах полей -->
.box-shadow-example {
  &__heading {
    box-sizing: border-box;
    margin-right: -12px;
    margin-left: -12px;
    margin-bottom: 24px;
  }
}

.example {
  margin-bottom: 48px;

  &__type {
    background-color: #ffffff;
    color: black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    padding: 6px;

    &_subheading {
      // подзаголовок
      display: none;

      @media screen and (min-width: 767px) {
        display: block;
        background-color: gray;
        color: black;
        border-top: 1px solid black;
        border-left: 1px solid black;
        padding: 6px;
        text-align: center;
      }
    }
  }

  &__description {
    background-color: #ffffff;
    color: gray;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 6px;

    @media screen and (min-width: 767px) {
      border-right: none;
    }

    &_subheading {
      // подзаголовок
      display: none;

      @media screen and (min-width: 767px) {
        display: block;
        background-color: gray;
        color: black;
        border-top: 1px solid black;
        border-left: 1px solid black;
        padding: 6px;
        text-align: center;
      }
    }
  }

  &__appearance {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 12px 6px;
    text-align: center;

    // &:nth-child(16) {
    //   border-right: 1px solid red;
    // }

    &_subheading {
      // подзаголовок
      display: none;

      @media screen and (min-width: 767px) {
        display: block;
        background-color: gray;
        color: black;
        border-top: 1px solid black;
        border-right: 1px solid black;
        border-left: 1px solid black;
        padding: 6px;
        text-align: center;
      }
    }

    &_down {
      // cдвиг вниз
      padding-bottom: 80px;
      //  у меня не получается задать свойство
      // через дочерние селекторы
    }
  }

  &__button {
    box-sizing: content-box;
    // border: 2px solid red;

    &_02 {
      box-shadow: 5px 5px black;
    }

    &_03 {
      box-shadow: -5px -5px black;
    }

    &_04 {
      box-shadow: 0 0 5px black;
    }

    &_05 {
      box-shadow: 0 0 5px 2px black;
    }

    &_06 {
      box-shadow: 0 0 5px 2px red;
    }

    &_07 {
      box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
    }

    &_08 {
      box-shadow: inset 0 0 6px;
    }

    &_09 {
      box-shadow: 0 0 6px -2px #34495e;
    }

    &_10 {
      box-shadow: 0 0 6px 0 #34495e;
    }

    &_11 {
      box-shadow: 0 0 6px 3px #34495e;
    }

    &_12 {
      box-shadow: 0 0 3px 6px #34495e;
    }

    &_13 {
      box-shadow: inset 5px 5px 0 0 #34495e;
    }

    &_14 {
      box-shadow: inset 0 0 5px 0 #34495e;
    }

    &_15 {
      box-shadow: inset 0 0 5px 3px #34495e;
    }

    &_16 {
      box-shadow: 0 70px 0px 0 #34495e;
    }

    &_17 {
      box-shadow: 0 70px 10px 0 #34495e;
    }

    &_18 {
      box-shadow: 0 70px 0 -5px #34495e;
    }

    &_19 {
      box-shadow: 0 0 0 15px rgba(39, 174, 96, 0.5);
    }

    &_20 {
      box-shadow: 0 0 0 15px rgba(231, 76, 60, 0.5);
    }

    &_21 {
      box-shadow: 0 -5px 10px -3px #3498db, 0 5px 10px -3px #2ecc71;
    }

    &_22 {
      box-shadow: 0 0 0 5px #e74c3c, 0 0 0 10px #f1c40f, 0 0 0 15px #2ecc71;
    }

    &_23 {
      margin: 10px auto;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      box-shadow: inset -5px -5px 5px 3px white, inset 0 0 0 9px #6c6d70,
        inset 0 0 0 10px black;
    }

    &_24 {
      box-shadow: 5px 5px;
    }

    &_25 {
      box-shadow: 5px 5px;
    }

    &_26 {
      box-shadow: 5px 5px;
    }

    &_27 {
      box-shadow: 5px 5px;
    }

    &_28 {
      box-shadow: 5px 5px;
    }

    &_29 {
      box-shadow: 5px 5px;
    }

    &_30 {
      box-shadow: 5px 5px;
    }

    &_31 {
      box-shadow: 5px 5px;
    }

    &_32 {
      box-shadow: 5px 5px;
    }

    &_33 {
      box-shadow: 5px 5px;
    }
  }
}

// .example__appearance:nth-of-type(5) {
//   padding-top: 100px;
// }
// border-right: 1px solid red;
.primary-button {
  // стилизацаия подходит для всех видов кнопок
  cursor: pointer;

  // эти две ширины обеспечивают
  width: 100%;
  max-width: 365px;
  // адаптацию ширины кнопки без медиа

  padding: 12px 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: white;
  background-color: #50287d;
  border-radius: 24px;
  text-align: center;
  box-sizing: border-box;
  flex: auto;
  // flex: none;
}
// Типы полей

//   <!-- header  -->
.header {
  width: 100%;

  &__fixed {
    width: 100%;

    position: fixed;
    top: 0;
    background: rgba(164, 74, 182, 0.8);
  }

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;

    @media screen and (min-width: 576px) {
      padding: 12px 28px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}
//   <!-- header  -->
