.main {
  min-height: 100vh;
}

.article {
  width: 100%;
  padding-top: 96px;
  max-width: 944px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;

  @media screen and (min-width: 576px) {
    padding-left: 28px;
    padding-right: 28px;
  }
}
em {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-style: oblique;
  font-size: 18px;
  line-height: 24px;
}
b {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-style: oblique;
  font-size: 18px;
  line-height: 24px;
  color: green;
}
.display-block {
  display: block;
}

//   <!-- Информация о формах -->
.information-about-forms {
  box-sizing: border-box;
  margin-right: -12px;
  margin-left: -12px;

  margin-bottom: 48px;

  &__heading {
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 24px;
  }

  &__link {
    text-decoration: none;
    color: blueviolet;
  }
}
//   <!-- Информация о формах -->

//   <!-- Информация о полях -->
.information-about-inputs {
  box-sizing: border-box;
  margin-right: -12px;
  margin-left: -12px;

  margin-bottom: 48px;

  &__heading {
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 24px;
  }

  &__link {
    text-decoration: none;
    color: blueviolet;
  }
}
//   <!-- Информация о полях -->

//   <!-- Информация о типах полей -->
.information-type-inputs {
  &__heading {
    box-sizing: border-box;
    margin-right: -12px;
    margin-left: -12px;

    margin-bottom: 24px;
  }

  &__link {
    text-decoration: none;
    color: blueviolet;
  }
}
//   <!-- Информация о типах полей -->

// Типы полей
.type-input {
  margin-bottom: 48px;

  &__type {
    background-color: #ffffff;
    color: black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    padding: 6px;

    &_subheading {
      // подзаголовок
      display: none;

      @media screen and (min-width: 767px) {
        display: block;
        background-color: gray;
        color: black;
        border-top: 1px solid black;
        border-left: 1px solid black;
        padding: 6px;
        text-align: center;
      }
    }
  }

  &__description {
    background-color: #ffffff;
    color: gray;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 6px;

    @media screen and (min-width: 767px) {
      border-right: none;
    }

    &_subheading {
      // подзаголовок
      display: none;

      @media screen and (min-width: 767px) {
        display: block;
        background-color: gray;
        color: black;
        border-top: 1px solid black;
        border-left: 1px solid black;
        padding: 6px;
        text-align: center;
      }
    }
  }

  &__appearance {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 6px;
    text-align: center;

    &_subheading {
      // подзаголовок
      display: none;

      @media screen and (min-width: 767px) {
        display: block;
        background-color: gray;
        color: black;
        border-top: 1px solid black;
        border-right: 1px solid black;
        border-left: 1px solid black;
        padding: 6px;
        text-align: center;
      }
    }

    &_radio {
      display: flex;
      flex-direction: column;
    }
  }
}
.primary-button {
  // стилизацаия подходит для всех видов кнопок
  cursor: pointer;

  // эти две ширины обеспечивают
  width: 100%;
  max-width: 365px;
  // адаптацию ширины кнопки без медиа

  padding: 12px 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: white;
  background-color: #50287d;
  border-radius: 24px;
  text-align: center;
  box-sizing: border-box;
  flex: auto;
  // flex: none;
}

.primary-radio {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
    width: 33.33333%;
    cursor: pointer;
    // border: 2px solid rgb(145, 127, 127);
    border-radius: 24px;
    background-color: yellow;
    background-image: linear-gradient(blue, green, yellow);
    box-shadow: 0 -5px 10px -3px #3498db, 0 5px 10px -3px #2ecc71;
    padding: 8px 6px;
    margin: 0 12px;

    &:active {
      border: 1px solid #3498db;
    }
  }

  &__field {
    display: none;
  }

  &__title {
    color: rgb(216, 72, 221);

    font-weight: bold;
    // text-decoration: none;
  }
}
// Типы полей

//   <!-- header  -->
.header {
  width: 100%;

  &__fixed {
    width: 100%;

    position: fixed;
    top: 0;
    background: rgba(95, 182, 74, 0.8);
  }

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;

    @media screen and (min-width: 576px) {
      padding: 12px 28px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}
//   <!-- header  -->
