.primary-input {
  width: 100%;

  &__label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 12px;
    color: #78828c;
  }

  &__field {
    width: 100%;
    height: 29px;
    border-bottom: 2px solid #50287d;
  }
}

.secondary-input {
  width: 100%;

  &__label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 21px;
    color: #b5bdc8;
    margin-top: 20px;

    @media screen and (min-width: 576px) {
      font-size: 16px;
    }
  }

  &__field {
    width: 100%;
    height: 10px;
    margin-bottom: 24px;
    border-bottom: 1px solid #b5bdc8;
  }

  &:active .secondary-input__field {
    height: 29px;
    border-bottom: 2px solid #50287d;
  }

  &:active .secondary-input__label {
    font-size: 11px;
    color: #000000;
    margin-top: 7px;
  }
}

.tertiary-input {
  width: 100%;

  &__block {
    margin-top: 18px;
  }

  &__top-label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 24px;
    color: #b5bdc8;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 21px;
    color: #28323c;

    @media screen and (min-width: 576px) {
      font-size: 16px;
    }
  }

  &__field {
    width: 100%;
    height: 8px;
    border-bottom: 1px solid #b5bdc8;
  }

  &:active .tertiary-input__field {
    border-bottom: 2px solid #ffffff;
  }

  &:active .tertiary-input__label {
    color: #000000;
  }
}

// поле выбора даты с иконкой "треугольник" input-date
.input-date {
  width: 100%;

  &__label {
    color: #b5bdc8;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__field {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;
    color: #b5bdc8;
    border-bottom: 1px solid #b5bdc8;
  }

  &__icon {
    // высота блока зависит от высоты line-height field
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__triangle {
    width: 8px;
    height: 6px;
    background-position: center;
    background-size: cover;
  }
}
// поле выбора даты с иконкой "треугольник" date-picker

// поле с подсказкой
.input-prompt {
  width: 100%;

  &__field {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 47px;
    color: #b5bdc8;
    border-bottom: 1px solid #b5bdc8;
    box-sizing: border-box;
  }
}
// поле с подсказкой

// поле с подсказкой и подзаголовком
.input-subtitle {
  width: 100%;

  &__field {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 47px;
    color: #b5bdc8;
    border-bottom: 1px solid #b5bdc8;
    box-sizing: border-box;
  }

  &__subtitle {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    line-height: 24px;
    color: #b5bdc8;
  }
}
// поле с подсказкой и подзаголовком

.primary-checkbox {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;

  &__icon {
    padding: 2px;
    height: 24px;
    display: flex;
    align-self: flex-start;
    margin-right: 18px;
    flex: none;
  }

  &__checker {
    width: 20px;
    height: 20px;
    border: 2px solid #95bef0;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      width: 1px;
      height: 1px;
      display: inline-block;
      border-radius: 2px;
      transition: background-color 0.3s, width 0.3s, height 0.3s;
    }
  }

  &__input {
    display: none;
  }

  &__label {
    color: #5a646e;
  }

  &__link {
    color: #50287d;
    width: 100%;
    text-decoration: none;
  }
}

.primary-button {
  cursor: pointer;
  width: 100%;
  padding: 12px 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: white;
  background-color: #50287d;
  border-radius: 24px;
  text-align: center;
  box-sizing: border-box;
}

.label {
  width: 100%;
  padding: 3px 2px;
  font-size: 11px;
  line-height: 18px;
  color: white;
  background-color: #50287d;
  border-radius: 4px;
  text-align: center;
}

.primary-link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #50287d;
  display: block;
  width: 100%;
  text-decoration: none;
}

.visible {
  visibility: visible;
  // делает элемент страницы видимым (по умолчанию);
}

.hidden {
  visibility: hidden;
  // делает невидимым
}
