.main {
  position: relative;
  min-height: calc(100vh);
  background-color: #ffffff;

  @media screen and(min-width: 1024px) {
    margin-left: 355px;
  }
}

.article {
  width: 100%;
  padding-top: 96px;
  max-width: 944px;
  background-color: #fff;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;

  @media screen and (min-width: 576px) {
    padding-left: 28px;
    padding-right: 28px;
  }
}
em {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-style: oblique;
  font-size: 18px;
  line-height: 24px;
}

//  <b>  и <i> выделяют цветом синтаксис
b {
  font-family: inherit;
  font-weight: inherit;
  font-style: oblique;
  font-size: inherit;
  line-height: inherit;
  color: green;
}

i {
  font-family: inherit;
  font-weight: bold;
  font-size: 100%;
  color: green;
}

.h1-font,
.h2-font {
  color: black;
}
.display-block {
  display: block;
}

.compression {
  box-sizing: border-box;
  padding-right: 12px;
  padding-left: 12px;
}

// general

//   <!-- Linear-gradient Информация  -->
.linear-gradient {
  box-sizing: border-box;
  margin-right: -12px;
  margin-left: -12px;
  margin-bottom: 48px;

  &__heading {
    margin-bottom: 24px;
    text-align: center;
  }

  &__subheading {
    margin-bottom: 24px;
  }

  &__syntax-image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }

  &__syntax-picture {
    width: 100%;
    max-width: 552px;
    height: 46.38px;

    @media screen and (min-width: 375px) {
      height: 54.35px;
    }

    @media screen and (min-width: 411px) {
      height: 59.56px;
    }

    @media screen and (min-width: 540px) {
      height: 78px;
    }

    @media screen and (min-width: 552px) {
      height: 80px;
    }
  }

  &__text {
    margin-bottom: 24px;
  }

  &__sample {
    width: 100%;
    padding: 12px 24px;
    border-color: yellow;
    background-image: linear-gradient(yellow, green);
    margin-bottom: 24px;
  }

  &__syntax {
    width: 100%;
    margin-bottom: 24px;

    &_span {
      font-family: inherit;
      font-style: inherit;
      font-weight: normal;
      font-size: 13px;
      line-height: 24px;
      color: black;
    }
  }

  &__description {
    margin-bottom: 24px;
  }

  &__link {
    text-decoration: none;
    color: blueviolet;
  }
}
//   <!-- Linear-gradient Информация  -->

// <!-- examples  Примеры прямых переходов цветов из чёрного в белое -->
.examples {
  box-sizing: border-box;
  margin-right: -12px;
  margin-left: -12px;
  margin-bottom: 48px;

  &__heading {
    width: 100%;
    margin-bottom: 24px;

    @media screen and (min-width: 576px) {
      text-align: start;
    }
  }

  &__subheading {
    margin-bottom: 24px;
  }
}

.table-examples {
  width: 100%;

  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 48px;

  overflow-x: scroll;

  @media screen and (min-width: 576px) {
    overflow-x: hidden;
  }

  &__item {
    min-width: 198px;
    max-width: 198px;
    box-sizing: border-box;

    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid gray;
  }

  &__description {
    width: 100%;
    padding: 12px;
    text-align: center;
  }

  &__black-position {
    width: 100%;
    height: 72px;

    &_01 {
      background-image: linear-gradient(to top, black, white);
    }

    &_02 {
      background-image: linear-gradient(to left, black, white);
    }

    &_03 {
      background-image: linear-gradient(to bottom, black, white);
    }

    &_04 {
      background-image: linear-gradient(to right, black, white);
    }

    &_05 {
      background-image: linear-gradient(to top left, black, white);
    }

    &_06 {
      background-image: linear-gradient(to top right, black, white);
    }

    &_07 {
      background-image: linear-gradient(to bottom left, black, white);
    }

    &_08 {
      background-image: linear-gradient(to bottom right, black, white);
    }
  }

  &__yellow-position {
    width: 100%;
    height: 72px;

    &_01 {
      background-image: linear-gradient(to top, yellow, green);
    }

    &_02 {
      background-image: linear-gradient(to left, yellow, green);
    }

    &_03 {
      background-image: linear-gradient(to bottom, yellow, green);
    }

    &_04 {
      background-image: linear-gradient(to right, yellow, green);
    }

    &_05 {
      background-image: linear-gradient(to top left, yellow, green);
    }

    &_06 {
      background-image: linear-gradient(to top right, yellow, green);
    }

    &_07 {
      background-image: linear-gradient(to bottom left, yellow, green);
    }

    &_08 {
      background-image: linear-gradient(to bottom right, yellow, green);
    }
  }

  &__rainbow-position {
    width: 100%;
    height: 84px;

    &_01 {
      background-image: linear-gradient(
        to top,
        red,
        orange,
        yellow,
        green,
        rgb(0, 238, 255),
        blue,
        purple
      );
    }

    &_02 {
      background-image: linear-gradient(
        to left,
        red,
        orange,
        yellow,
        green,
        rgb(0, 238, 255),
        blue,
        purple
      );
    }

    &_03 {
      background-image: linear-gradient(
        to bottom,
        red,
        orange,
        yellow,
        green,
        rgb(0, 238, 255),
        blue,
        purple
      );
    }

    &_04 {
      background-image: linear-gradient(
        to right,
        red,
        orange,
        yellow,
        green,
        rgb(0, 238, 255),
        blue,
        purple
      );
    }

    &_05 {
      background-image: linear-gradient(
        to top left,
        red,
        orange,
        yellow,
        green,
        rgb(0, 238, 255),
        blue,
        purple
      );
    }

    &_06 {
      background-image: linear-gradient(
        to top right,
        red,
        orange,
        yellow,
        green,
        rgb(0, 238, 255),
        blue,
        purple
      );
    }

    &_07 {
      background-image: linear-gradient(
        to bottom left,
        red,
        orange,
        yellow,
        green,
        rgb(0, 238, 255),
        blue,
        purple
      );
    }

    &_08 {
      background-image: linear-gradient(
        to bottom right,
        red,
        orange,
        yellow,
        green,
        rgb(0, 238, 255),
        blue,
        purple
      );
    }
  }

  &__title {
    width: 100%;
    padding: 12px;
    text-align: center;
  }
}
// <!-- table-examples Примеры прямых переходов цветов из чёрного в белое -->

// <!-- angled-gradients Градиенты под углом -->
.angled-gradients {
  box-sizing: border-box;
  margin-right: -12px;
  margin-left: -12px;
  margin-bottom: 48px;

  &__compression {
    box-sizing: border-box;
    padding-right: 12px;
    padding-left: 12px;
  }

  &__heading {
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 24px;
  }

  &__image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }

  &__picture {
    width: 100%;
    max-width: 381px;
    height: 204.93px;

    @media screen and (min-width: 375px) {
      height: 240.16px;
    }

    @media screen and (min-width: 381px) {
      height: 244px;
    }
  }
}
// <!-- angled-gradients Градиенты под углом -->

// <!-- sample пример Градиенты под углом flower-->

.sample-flower {
  margin-bottom: 24px;

  &__subheading {
    margin-bottom: 24px;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__left {
    width: 100%;
    margin-bottom: 24px;

    @media screen and (min-width: 767px) {
      width: calc(50% - 12px);
      margin-right: 12px;
    }
  }
  &__description {
    margin-top: 48px;
  }

  &__right {
    width: 100%;
    display: flex;
    margin-bottom: 24px;

    @media screen and (min-width: 767px) {
      width: calc(50% - 12px);
      margin-left: 12px;
    }
  }
}

.flower {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &__leaf {
    margin: 0;
    width: 150px;
    height: 150px;
    background-color: #dfdfdf;
  }

  &__leaf-top-left {
    background-image: linear-gradient(135deg, #ff0000, #000000);
    border-radius: 0 50%;
  }

  &__leaf-top-right {
    /*градиент от #00ff00 к #000000*/
    background-image: linear-gradient(225deg, #00ff00, #000000);
    border-radius: 50% 0;
  }

  &__leaf-bottom-left {
    /*градиент от #ff00ff к #000000*/
    background-image: linear-gradient(45deg, #ff00ff, #000000);
    border-radius: 50% 0;
  }

  &__leaf-bottom-right {
    /*градиент от #ffff00 к #000000*/
    background-image: linear-gradient(315deg, #ffff00, #000000);
    border-radius: 0 50%;
  }
}
// <!-- sample пример Градиенты под углом flower-->

// <!-- sample примеры -->
.sample {
  margin-bottom: 24px;

  &__subheading {
    margin-bottom: 24px;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__left {
    width: 100%;
    margin-bottom: 24px;

    @media screen and (min-width: 767px) {
      width: calc(50% - 12px);
      margin-right: 12px;
    }
  }

  &__right {
    width: 100%;
    display: flex;
    margin-bottom: 24px;

    @media screen and (min-width: 767px) {
      width: calc(50% - 12px);
      margin-left: 12px;
    }
  }

  &__item {
    // Множество градиентов
    &_many-gradients {
      width: 100%;
      max-width: 356px;
      margin: auto;
      flex: none;
      padding: 24px 20px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 16px;
      line-height: 24px;
      color: #fff;
      background: #b5bdc8;
      background: linear-gradient(
        to top,
        rgba(30, 87, 153, 0),
        rgba(30, 87, 153, 0.8),
        rgba(30, 87, 153, 1),
        rgba(30, 87, 153, 1),
        rgba(41, 137, 216, 1),
        rgba(30, 87, 153, 1),
        rgba(30, 87, 153, 1),
        rgba(30, 87, 153, 0.8),
        rgba(30, 87, 153, 0)
      );
      border-radius: 20px;
      text-align: center;
    }
    // Множество градиентов

    // <!-- sample Градиенты под углом -->

    &_color-proportions {
      width: 100%;
      max-width: 356px;
      margin: auto;
      flex: none;
      padding: 24px 20px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 16px;
      line-height: 24px;
      color: #fff;
      background: #b5bdc8;
      background: linear-gradient(
        to top,
        #b5bdc8 0%,
        #828c95 36%,
        #28343b 100%
      );
      border: 1px solid #333;
      border-radius: 20px;
      text-align: center;
    }
  }
}
// <!-- sample примеры -->

//    <!-- color-stop Примеры колор стопов -->
.color-stop {
  margin-bottom: 48px;

  &__subheading {
    margin-bottom: 24px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__left {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 767px) {
      width: calc(50% - 12px);
      margin-right: 12px;
      justify-content: flex-start;
    }
  }

  &__description {
    display: block;
  }

  &__right {
    width: 100%;
    display: flex;
    align-items: center;

    @media screen and (min-width: 767px) {
      width: calc(50% - 12px);
      margin-left: 12px;
    }
  }

  &__appearance {
    width: 100%;
    max-width: 356px;
    margin: 0 auto;
    height: 24px;

    &_01 {
      background-image: linear-gradient(to right, yellow, green);
    }

    &_02 {
      background-image: linear-gradient(to right, yellow 0%, green 100%);
    }

    &_03 {
      background-image: linear-gradient(to right, yellow 0%, green 50%);
    }

    &_04 {
      background-image: linear-gradient(to right, yellow 50%, green 100%);
    }

    &_05 {
      background-image: linear-gradient(to right, yellow 25%, green 75%);
    }

    &_06 {
      background-image: linear-gradient(to right, red, yellow, green);
    }

    &_07 {
      background-image: linear-gradient(
        to right,
        red 0%,
        yellow 50%,
        green 100%
      );
    }

    &_08 {
      background-image: linear-gradient(
        to right,
        red 33%,
        yellow 66%,
        green 100%
      );
    }
  }
}
//    <!-- color-stop Примеры колор стопов -->

// <!-- repeating-gradient Повторяющийся линейный градиент -->
.repeating-gradient {
  margin-bottom: 48px;

  &__heading {
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 24px;
  }

  &__list {
    margin-bottom: 24px;
    margin-left: 24px;
  }

  &__subheading {
    margin-bottom: 24px;
  }

  &__row {
    width: 100%;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;

    @media screen and (min-width: 767px) {
      overflow-x: hidden;
    }
  }

  &__column {
    width: 198px;
    min-width: 198px;
    // margin-left: 12px;
    // margin-right: 12px;
    margin: 0 12px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid gray;
    box-shadow: 3px 3px 5px 5px rgb(179, 170, 170);
  }

  &__description {
    margin: 12px 0;
    text-align: center;
  }

  &__normal {
    width: 196px;
    height: 196px;
    background-color: blue;
    background-image: linear-gradient(none);

    &_01 {
      background-image: linear-gradient(black 0, green 25px, yellow 50px);
    }

    &_02 {
      background-image: linear-gradient(
        black 0,
        black 17px,
        green 17px,
        green 33px,
        yellow 33px,
        yellow 50px
      );
    }

    &_03 {
      background-image: linear-gradient(
        black 0,
        green 25px,
        yellow 50px,
        black 75px
      );
    }

    &_04 {
      background-image: linear-gradient(black 0, green 25%, yellow 50%);
    }
  }

  &__converted {
    width: 196px;
    height: 196px;
    background-color: blue;
    background-image: linear-gradient(none);

    &_01 {
      background-image: repeating-linear-gradient(
        black 0,
        green 25px,
        yellow 50px
      );
    }

    &_02 {
      background-image: repeating-linear-gradient(
        black 0,
        black 17px,
        green 17px,
        green 33px,
        yellow 33px,
        yellow 50px
      );
    }

    &_03 {
      background-image: repeating-linear-gradient(
        black 0,
        green 25px,
        yellow 50px,
        black 75px
      );
    }

    &_04 {
      background-image: repeating-linear-gradient(
        black 0,
        green 25%,
        yellow 50%
      );
    }
  }
}
// <!-- repeating-gradient Повторяющийся линейный градиент -->

// <!-- stylish-buttons Стильные кнопки -->
.stylish-buttons {
  margin-bottom: 48px;

  &__heading {
    margin-bottom: 24px;
  }

  &__row {
    width: 100%;
    margin-bottom: 24px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: scroll;

    @media screen and (min-width: 767px) {
      overflow-x: hidden;
    }
  }

  &__column {
    width: 284px;
    min-width: 284px;
    margin: 0 6px 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid gray;
    box-shadow: 3px 3px 3px 3px rgb(238, 196, 196);
    box-sizing: border-box;
  }

  &__wrapper {
    padding: 12px 24px;
    height: 168px;
  }

  &__description {
    display: block;
  }

  &__block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    width: 100%;
    max-width: 264px;
    padding: 12px 8px;
    // margin-bottom: 24px;
    text-align: center;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 3px #aaaaaa;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
    border-radius: 24px;
    background-color: rgba(41, 137, 216, 1);
    box-sizing: border-box;

    &_01 {
      background-image: linear-gradient(#ffffff, #dddddd);
      color: #333333;
    }

    &_02 {
      background-image: linear-gradient(#cc0630 0%, #8f0222 75%, #6d0019 100%);
      color: #ffffff;
    }

    &_03 {
      background-image: linear-gradient(
        #b8e1fc 0%,
        #90bcea 35%,
        #90bff0 50%,
        #6ba8e5 51%,
        #bdf3fd 100%
      );
      color: #ffffff;
    }
  }
}
// <!-- stylish-buttons Стильные кнопки -->

// footer
.footer {
  margin-bottom: 48px;

  &__text {
  }

  &__link {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: blue;
  }
}
// footer

// menu
.menu {
  background: rgba(230, 240, 250, 0.75);
  display: none;

  @media screen and (min-width: 1024px) {
    position: fixed;
    top: 72px;
    left: 0;
    display: block;
    height: 100vh;
    width: 355px;
    padding: 24px 28px;
  }

  &__list {
    padding: 6px 0;
    border-top: 1px solid #bfd1e4;
    margin-right: 10px;
  }

  &__link {
    text-decoration: none;
    color: #333333;
    padding: 6px 0;
  }

  &__item {
    margin-left: 24px;
    position: relative;
    padding: 6px 0;
    border-top: 1px solid #bfd1e4;

    &_link {
      text-decoration: none;
      color: #333333;
      padding: 6px 0;
      margin-right: 10px;
    }
  }

  &__transform {
    display: none;
  }

  &__transitions {
    display: none;
  }

  &__gradient {
    display: block;
  }

  &__shadow {
    display: none;
  }

  &__stuff {
    display: none;
  }

  &__forms {
    display: none;
  }

  &__table {
    display: none;
  }
}
// menu

// menu-mobile
.menu-mobile {
  width: 100%;
  height: 72px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: #e6f0fa;

  @media screen and (min-width: 1024px) {
    display: none;
  }

  &__logo-small {
    width: 24px;
    height: 24px;
  }

  &__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #ffffff;

    &_item {
      width: 5px;
      height: 5px;
      border-radius: 50%;

      &:nth-child(1) {
        background-color: #506478;
      }
      &:nth-child(2) {
        margin: 0 2px;
        background-color: rgba(80, 100, 120, 0.6);
      }
      &:nth-child(3) {
        background-color: rgba(80, 100, 120, 0.3);
      }
    }
  }
}
// menu-mobile

//   <!-- header  -->
.header {
  opacity: 0.5;
  width: 100%;
  height: 72px;
  position: fixed;
  top: 0;
  background: rgba(164, 74, 182, 0.8);
  background-image: linear-gradient(rgba(164, 74, 182, 0.8), yellow, white);
  box-shadow: 5px 5px 10px 3px white;
}
//   <!-- header  -->
