body * {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  //
  color: #28323c;
}

.main {
  position: relative;
  min-height: 100vh;
  background-color: #f3f5f7;

  @media screen and (min-width: 767px) {
    margin-left: 80px;
  }

  @media screen and (min-width: 1299px) {
    margin-left: 355px;
  }
}

// top-block
.top-block {
  width: 100%;
  background-color: #ffffff;
  padding: 92px 0 27px 24px;

  @media screen and (min-width: 375px) {
    padding-bottom: 67px;
  }

  @media screen and (min-width: 767px) {
    padding-left: 28px;
  }

  &__heading {
    font-size: 34px;
    line-height: 48px;
    align-items: center;
    color: #ff005a;
    margin-bottom: 84px;
  }

  &__phone-label {
    color: #96a0aa;
  }

  &__phone-value {
    font-size: 34px;
    line-height: 48px;
    margin-bottom: 32px;
  }

  &__policy {
    color: #96a0aa;
    margin-bottom: 10px;
  }

  &__policy-value {
    color: #96a0aa;
  }
}
// top-block

// attention
.attention {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 55px 28px 60px;
  display: flex;

  @media screen and (min-width: 1440px) {
    justify-content: flex-start;
  }
}
// attention

// list
.list {
  width: 100%;
  margin-right: 24px;

  @media screen and (min-width: 767px) {
    width: 50%;
  }

  @media screen and (min-width: 1440px) {
    width: 33.33%;
  }

  &__title {
    color: #96a0aa;
    margin-bottom: 14px;
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 14px;
  }

  &__description {
    color: #5a646e;
    position: relative;
    margin-left: 60px;

    &::before {
      content: url(../../assets/icons/dotPurple.svg);
      width: 6px;
      height: 6px;
      position: absolute;
      top: -2px;
      left: -17px;
    }
  }
}
// list

// info-block
.info-block {
  width: 50%;
  background-color: #ffffff;
  padding: 24px;
  display: none;

  @media screen and (min-width: 767px) {
    display: block;
  }

  @media screen and (min-width: 1440px) {
    width: 33.3%;
  }

  &__icon {
    margin-bottom: 24px;
  }

  &__notice {
    color: #96a0aa;
  }
}
// info-block
