body * {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #28323c;
}

.main {
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 944px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;

  @media screen and (min-width: 576px) {
    padding-left: 28px;
    padding-right: 28px;
  }
}

//  top-block
.top-block {
  width: 100%;
  max-height: 384px;
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &__container {
    padding-top: 120px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__heading {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin-top: 48px;
    margin-bottom: 24px;

    @media screen and (min-width: 818px) {
      font-size: 34px;
      line-height: 48px;
    }

    &_span {
      font-size: inherit;
      line-height: inherit;
      color: inherit;
    }
  }

  &__subhead {
    font-size: 13px;
    color: #ffffff;
    display: block;

    @media screen and (min-width: 767px) {
      font-size: 16px;
    }

    &_span {
      font-size: inherit;
      display: inline;
      color: inherit;
    }
  }

  &__button-container {
    margin-top: 48px;
    width: 100%;
    max-width: 300px;
  }
}
//  top-block

// prising
.prising {
  width: 100%;
  max-width: 944px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  padding: 60px 24px 48px;
  background: #ffffff;
  border-bottom: 1px solid #d2dce6;

  @media screen and (min-width: 576px) {
    padding-left: 28px;
    padding-right: 28px;
  }

  &__heading {
    font-size: 18px;
    margin-bottom: 36px;
    text-align: center;

    &_span {
      display: block;
    }
  }

  &__body {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: scroll;
  }

  &__column {
    cursor: pointer;
    min-width: 272px;
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #e6f0fa;
    box-sizing: border-box;

    &:hover {
      box-shadow: 0px 12px 24px rgba(26, 65, 101, 0.25);
      border-radius: 4px;
    }

    &:hover .prising__button {
      color: #ffffff;
      background-color: #50287d;
    }
  }

  &__wrapper {
    padding: 24px;
  }

  &__quantity {
    font-size: 34px;
    line-height: 48px;
    padding: 24px 0;
  }

  &__month {
    color: #5a646e;
  }

  &__price {
    margin-bottom: 72px;
  }

  &__description {
    font-size: 13px;
    color: #5a646e;
  }

  &__button {
    border-radius: 0px;
    text-align: start;
    padding: 24px;
    color: #50287d;
    background-color: #ffffff;
  }
}
// prising

// services
.services {
  width: 100%;
  background-color: #ffffff;
  padding-top: 48px;
  padding-bottom: 48px;

  &__row {
    justify-content: space-between;
  }

  &__wrapper {
    padding: 24px 0;
  }

  &__icon {
    margin-bottom: 24px;
    width: 48px;
    height: 48px;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__discription {
    color: #5a646e;
  }
}
// services

// content
.content {
  width: 100%;
  background-color: #ffffff;

  &__heading {
    font-size: 34px;
    line-height: 48px;
    margin-bottom: 48px;
  }
}
// content

//  content-list
.content-list {
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 24px;

  &__item {
    position: relative;
    margin-bottom: 24px;
    padding-left: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: " ";
      border-radius: 50%;
      width: 6px;
      height: 6px;
      background: #50287d;
      position: absolute;
      left: 9px;
      top: 9px;
    }
  }

  &__link {
    color: #50287d;
    text-decoration: none;
  }
}
//  content-list

// online-consultation
.online-consultation {
  margin-top: 24px;
  margin-left: 24px;
}
// online-consultation

//  content__image
.content-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;

  &__wrapper {
    width: 100%;
    height: 225px;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: 767px) {
      height: 100%;
    }
  }
}
//  content__image

// policy
.policy {
  width: 100%;
  background-color: white;
  padding-top: 72px;
  padding-bottom: 72px;
  border-top: 1px solid #d2dce6;

  &__head {
    background-color: white;
    padding-top: 72px;
    margin: 0 auto;
  }

  &__heading {
    font-size: 34px;
    line-height: 48px;
    color: #000000;
    margin-bottom: 48px;
    text-align: center;
  }

  &__body {
    width: 100%;
    max-width: 944px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 24px 72px;
    background: #f3f5f7;

    @media screen and (min-width: 576px) {
      padding-left: 28px;
      padding-right: 28px;
    }
  }

  &__container {
    max-width: 431px;
    margin: 0 auto;
  }

  &__checkbox {
    margin-top: 36px;
    margin-bottom: 84px;
  }

  &__button {
    background: #d2dce6;
    color: #96a0aa;
    font-size: 16px;
    line-height: 24px;
  }
}
// policy

//  <!-- header -->
.header {
  width: 100%;

  &__fixed {
    width: 100%;
    height: 72px;
    position: fixed;
    top: 0;
    background: rgba(40, 50, 60, 0.8);
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  &__images {
    padding-left: 12px;
    box-sizing: border-box;

    &_horisontal {
      display: none;

      @media screen and (min-width: 576px) {
        display: block;
      }
    }

    &_small {
      display: block;

      @media screen and (min-width: 576px) {
        display: none;
      }
    }
  }

  &__form {
    height: 24px;
  }

  &__select {
    padding-right: 12px;
    box-sizing: border-box;
    color: #ffffff;

    &:active {
      color: black;
    }
  }
}
//  <!-- header -->

// <!-- footer -->
.footer {
  width: 100%;
  background: #f3f5f7;
  padding-top: 48px;
  padding-bottom: 72px;

  &__block {
    padding-left: 0;

    @media screen and (min-width: 767px) {
      padding-left: 28px;
    }
  }

  &__string {
    color: #b5bdc8;

    &:first-child {
      margin-bottom: 24px;
    }

    &_span {
      display: block;
    }
  }
}
// <!-- footer -->
