.main {
  min-height: 100vh;
}
.container {
  width: 100%;
  max-width: 944px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;

  @media screen and (min-width: 576px) {
    padding-left: 28px;
    padding-right: 28px;
  }
}

.row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}

.p-l {
  // применять, если есть класс .row
  // и нет классов .col-1, .col-2,... .col-12
  padding-left: 12px;
  box-sizing: border-box;
}

.p-r {
  // применять, если есть класс .row
  // и нет классов .col-1, .col-2,... .col-12
  padding-right: 12px;
  box-sizing: border-box;
}

//  <!-- header -->
.header {
  width: 100%;

  &__fixed {
    width: 100%;
    height: 72px;
    position: fixed;
    top: 0;
    background-color: rgba(40, 50, 60, 0.8);
  }

  &__container {
    max-width: 944px;
    margin: 0 auto;
    padding: 0 28px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    // margin: 0 12px;
  }

  &__image {
    padding-left: 12px;
    box-sizing: border-box;

    &_big {
      display: none;

      @media screen and (min-width: 767px) {
        display: block;
      }
    }

    &_small {
      display: block;

      @media screen and (min-width: 767px) {
        display: none;
      }
    }
  }

  &__sity {
    color: white;
    padding-right: 12px;
    box-sizing: border-box;
  }
}
//  <!-- header -->

// <!-- top-block -->
.top-block {
  padding-top: 72px;
  width: 100%;
  // height: 384px;
  background-position: center;
  background-size: cover;

  &__container {
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__row {
  }

  &__title {
    margin-bottom: 24px;
    color: white;
  }

  &__offer {
    margin-bottom: 48px;
    color: white;
  }

  &__transfer {
    display: block;
  }

  &__button {
    width: 100%;

    @media screen and (min-width: 375px) {
      max-width: 295px;
    }
  }
}
// <!-- top-block -->
