body * {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #28323c;
}

.main {
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 944px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;

  @media screen and (min-width: 576px) {
    padding-left: 28px;
    padding-right: 28px;
  }
}

//  <!-- top-block -->
.top-block {
  width: 100%;
  max-height: 384px;
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &__container {
    padding-top: 120px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__heading {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin-top: 48px;
    margin-bottom: 24px;

    @media screen and (min-width: 818px) {
      font-size: 34px;
      line-height: 48px;
    }
  }

  &__subhead {
    font-size: 13px;
    color: #ffffff;
    margin-bottom: 48px;

    @media screen and (min-width: 767px) {
      font-size: 16px;
    }

    &_span {
      font-size: inherit;
      display: inline;
      color: inherit;

      @media screen and (min-width: 384px) {
        display: block;
      }
    }
  }

  &__button-container {
    width: 100%;
    max-width: 300px;
  }
}
//  <!-- top-block -->

//  <!-- pricing -->
.pricing {
  width: 100%;
  max-width: 944px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  background: #ffffff;
  padding: 48px 24px;

  @media screen and (min-width: 576px) {
    padding-top: 72px;
    padding-left: 28px;
    padding-right: 28px;
  }

  &__triple-switch {
    margin-bottom: 24px;
    display: none;

    @media screen and (min-width: 767px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.pricing-bloc {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;

  @media screen and (min-width: 992px) {
    overflow-x: hidden;
  }

  &__column {
    min-width: 276px;
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    justify-content: space-between;
    position: relative;
    text-align: left;

    border: 1px solid #e6f0fa;
    box-sizing: border-box;

    &:hover {
      box-shadow: 0px 12px 24px rgba(26, 65, 101, 0.25);
    }

    &:hover .pricing-bloc__button {
      color: white;
      background-color: #50287d;
    }
  }

  &__wrapper {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
  }

  &__subhead {
    color: #96a0aa;
  }

  &__icon {
    width: 24px;
    height: 26px;
  }

  &__price {
    font-size: 34px;
    line-height: 48px;
    margin-bottom: 24px;
  }

  &__box {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 24px 0;
    border-bottom: 1px solid #d2dce6;
    box-sizing: border-box;

    &:last-child {
      border: none;
    }
  }

  &__link {
    white-space: normal;
    cursor: pointer;
    color: #5a646e;
    text-decoration: none;
    margin-left: 12px;
  }

  &__button {
    cursor: pointer;
    max-width: 100%;
    border-radius: 0;
    color: #50287d;
    background: #ffffff;
  }
}
//  <!-- pricing -->

//  <!-- content-top -->
.content-top {
  width: 100%;
  background-color: #f3f5f7;
  padding-top: 48px;
  padding-bottom: 48px;

  &__heading {
    display: block;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 36px;

    @media screen and (min-width: 767px) {
      font-size: 34px;
      line-height: 48px;
    }
  }

  &__description {
    margin-bottom: 24px;
    font-size: 13px;

    @media screen and (min-width: 767px) {
      font-size: 16px;
      line-height: 24px;
    }

    &:nth-child(2) {
      color: #5a646e;
    }

    &:nth-child(3) {
      @media screen and (min-width: 767px) {
        font-size: 17px;
      }
    }
  }

  &__images {
    width: 100%;
    position: relative;

    @media screen and (min-width: 576px) {
      height: 100%;
    }
  }

  &__picture {
    width: 100%;
    height: 262px;
    background-position: center center;
    background-size: cover;
    display: block;

    @media screen and (min-width: 576px) {
      width: 57.3%;
      height: 216px;
      position: absolute;
    }

    &:first-child {
      margin-bottom: 24px;

      @media screen and (min-width: 576px) {
        bottom: 0;
        left: 0;
      }
    }

    &:last-child {
      @media screen and (min-width: 576px) {
        top: 0;
        right: 0;
      }
    }
  }

  &__button-container {
    margin-top: 24px;
    width: 100%;
    max-width: 319px;
  }

  &__button {
    display: block;
    background-color: #f3f5f7;
    color: #50287d;
    border: 2px solid #50287d;
  }
}
//  <!-- content-top -->

//  <!-- content -->
.content {
  width: 100%;
  background-color: #f3f5f7;
  border-top: 1px solid #d2dce6;
  padding-top: 48px;
  padding-bottom: 48px;

  &__box {
    margin-bottom: 24px;
  }

  &__column {
    flex: 0 0 100%;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
    padding-right: 12px;
    padding-left: 12px;

    @media screen and (min-width: 767px) {
      flex: 0 0 33.333333%;
      width: 33.333333%;
    }
  }

  &__image {
    width: 100%;
    aspect-ratio: 281 / 216;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__subhead {
    width: 100%;
    font-size: 18px;
    padding: 24px;
    color: #ffffff;
    background: #28323c;
    opacity: 0.65;
  }

  &__discription {
    width: 100%;
    margin-bottom: 24px;

    @media screen and (min-width: 767px) {
      width: 100%;
      margin-bottom: 0px;
    }

    @media screen and (min-width: 1024px) {
      width: 100%;
    }
  }

  &__link {
    text-decoration: none;
    color: #50287d;
  }
}
//  <!-- content -->

//  <!-- block-reasons -->
.bloc-reasons {
  width: 100%;
  background: #f3f5f7;
  padding-top: 48px;
  padding-bottom: 48px;

  border-top: 1px solid #d2dce6;

  &__header {
    width: 100%;
    margin-bottom: 24px;
  }

  &__heading {
    font-size: 18px;
    line-height: 24px;

    @media screen and (min-width: 767px) {
      font-size: 34px;
      line-height: 48px;
    }

    &_span {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
      color: inherit;
      display: block;
    }

    &_link {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
      color: inherit;
      text-decoration: none;
    }

    @media screen and (min-width: 576px) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__range {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid white;
  }

  &__column {
    width: 50%;
    border: 2px solid white;
    box-sizing: border-box;

    @media screen and (min-width: 767px) {
      width: 25%;
    }

    @media screen and (min-width: 1024px) {
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px;
  }

  &__icon {
    margin-bottom: 24px;
  }

  &__quantity {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;

    @media screen and (min-width: 767px) {
      font-size: 34px;
      line-height: 48px;
    }

    @media screen and (min-width: 1024px) {
      font-size: 34px;
      line-height: 48px;
    }
  }

  &__discription {
    font-size: 13px;
    color: #78828c;

    @media screen and (min-width: 767px) {
      font-size: 16px;
    }
  }
}
//  <!-- block-reasons -->

// <!-- order -->
.order {
  width: 100%;
  background: #ffffff;
  padding-top: 48px;
  padding-bottom: 74px;

  &__heading {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
    text-align: center;

    @media screen and (min-width: 576px) {
      text-align: start;
    }

    @media screen and (min-width: 767px) {
      font-size: 34px;
      line-height: 48px;
    }
  }
}

.opder-list {
  &__step {
    display: flex;
    margin-bottom: 24px;
    justify-content: flex-start;
    align-items: baseline;
  }

  &__number {
    margin-right: 8px;
    min-height: 24px;
    min-width: 24px;
    background-color: #f3f5f7;
    color: #00d2ff;
    text-align: center;
    flex: none;
  }
}

.renaissance-video {
  width: 100%;
  height: 154px;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 375px) {
    height: 212px;
  }

  @media screen and (min-width: 475px) {
    height: 268px;
  }

  @media screen and (min-width: 576px) {
    height: 325px;
  }

  @media screen and (min-width: 767px) {
    height: 216px;
  }
}
// <!-- order -->

// <!-- package-->
.package {
  width: 100%;
  background-color: white;
  padding-top: 72px;
  padding-bottom: 72px;
  border-top: 1px solid #d2dce6;

  &__heading {
    font-size: 18px;
    line-height: 24px;
    margin-top: 72px;
    margin-bottom: 48px;
    color: #000000;
    text-align: center;

    @media screen and (min-width: 767px) {
      font-size: 34px;
      line-height: 48px;
    }
  }

  &__container {
    padding-bottom: 72px;
    padding-top: 72px;
  }

  &__wrapper {
    max-width: 431px;
    margin: 0 auto;
  }

  &__checkbox {
    margin-top: 36px;
    margin-bottom: 84px;
  }

  &__button {
    background: #d2dce6;
    color: #96a0aa;
    font-size: 16px;
    line-height: 24px;
  }
}
// <!-- package-->

// rh-checkbox
.r-checkbox {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  display: flex;
  align-items: center;
  cursor: pointer;

  &__icon {
    padding: 2px;
    height: 24px;
    display: flex;
    align-self: flex-start;
    margin-right: 18px;
    flex: none;
  }

  &__checker {
    width: 20px;
    height: 20px;
    border: 2px solid #95bef0;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;

    &:hover::before {
      content: "";
      width: 10px;
      height: 10px;
      margin: auto;
      background-color: transparent;
    }

    &:active::before {
      content: "";
      width: 10px;
      height: 10px;
      margin: auto;
      background-color: #00d2ff;
      transform: scale(1.2);
      transition: all 0.2s linear;
    }
  }

  &__input {
    display: none;
  }

  &__agreeLink {
    line-height: 24px;
  }

  &__link {
    color: #50287d;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
  }
}
// rh-checkbox

// <!-- footer -->
.footer {
  width: 100%;
  background: #f3f5f7;
  padding-top: 48px;
  padding-bottom: 72px;

  &__bloc {
    padding-left: 0;

    @media screen and (min-width: 767px) {
      padding-left: 28px;
    }
  }

  &__address {
    color: #b5bdc8;

    &:first-child {
      margin-bottom: 24px;
    }

    &_span {
      display: block;
    }
  }
}
// <!-- footer -->

//  <!-- header  -->
.header {
  width: 100%;

  &__fixed {
    width: 100%;
    height: 72px;
    position: fixed;
    top: 0;
    background: rgba(40, 50, 60, 0.8);
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  &__images {
    padding-left: 12px;
    box-sizing: border-box;

    &_horisontal {
      display: none;

      @media screen and (min-width: 576px) {
        display: block;
      }
    }

    &_small {
      display: block;

      @media screen and (min-width: 576px) {
        display: none;
      }
    }
  }

  &__form {
    height: 24px;
  }

  &__select {
    padding-right: 12px;
    box-sizing: border-box;
    color: #ffffff;

    &:active {
      color: black;
    }
  }
}
//  <!-- header -->
