.main {
  width: 100%;
}

.header {
  width: 100%;
  height: 409px;
  // or other !!! heigth
  margin: 0 auto;
  background: #5a646e;

  @media screen and (min-width: 767px) {
    height: 384px;
    background-image: url(../../assets/images/Hero-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.top-menu {
  width: 100%;
  height: 72px;
  background-color: rgba(40, 50, 60, 0.8);
  padding: 24px 0;

  &__container {
    max-width: 888px;
    margin: 0 32px 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 1024px) {
      margin: 0 auto;
    }
  }

  &__image {
    &_horizontal {
      display: none;
      @media screen and (min-width: 767px) {
        display: block;
      }
    }
    &_small-logo {
      display: block;
      @media screen and (min-width: 767px) {
        display: none;
      }
    }
  }
  &__select {
    font-family: Gerbera;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;

    &_item {
      background-color: rgba(40, 50, 60, 0.8);
    }
  }
}

.top-block {
  max-width: 888px;
  margin: 48px 24px 0;

  @media screen and (min-width: 1024px) {
    margin: 48px auto 0;
  }

  &__title {
    color: #ffffff;
    width: 240px;

    @media screen and (min-width: 767px) {
      width: 100%;
      font-size: 34px;
      line-height: 48px;
    }
  }

  &__text {
    color: #ffffff;
    margin-top: 24px;
    width: 220px;

    @media screen and (min-width: 767px) {
      width: 52%;
      font-size: 16px;
      line-height: 24px;
    }

    @media screen and (min-width: 1024px) {
      width: 43%;
      width: 43%;
    }
  }

  &__button {
    max-width: 327px;
    margin: 48px 0;

    @media screen and (min-width: 767px) {
      max-width: 300px;
      margin: 48px 0 0 0;
    }
  }
}

.pricing {
  max-width: 888px;
  margin: 24px auto;
  padding: 24px 0;

  @media screen and (min-width: 767px) {
    margin: 48px auto;
    padding: 48px 0;
    // они схлопываются, итого отступ сверху 48
    //  но без паддинга не работает маржин
  }
}

.pricing-header {
  display: none;

  @media screen and (min-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f5f7;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 36px;
  }

  &__item {
    padding: 19px 27px;
    margin: 5px;
    color: #5a646e;
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px rgba(26, 65, 101, 0.15);
    border-radius: 31px;

    :active {
      border: 2px solid #00d2ff;
    }
  }
}

.pricing {
  &__container {
    max-width: 888px;
    margin: 23px auto 0;
    padding-top: 1px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__column {
    background: #ffffff;

    &:hover .pricing__wrapper {
      box-shadow: 0px 12px 24px rgba(26, 65, 101, 0.25);
    }

    &:hover .pricing__button {
      color: white;
      background-color: #50287d;
    }
  }

  &__wrapper {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #e6f0fa;
    box-sizing: border-box;
  }

  &__name {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;

    &_item {
      color: #96a0aa;
    }

    &_popular {
      background: #fcc8be;
      border-radius: 12px;
      padding: 0 9px;
      color: #ffffff;
      margin-left: 40px;
    }
  }

  &__price {
    margin-bottom: 24px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 24px;

    &_01 {
      color: #5a646e;
      margin-left: 12px;
    }

    &_02 {
      color: #5a646e;
      margin-left: 12px;
    }

    &_03 {
      color: #5a646e;
      margin-left: 12px;
    }

    &_04 {
      color: #5a646e;
      margin-left: 12px;
    }
  }

  &__button {
    cursor: pointer;
    max-width: 100%;
    border-radius: 0;
    color: #50287d;
    background: #ffffff;
  }
}
